[2014-06-13 15:15] lunny opened #1 "Have you considered to use pure Go leveldb to replace cgo leveldb?"
I like pure Go project.

[2014-06-20 06:54] #1 closed, assigned to nobody

[2014-07-04 02:58] siddontang opened #2 "ttl iterator limit range cpu 100%"
Only appears once and not reappears anymore.

Record here to pay attention to.

[2014-07-08 02:27] siddontang opened #3 "binlog reduce performance"
Maybe I will implement another better replication merchanism

[2014-07-09 12:25] ckrissun opened #4 "can I use it in production environment?"
Now I am using  `Redis` in a game server. But it may use too much memory, can I use this project in the game server?  Thanks!

[2014-07-15 23:35] #4 closed, assigned to nobody

[2014-07-18 11:16] Michael2008S opened #6 "libleveldb.so.1: cannot open shared object file: No such file or directory"
遇到这个问题请问怎么解决?

[code]

leveldb已经编译,并且库文件已经ln -s 到/usr/local/lib

[code]

[2014-07-18 11:35] #6 closed, assigned to nobody

[2014-07-21 02:19] siddontang opened #7 "redis-cli complete hook"

[2014-07-21 02:19] siddontang opened #8 "restful api"

[2014-07-21 02:20] siddontang opened #9 "config and info command"

[2014-07-21 02:21] siddontang opened #10 "integrate goleveldb + leveldb + rocksdb"

[2014-07-21 02:25] siddontang opened #11 "ledis-binlog enhance"
patch binlog to database

[2014-07-21 02:26] siddontang opened #12 "replication enhance"
refer mysql, maybe refactor

[2014-07-21 02:27] siddontang opened #13 "official website refactor"
use bootstrap?

[2014-07-21 02:29] siddontang opened #14 "c/c++ client api"

[2014-07-21 19:29] robert-zaremba opened #15 "Add transaction support"
It would be nice to have at least redis-like transactions.

[2014-07-21 19:31] robert-zaremba opened #16 "Add scripting"
To achieve atomicity with more sophisticated record manipulation, redis has a scripting support. http://redis.io/commands/eval
Lua scripting is very easy to embed and is super fast (especially luajit)
It would be great to add have something similar in ledisdb.

[2014-07-22 12:13] #7 closed, assigned to nobody

[2014-07-23 09:01] siddontang opened #17 "transaction support"
db supports begin commit rollback

[2014-07-23 23:46] siddontang opened #19 "embed lua?"
use https://github.com/stevedonovan/luar or other?

but must support transaction first

[2014-07-24 02:27] siddontang opened #20 "tool:migrate from redis to ledis"

[2014-07-24 02:32] siddontang opened #21 "support data structure sets"

[2014-07-24 02:32] siddontang opened #22 "support data struct hyperloglog"

[2014-07-24 02:36] siddontang opened #23 "error input params test"

[2014-07-24 02:39] siddontang opened #24 "migrate command support"
see redis migrate command [migrate](http://redis.io/commands/migrate)

[2014-07-24 02:39] siddontang opened #25 "dump and restore command support"
see redis dump and restore

[2014-07-24 02:47] siddontang opened #26 "move command support"
move
hmove
lmove
zmove
bmove

[2014-07-24 07:19] #3 closed, assigned to siddontang

[2014-07-25 16:48] #2 closed, assigned to nobody

[2014-07-26 10:41] siddontang opened #27 "rocksdb tunning"
https://github.com/facebook/rocksdb/wiki/RocksDB-Tuning-Guide

add correspond option function to set

[2014-07-26 14:03] caio-ribeiro-pereira opened #28 "LedisDB on Node.js"
Hi guys!

Is there a way to use LedisDB on Node.js?

Thanks

[2014-07-26 23:04] siddontang opened #29 "nodejs support"

[2014-07-28 15:33] #10 closed, assigned to siddontang

[2014-07-29 06:28] siddontang opened #30 "boltdb and kv support"
[boltdb](https://github.com/boltdb/bolt)
[kv](https://github.com/cznic/kv)

[2014-07-30 00:36] siddontang opened #31 "benchmark"
redis-benchmark -n 50000 -t set,incr,get,lpush,lpop,lrange,mset -q

Redis: only cache, no file save
SSDB
LedisDB + LevelDB
LedisDB + goleveldb
LedisDB + RocksDB
LedisDB + LMDB

Before every bench, remove all old data first

Set result in wiki

[2014-08-01 02:33] siddontang opened #32 "multi db instance"
support multi disks ?

[2014-08-01 12:46] railsmechanic opened #33 "Add support for boltdb?"
Hi all!
Is it possible to add support for [boltdb](https://github.com/boltdb/bolt) to ledis?
BoltDB is quite similar to goleveldb and attempts to gain some momentum (690 stars).

Many thanks for ledisdb, it's a great project!

[2014-08-02 04:37] ckrissun opened #34 "master branch: fail to build leveldb support"
just issued cannot find lib snappy.

in dev.sh, fix as follow:

[code]

[2014-08-04 06:27] #8 closed, assigned to nobody

[2014-08-04 06:27] #33 closed, assigned to nobody

[2014-08-04 07:34] siddontang opened #35 "restful api test"

[2014-08-05 03:48] #29 closed, assigned to nobody

[2014-08-05 03:48] #34 closed, assigned to nobody

[2014-08-05 03:48] #35 closed, assigned to nobody

[2014-08-05 07:15] #28 closed, assigned to nobody

[2014-08-05 14:03] siddontang opened #36 "lmdb sync configuration"
- sync every commit
- sync N seconds
- async(no sync)

[2014-08-05 14:47] pkieltyka opened #37 "Go dependencies"
Perhaps instead of bootstrap.sh where you go get a bunch of libraries, instead of Goop (https://github.com/nitrous-io/goop) or Godeps (https://github.com/tools/godep) .. these are two popular ways of managing dependencies in a Go project. :+1:

[2014-08-05 14:55] pkieltyka opened #38 "Ledis-server cli, config file required"
My first time playing with ledis-server, just wanted to offer some feedback. The "-config" file must exist or the server can't be started. Rather it makes more sense to either require config or db_name to start since the config file doesnt have anything in it besides the db_name.

Also, perhaps instead of a json config file you could use https://github.com/BurntSushi/toml ? .. doesnt really matter

[2014-08-06 09:10] #16 closed, assigned to nobody

[2014-08-06 09:11] #23 closed, assigned to nobody

[2014-08-06 09:11] #27 closed, assigned to nobody

[2014-08-06 14:40] siddontang opened #39 "refactor configuration"
use toml instead of json

[2014-08-07 02:31] #30 closed, assigned to nobody

[2014-08-07 23:54] #39 closed, assigned to siddontang

[2014-08-08 01:40] siddontang opened #40 "zunionstore zinterstore support"
http://redis.io/commands/zunionstore

http://redis.io/commands/zinterstore

[2014-08-08 04:50] siddontang opened #41 "HyperLevelDB support?"
https://github.com/rescrv/HyperLevelDB

[2014-08-10 16:21] blinkinglight opened #42 "replication enhance v2"
i thought. if all servers have [ip1, ip2, ip3] synced list from master[ip1]. and if i request eg. "set" operation on ip2 and if ip1 alive -> just proxy it. (maybe keep set operation on local "tmp" table)
any new "slave-of" registers to master and all slaves can became master. becouse any slave knows where too route "write" request.
if master timeout - write to second ip :)
when server "wake ups" -

[2014-08-11 06:01] #38 closed, assigned to nobody

[2014-08-12 06:11] #41 closed, assigned to nobody

[2014-08-12 06:11] #14 closed, assigned to Gohan

[2014-08-12 06:11] #13 closed, assigned to nobody

[2014-08-12 06:12] #20 closed, assigned to nobody

[2014-08-12 06:20] siddontang opened #43 "scan refactor"
scan kv
hscan hash

[2014-08-12 06:21] siddontang opened #44 "flush refactor"
using scan, hscan ... to delete safely

[2014-08-14 09:32] siddontang opened #45 "tokuft support"
tokuft https://github.com/Tokutek/ft-index

go-tokuft https://github.com/siddontang/go-tokuft

refer mdb or boltdb, tokuft supports transaction

[2014-08-15 01:21] #40 closed, assigned to nobody

[2014-08-15 01:22] #42 closed, assigned to nobody

[2014-08-15 01:28] #37 closed, assigned to nobody

[2014-08-15 02:51] #36 closed, assigned to siddontang

[2014-08-15 08:17] ironsweet opened #46 "undefined: strdup"
我仿照首页的指示写了个小程序，但遇到一个错误：
github.com/szferi/gomdb(.text): undefined: strdup

[code]

这个可能不是ledisdb的问题，但我没搜到什么办法跳过这个步骤，只查到说strdup本身不是一个标准的C方法。另外我用默认的goleveldb，能不依赖gomdb这个库么？

我的环境是windows8，git shell，装了mingw-w64，Go1.3

[2014-08-16 01:54] #24 closed, assigned to nobody

[2014-08-16 01:54] #21 closed, assigned to nobody

[2014-08-16 01:56] #26 closed, assigned to nobody

[2014-08-16 01:57] #9 closed, assigned to nobody

[2014-08-16 02:24] #17 closed, assigned to siddontang

[2014-08-16 02:27] siddontang opened #47 "ledisdb cluster support?"
@silentsai @wenyekui  @holys @tiaotiaoyly

I think we should begin to support cluster, `qpush` now uses 2 ledis-server, maybe more later.

I think it is very complicated for redis3.0 cluster solution, (if someone want to learn it and can promise that has the power to do it, very welcome!!!) .

I want to use a proxy solution, like https://github.com/siddontang/mixer or https://github.com/twitter/tw

[2014-08-16 09:16] #43 closed, assigned to nobody

[2014-08-16 09:16] #44 closed, assigned to nobody

[2014-08-16 09:20] #22 closed, assigned to nobody

[2014-08-16 09:26] #32 closed, assigned to nobody

[2014-08-16 09:28] siddontang opened #48 "use twemproxy"
https://github.com/twitter/twemproxy

[2014-08-18 07:08] siddontang opened #49 "store snapshort support"
add snapshot interface, all backend dbs must support

[2014-08-18 07:10] siddontang opened #50 "store Compact support"
`leveldb*` support compact function to reduce db size

I don't know whether boltdb and lmdb support, google

[2014-08-18 08:59] guileen opened #51 "why need clone to src/github.com/siddontang/ledisdb"
I want to clone the repository to a folder not contain path `src/github.com/siddontang/ledisdb`

but when I follow the README do `source dev.sh` the shell crashed.

It seems that I must clone the project into `src/github.com/siddontang/ledisdb`, I think it is not necessary.

[2014-08-18 09:33] #51 closed, assigned to nobody

[2014-08-20 09:43] #45 closed, assigned to nobody

[2014-08-20 12:53] gl-works opened #54 "Support "scan"?"
It seems scan is unsupported after reading the docs and redis-cli test. I think scan is a unreplacable and useful feature.

[2014-08-20 13:25] siddontang opened #55 "support scan in server command"
Try to think another name for no doubt with Redis scan, hscan, etc.

[2014-08-20 14:51] siddontang opened #56 "scan add match support"

[2014-08-20 23:52] #46 closed, assigned to nobody

[2014-08-20 23:52] #11 closed, assigned to silentsai

[2014-08-20 23:52] #12 closed, assigned to silentsai

[2014-08-26 09:59] joliny opened #57 "能否把主从备份给加上,不然生产上无法使用"
如题

[2014-08-26 10:02] #57 closed, assigned to nobody

[2014-08-27 01:38] #49 closed, assigned to nobody

[2014-08-27 01:38] #55 closed, assigned to nobody

[2014-08-27 01:38] #56 closed, assigned to nobody

[2014-08-27 01:38] #54 closed, assigned to nobody

[2014-08-27 07:31] #48 closed, assigned to nobody

[2014-08-27 07:31] #25 closed, assigned to nobody

[2014-08-28 00:55] siddontang opened #59 "binlog format use statement instead of row?"
maybe use a configuration to choose use statement or row?

[2014-08-28 02:09] #15 closed, assigned to nobody

[2014-09-02 14:47] #19 closed, assigned to nobody

[2014-09-02 23:44] #59 closed, assigned to nobody

[2014-09-05 15:33] funvit opened #62 "Cant compile for windows (syscall troubles)"
Cant compile with

[code]

... using cross-compiling tools on OSX

Until commenting this lines:

[code]

and comment "syscall" in import block...

Any ideas how to do a fix for compile-time? Checking runtime.GOOS wont help...

[2014-09-07 00:48] #62 closed, assigned to nobody

[2014-09-07 12:48] robert-zaremba opened #63 "rocksdb support - ledisdb build error"
When building a ledisdb, setting up correct rocksdb env variables, I'm getting a following error:

[code]

LedisDB version: commit 4989bfa22f8
Rocksdb version: 3.5

[2014-09-07 19:14] robert-zaremba opened #64 "python package motivation"
Hi,
I'm starting to using ledisdb in my project. What's the motivation for a _ledis-py_ package? What are a differences compared to a standard _redis_ python package? I'm going to access ledis from Haskell. What I will loose using a redis package?

[2014-09-08 12:48] siddontang opened #65 "use raft for replication"
Using raft for synchronous replication, why not Paxos? I don't understand Paxos at all.

[2014-09-08 12:51] siddontang opened #66 "add wiki for API changes from Redis"
List the different API between LedisDB and Redis, then other people can write their own client easily and explicitly.

[2014-09-08 12:55] #64 closed, assigned to nobody

[2014-09-09 00:49] pkieltyka opened #67 "KEYS command"
Hello,

I was wondering what you think about adding a "KEYS" command, or something like it. Is it because the database can grow to an enormous size? Perhaps adding ledis-only commands as like XBLAH ... and then add, XKEYS 0 100 which would return keys 0 to 100 or something.

[2014-09-09 00:52] #67 closed, assigned to nobody

[2014-09-09 01:14] siddontang opened #68 "move scan to xscan"
scan is different from Redis, maybe the best way is to rename to reduce confusion.

[2014-09-09 01:46] pkieltyka opened #69 "update goleveldb"
Btw, https://github.com/syndtr/goleveldb has had a lot of updates since the version used with ledisdb

[2014-09-09 02:59] #69 closed, assigned to nobody

[2014-09-09 04:08] pkieltyka opened #70 "Dockerfile"
Btw, I made a docker image for ledisdb with rocksdb and leveldb installed: https://github.com/pressly/docker-ledisdb

[2014-09-09 04:40] #68 closed, assigned to siddontang

[2014-09-09 04:42] #70 closed, assigned to nobody

[2014-09-09 04:43] #63 closed, assigned to nobody

[2014-09-09 04:43] #66 closed, assigned to siddontang

[2014-09-16 22:40] robert-zaremba opened #71 "ZLEXCOUNT"
This command is not implemented. As well as: `ZRANGEBYLEX` , `ZRANGEBYLEX`
http://redis.io/commands/zlexcount

[2014-09-16 22:45] robert-zaremba opened #72 "DBSIZE"
This command is missing.
http://redis.io/commands/dbsize

[2014-09-17 16:03] dancebear opened #73 "server crashed"
when execute command like HXSCAN or SXSCAN etc. (exception SCAN) with argument COUNT and count value is 0 ,the ledis server will crash().

[2014-09-18 01:10] #73 closed, assigned to nobody

[2014-09-18 01:23] siddontang opened #75 "Remove transaction support"
Only boltdb and lmdb support transaction,  it is not necessary but causes coding hard instead.

We can use lua to support simple transaction and later I will support `multi`, `discard` and `exec`.

[2014-09-18 02:49] #50 closed, assigned to nobody

[2014-09-18 23:38] emilgpa opened #76 "How I update ledisdb?"
Hi,
Recently I have installed ledisdb, but i have a doubt, when ledisdb is updated, how I do it?

[2014-09-19 14:25] emilgpa opened #77 "Server crash (maybe for data_dir)"
Hi,
I use ledis with goleveldb, I configured the ledis.conf as follows:

[code]

I use this by package, and it crash. If I change "data_dir" as follow:

[code]

It's works.

The error is as below:

[code]

[2014-09-19 16:37] datastream opened #78 "APPEND"
simple hack code，without read any code and doc. any suggestion?

[code]

[2014-09-20 00:38] #77 closed, assigned to nobody

[2014-09-20 00:39] siddontang opened #79 "Using file lock to promise only one application can use ledisdb with same path"
see #77

[2014-09-20 11:53] robert-zaremba opened #80 "[DOC] Are there any objections to use multiple databases (SELECT)"
Currently in my project I'm using 3 database at once:

[code]

Motivation: to have easy namespace for keys.
All of them are under heavy use.

Is there any objection for workflow (having multiple databases at once) in ledis?

[2014-09-23 21:33] glycerine opened #81 "how to take backups"
How does one backup and restore in ledisdb?

Thanks.

Jason

[2014-09-26 04:00] doylecnn opened #83 "How to build on windows?"
How to build on windows?

[2014-09-26 10:48] kouhate opened #84 "How to daemonize?"
Hi, there.

Please provide "daemonize yes" and "pidfile /path/to/ledis.pid" options.
I want to run the process as daemon.

And reverse scan commands are needed.
Getting hset-pairs in reverse order helps us to denormalize timeseries datas.

[2014-09-26 14:29] #83 closed, assigned to nobody

[2014-09-26 19:14] #80 closed, assigned to nobody

[2014-09-27 01:29] #75 closed, assigned to nobody

[2014-09-27 01:34] #79 closed, assigned to nobody

[2014-09-27 01:34] #76 closed, assigned to nobody

[2014-09-27 04:35] #84 closed, assigned to nobody

[2014-09-29 08:30] genedna opened #85 "Couldn't install at go 1.3.2"
[code]

[2014-10-02 05:23] #85 closed, assigned to nobody

[2014-10-08 03:21] #71 closed, assigned to nobody

[2014-10-08 03:21] #81 closed, assigned to nobody

[2014-10-09 02:37] eryx opened #87 "crash when command with INFO"
OS: CentOS 7.0, x86_64
go version go1.3.1 linux/amd64
ledis: git-master + leveldb

when command with:
ledis-cli
127.0.0.1:6380>info
EOF
127.0.0.1:6380>

then the server crash with following information:

ledis-server -config=/etc/ledis.conf
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x8 pc=0x475cb2]

goroutine 52 [running]:
runtime.panic(0x97b

[2014-10-09 03:17] #87 closed, assigned to nobody

[2014-10-10 13:10] #78 closed, assigned to nobody

[2014-10-14 03:38] Leither opened #88 "32位linux编绎通不过"
go build github.com/siddontang/go/filelock: no buildable Go source files in /home/leither/workspace/src/github.com/siddontang/go/filelock

我去看了一下代码，发现确实没有
有办法吗?我应用发布的服务器是linux 32位环境

[2014-10-18 08:07] robert-zaremba opened #89 "SCAN in decremental order"
We have `*XSCAN` family functions which Incrementally iterate the keys space.
What about having a command which iterates in descending order? Like:

[code]

[2014-10-20 07:03] siddontang opened #90 "sentinel support"
Like redis sentinel.

Using raft to manage sentinel cluster.

[2014-10-20 07:06] #47 closed, assigned to nobody

[2014-10-20 07:11] #65 closed, assigned to siddontang

[2014-10-20 07:11] #88 closed, assigned to nobody

[2014-10-20 07:15] siddontang opened #91 "strong consistency"
Now LedisDB supports strong consistency if network is good and slaves are alive, but it may degrade to eventual consistency if network is broken or slaves didn't reply acks.

LedisDB can not allow writing if above happened to support strong consistency.

[2014-10-21 09:25] Leither opened #92 "旧问题重发 linux 32位编绎不能通过。"
原问题：
go build github.com/siddontang/go/filelock: no buildable Go source files in /home/leither/workspace/src/github.com/siddontang/go/filelock

我去看了一下代码，发现确实没有
有办法吗?我应用发布的服务器是linux 32位环境

---

原来我说原因的时候没说清楚，再补充一下问题：
打开src/github.com/siddontang/go/filelock 目录，发现没有linux 32位的相应程序，所以编绎通不过。
filelock目录里的文件如下：
file_lock_darwin_amd64.go   add file lock   2 months ago
file_lock_freebsd.go    add file lock

[2014-10-24 00:22] #92 closed, assigned to nobody

[2014-10-24 00:25] siddontang opened #94 "optimize saving big data"
Saving 4kb, 10kb and 100kb to ledisdb, the performance may be not good, the bottleneck is for backend storage (rocksdb, leveldb, etc).

Try to optimize rocksdb first, rocksdb has many configurations, adjusting some may improve performance.

[2014-10-24 00:57] #91 closed, assigned to nobody

[2014-10-24 00:57] #89 closed, assigned to nobody

[2014-10-24 01:03] siddontang opened #95 "optimize ttl check loop"
now checking expired key may cause performance problems with iterator `SeekToFirst` too frequently.

[2014-10-24 08:43] 1fei opened #96 "图片问题"
我从其它地方介绍说是ledisdb支持图片，但是我看了所有的api文档，没发现有相应的支持，求指教。

[2014-10-24 12:37] #94 closed, assigned to nobody

[2014-10-24 12:38] siddontang opened #97 "use raw file to save log for replication"
now I use goleveldb to store replication log, maybe raw log like mysql binlog will be better.

[2014-10-25 12:46] siddontang opened #98 "optimize leveldb/rocksdb get"
the db Get for leveldb and rocksdb may hit performance, because some memory copy

string -> c buffer -> go buffer

maybe use https://github.com/tecbot/gorocksdb/blob/master/slice.go to solve.
even can write c++ code to return string radically

[2014-10-29 08:20] #95 closed, assigned to nobody

[2014-10-31 00:34] siddontang opened #100 "setrange, getrange, strlen, append support"

[2014-11-10 06:48] Leither opened #103 "事务和batch"
现在系统使用leveldb时，ledis不支持事务，不知道为什么,leveldb不是有Batchk吗?
另外，loaddump的时候使用batch从原理上性能提高很多。不知道实际如何。

[2014-11-10 09:51] #103 closed, assigned to nobody

[2014-11-11 06:46] Leither opened #104 "备份"
代码大体看了一下，写的很棒，学习了很多新包和写法。
我用ledis的时候有个需求：写操作的时候，数据需要根据key的前缀同步到几个不同的ledis db上去。
我是重新封装所有的写操作呢，
还是重载或调整一下Replication的相关代码?
求指教。

[2014-11-14 01:13] #98 closed, assigned to nobody

[2014-11-14 01:13] #96 closed, assigned to nobody

[2014-11-14 01:14] #97 closed, assigned to nobody

[2014-11-15 11:53] siddontang opened #105 "try to use codis for cluster?"
https://github.com/wandoulabs/codis is a very awesome redis proxy, maybe I can use it for LedisDB, or write the own one by referring to it.

[2014-11-15 12:46] #104 closed, assigned to nobody

[2014-11-23 16:37] ShawnMilo opened #106 "Some English language updates."
I've updated the README to clean up the English a bit. I hope you don't mind the contribution.

https://gist.github.com/ShawnMilo/a08721c42e51872ca23c

[2014-11-24 03:42] Leither opened #107 "hEncodeHashKey()"
看这部分代码的时候，发现一个两难的问题：
1、hash的key编码的时候，前面有key的len,这时候key和field之间的分隔符“：”的必要性就不大了。
2、key前面加了一个len,如果未来增加全局的keys，或者其它key遍历函数，就会有麻烦。因为len的值打断了hash key的连续性。

提出建意：
leveldb中的key是二进制兼容的，redis的key是有限制的，能否增加特殊的分隔符来完成这些工作?
另外，值类型的封装能否放到最后一个字节。
封装后的key
db index+key+分隔符+（field或index）+类型。

相关的处理代码，可以先读类型，然后再进入相应的处理流程。
不过这么改了之后，兼容性会有影响

[2014-11-24 05:55] #107 closed, assigned to nobody

[2014-11-24 07:56] iwanbk opened #108 "snappy for rocksdb"
Hi @siddontang
Should we use your own version of snappy to use rocksdb storage?

[2014-11-24 09:12] #108 closed, assigned to nobody

[2014-11-25 00:22] #106 closed, assigned to nobody

[2014-11-25 03:51] #31 closed, assigned to nobody

[2014-11-25 05:12] Leither opened #109 "go test error"
=== RUN TestTx
--- FAIL: TestTx (0.00 seconds)
    tx_test.go:206: store lmdb is not registered
FAIL

PS: very strange, I look at the code did not find anything wrong with it.

附：很奇怪，我看代码也没发现什么不对的地方。

[2014-11-25 06:54] #109 closed, assigned to nobody

[2014-11-26 13:16] siddontang opened #110 "discard bitmap type, merge to kv"
must suply an upgrade script too.

[2014-11-26 13:25] siddontang opened #111 "support dump and restore command"
dump -> kv
ldump -> list
hdump -> hash
sdump -> set
zdump -> zset

dump data format likes redis rdb, Why RDB format? Using this can migrate redis to ledisdb easily, and vice versa.

restore handle all types.

[2014-11-27 07:53] libingbuaa opened #112 "snapshotStore.purge"
snapshot.go中的purge函数有问题，按照现在的实现，可能会删除比较新的snapshot，而比较老的snapshot会被留下。可以先删除文件，再调整snapshotStore.names保存的内容。

[2014-11-27 13:26] siddontang opened #113 "support redis string bit operation"
bitcount, bitop, bitpos, getbit, setbit

[2014-11-28 04:33] Leither opened #114 "Del command is different from redis"
only kv

[2014-11-28 07:24] #114 closed, assigned to nobody

[2014-11-28 18:35] Alienero opened #115 "LedisDB 应该选择何种db做后端呢"
ledisdb支持多种后端存储，但是不知道用哪一个后端会更稳定呢。不知道您在生产环境中选择何种后端呢

[2014-12-01 15:41] datastream opened #116 "ledisdb crash"
use goleveldb backend. I know it's goleveldb's issue.
[code]

[2014-12-04 12:16] #111 closed, assigned to nobody

[2014-12-04 12:16] #112 closed, assigned to nobody

[2014-12-04 12:16] #115 closed, assigned to nobody

[2014-12-04 12:16] #105 closed, assigned to nobody

[2014-12-05 04:11] siddontang opened #117 "redis API compatibility"
A very big project, need update whole db.

every key must save key -> type in db, although it may hit a little performance, it is worth to do it.

maybe add a compile option to support this, if someone don't like this feature, he can disable it?

[2014-12-11 02:19] siddontang opened #118 "improve leveldb build script"

[2014-12-12 08:07] iwanbk opened #119 "build error opts.BlockCache undefined"
The build was OK last week.
But it failed on a new clean VM.
# github.com/siddontang/ledisdb/store/goleveldb

store/goleveldb/db.go:116: opts.BlockCache undefined (type _opt.Options has no field or method BlockCache)
store/goleveldb/db.go:116: undefined: cache.NewLRUCache
store/goleveldb/db.go:129: opts.CachedOpenFiles undefined (type *opt.Options has no field or method CachedOpenFiles)
godep: go

[2014-12-12 13:06] #119 closed, assigned to nobody

[2014-12-12 13:08] siddontang opened #120 "use `godep -r` and add godep src into repo"
Someone does not use godep, maybe I will use `godep -r` like etcd?

[2014-12-12 19:50] pkieltyka opened #121 "XSCAN, broken?"
Hello,

Perhaps I am doing something wrong, but `xscan *` doesn't seem to return anything for me for a 2.7 gb database.

[2014-12-17 20:23] naterockhold opened #123 "Would be great if keys was implemented in ledis"
Would be great if keys was implemented in ledis
http://redis.io/commands/KEYS

[2014-12-22 13:50] ghost opened #124 "Introduction link on wiki 404s"
Links to http://siddontang.com/ledisdb-introduction/ which 404s.

Cheers,

[2014-12-22 18:20] ghost opened #125 "Typo in command flag"
-readonly=false: set readonly mode, salve server is always readonly

"slave" server is always readonly.

I can file a patch / fork if you prefer, not sure what is best here.

[2014-12-23 00:44] #124 closed, assigned to nobody

[2014-12-23 00:47] #125 closed, assigned to nobody

[2014-12-26 09:49] libingbuaa opened #126 "ledis.WaitReplication issue"
In ledis/replication.go, line 97-98, rwg.Wait() may run before handleReplication, so rwg.Wait() may return immediately and have no effect.

[2015-01-23 15:03] pkieltyka commented on #121
hey @siddontang .. I think you should write some basic docs, and note the XSCAN comamnds. I finally just noticed HXSCAN .. which I think should be XHSCAN .. the "X" prefix noting the extensions / added commands to the redis protocol

[2015-01-24 00:42] siddontang commented on #121
Sorry @pkieltyka, "X" makes you surprised, I will change it later.

Btw, do you think it is necessary to do #117 or #120 ?
I just notice that https://github.com/github/hub use "godep -r" feature, which makes the package management easy, but the import path looks very long and ugly :-)

[2015-01-25 03:40] pkieltyka commented on #121
For 120, I agree using godep -r or this project: https://github.com/robfig/glock which is similar. I started using glock with my projects and really enjoy it.

For 117, I think redis api comparability is important.. But what do you mean specifically because I find ledis to already be very close to the same. I do think additional commands are fine and just prefix with an X.

[2015-01-26 01:59] siddontang commented on #121
Thanks @pkieltyka

I will use `godep -r` later, although the import path looks ugly :smile:
For redis comparability, I mean maybe `del` can delete not KV data, but also Hash, List, etc... like in Redis, but it may cause some performance degradation and data upgrade.

Btw, the `XSCAN` can be used correctly in your project?

[2015-01-26 08:22] iwanbk opened #127 "multiple values RPUSH behaviour"
Hi,

I want to get clarification about  RPUSH behaviour when pushing multiple values
I use rocksdb, if that's matter.

Is it doing all or nothing push?

Let's say we have 100 elements to push. Is it possible that some elements are pushed but some elements are not?
I need it to handle the error (if happened). partial insert will complicate the problem.

I have checked t_list.go and there is t.Commi

[2015-01-26 08:50] siddontang commented on #127
Hi @iwanbk , LedisDB uses RocksDB WriteBatch, which will guarantee atomic writing for multi values, so I think all elements will be pushed ok, except RocksDB has some  bugs in WriteBatch :smile:

[2015-01-26 09:09] iwanbk commented on #127
thanks

[2015-01-26 09:09] #127 closed

[2015-01-31 07:31] siddontang opened #128 "xhexists, xlexists, xzexists,xsexists"
@wenyekui

[2015-01-31 08:07] siddontang commented on #113
@wenyekui

[2015-02-01 06:32] coleifer opened #129 "Sort command"
I was curious if Ledis implemented anything like Redis' `SORT` command ([docs here](http://redis.io/commands/sort)). The `sort` command is neat because you can sort using external keys:

[code]

Even crazier is the fact that you can use hashes (via the ``->`` operator). An example might be you have a set of object IDs. These object IDs correspond to hashes, and you'd like to sort the object IDs ba

[2015-02-02 00:44] siddontang commented on #129
Thanks @coleifer, `sort` looks complex, I will dive into it and evaluate the difficulty. But this function is so powerful that I also want to support it :smile:

LedisDB can not check the type with a raw key, so maybe I will use `xhsort` for hash, `xlsort` for list, etc...

[2015-02-02 01:15] siddontang opened #131 "support millisecond timeout ???"
Now LedisDB supports second key timeout, the precision may be low in some scenarios. but if we try to support milliseconds, we must supply a upgrade script to update the db.

[2015-02-02 03:47] coleifer commented on #129
Awesome thanks for the really quick reply. I can't think of a more complex Redis command, so I imagine you've got your work cut out for you! I'll keep an eye on this issue, and am glad to hear you're interested in trying to add something similar to LedisDB.

[2015-02-02 09:07] siddontang opened #132 "role command support"
like http://redis.io/commands/role

replication offset is binlog log id

[2015-02-04 06:19] #132 closed

[2015-02-04 06:19] #128 closed

[2015-02-04 06:37] siddontang commented on #129
hi @coleifer ,  I have supported `sort` command in develop branch, unlike redis, I use `xlsort` for list type, `xssort` for set type and `xzsort` for zset type

e.g.

[code]

Redis's `sort` has some optimization for zset type,  but I don't have done it now, it is not a serious problem.

I will add some docs and merge this into master branch later if possible. :-)

[2015-02-04 15:46] coleifer commented on #129
:+1: :100:

[2015-02-05 02:31] #100 closed

[2015-02-05 07:41] #110 closed

[2015-02-05 07:41] #113 closed

[2015-02-05 07:41] #126 closed

[2015-02-05 07:45] #123 closed

[2015-02-06 01:43] siddontang opened #133 "use godoc to show command description"
now I will maintain the docs in many places, like wiki, command.json, ledis-cli/const.go, etc...... It is very verbose.

Use a doc package so godoc can generate the command document easily, at the same time, I can write some go tool to generate it into any other formats, like json, markdown, etc.

[2015-02-10 23:24] siddontang opened #134 "slave support reconnecting master after the connection down"

[2015-02-12 01:18] siddontang commented on #90
support in http://github.com/siddontang/redis-failover

[2015-02-12 01:18] #90 closed

[2015-02-12 01:23] siddontang commented on #134
support in develop branch now

[2015-02-12 01:23] #134 closed

[2015-02-12 07:10] #116 closed

[2015-02-12 07:10] #120 closed

[2015-02-13 09:58] arneto opened #135 "Slowdown when network packet > 10240 bytes"
Hi Siddontang,

Our application uses hiredis C-client to ledisdb with rocksdb.

I am investigating an issue with unexpected slow performance in our software.
I can reproduce with a simple "SET %b %b" command. I am using random 16byte keys, and play with the length of the value to test for a certain network packet length.

It boils down to the fact that if I send a network packet up to 10240 bytes

[2015-02-13 12:21] siddontang commented on #135
Hi @arneto

The default read connection buffer is 10k in the config, here

[code]

maybe this causes your problem, but I am confused too.

I write a benchmark tool using go, you can use it to compare your c tool, like this:

[code]

the value size is10194 or 10195 ,round is 10, and request number is 1 in every round, one client.

or like this:

[code]

In my computer, the different value size does

[2015-02-13 13:18] arneto commented on #135
Hi Siddontang,

This absolutely fixes my issue.
Your help is greatly appreciated.

Thanks and best regards,
Arne

[2015-02-13 14:07] siddontang commented on #135
Hi @arneto

Do you fix your problem now?
How about the comparison between your c tool and ledis-benchmark?
Increasing the conn buffer is still slow?

Thank you! :smile:

[2015-02-13 16:17] arneto commented on #135
Hi Siddontang,

I changed in config conn_read_buffer_size = 102400.
This is more than needed, however the number of connections is limited and under our control.

Tested on real world sizes, and responses come in really fast - also in the real application.
I will tune config conn_read_buffer_size to what is needed later.

I have not run the ledis-benchmark.

Thanks for the advice and best regards,

[2015-02-13 17:19] kouhate opened #136 "Replication not working"
Hello,

2 newest version ledis-server  "localhost:6380"  "localhost:6381" are running, and I want to replicate them.
But "SLAVEOF" command return following error.
<pre>
127.0.0.1:6381> slaveof 127.0.0.1 6380
(error) ERR slaveof must enable replication
</pre>
I changed use_replication=false to true and restart, but nothing goes well.
Is there another options essential to start replication?

Then I

[2015-02-14 01:27] siddontang commented on #136
Hi @kouhate ,  `role` is my fault, I fix it in develop branch.

This seems an interesting error for replication, can you redo like below, only using flag and default flag:

[code]

In my test, `role` for master and replication all are ok.

[2015-02-14 05:48] kouhate commented on #136
Hi @siddontang ,

Replication works well after using -rpl flag. Thanks.
But perhaps noobs expect <code>use_replication=true</code> is the only flag to enable it.

BTW, I also try redis-failover.
<pre>
//master
ledis-server -rpl -addr=localhost:6380 -data_dir=./var

//slave
ledis-server -rpl -addr=localhost:6381 -data_dir=./var1 -slaveof=localhost:6380

//redis-failover
redis-failover -addr=localho

[2015-02-14 06:08] siddontang commented on #136
Hi @kouhate , make sure you use the latest develop branch code and rebuild ledis-server. (you can make clean first then make again)

In my computer, redis-failover can handle it.

[2015-02-14 06:11] siddontang commented on #136
I find a bug for the `use_replication` config, and will fix it later.

Thank you.

[2015-02-14 08:30] kouhate commented on #136
Hi @siddontang ,

Those are fixed after I switched to origin/develop and pulled latest changes.
Thanks a lot.

Now I'm trying codis-ha.

Setup codis-config.
<pre>
cd xcodis/sample
../bin/codis-config server add 1 localhost:6380 master
../bin/codis-config server add 1 localhost:6381 slave

../bin/codis-config server list
[
   {
     "id": 1,
     "product_name": "test",
     "servers": [
       {

[2015-02-14 08:35] siddontang commented on #136
Hi @kouhate

In the message here

[code]

I think you use 127.0.0.1 for all instead of localhost.
redis-failover uses `role` command to get the slave information, although you set localhost:6381 as slave in codis, but the `role` command will return 127.0.0.1 as the slave host, so redis-failover can not find the slave server using 127.0.0.1.

[2015-02-14 10:07] kouhate commented on #136
Hi @siddontang ,

Failover works well after I changed "localhost" to "127.0.0.1".
Thank you.

Now, <code>codis-config server list</code> shows like this.
<pre>
[
   {
     "id": 1,
     "product_name": "test",
     "servers": [
       {
         "type": "master",
         "group_id": 1,
         "addr": "127.0.0.1:6381"
       },
       {
         "type": "slave",
         "group_id": 1,

[2015-02-14 11:45] siddontang commented on #136
Hi @kouhate , I am also surprised at the salve type. you can see cmd/ha/failover.go and cmd/ccconfig/server_group.go, I use the same function `Promote` to handle this changing.

Can you show me the output for redis-failover?

[2015-02-14 12:59] kouhate commented on #136
Hi @siddontang , I tried failover operation again, and this time slave type turned into "offline" correctly.
I have no idea why it was caused.
redis-failover show only successful messsages like this.

<pre>
...
[2015/02/14 21:39:39] app.go:206 [Error] check master 127.0.0.1:6380 err Node is down, do failover
[2015/02/14 21:39:39] group.go:269 [Info] select slave 127.0.0.1:6380 as new master, prior

[2015-02-14 13:16] siddontang commented on #136
Maybe we will do more test later, I am confused too. :-)

[2015-02-14 13:22] #136 closed

[2015-02-20 04:00] kouhate opened #137 "Support *SCAN command for values"
Hi, @siddontang ,

I can't find compatible commands for HSCAN, SSCAN and ZSCAN of redis.
I know XHSCAN, XSSCAN and XZSCAN already exist, but these iterate "key" not "value" or "field".
Perhaps those commands confuse who want to iterate values.

If you could support, I'd also like to ask you to support its reverse iteration ver.
Those should be useful in many case.

[2015-02-21 16:07] osiloke commented on #137
+1

[2015-02-22 07:32] kouhate commented on #137
Hi, @osiloke

It's a good idea if you use ledisdb in a single node, but I'm planning to use xcodis.
Once you switch to cluster, all keys are distributed to multiple nodes.
So, this design will force us to query all nodes... (except for using hash tag {})

Hash type is grouped by key and sorted by field, and the data structure looks like column-oriented nosql.
If HSCAN is supported, we could use it

[2015-02-27 13:17] siddontang commented on #137
Hi @kouhate , sorry for the later response. I have a long vacation for Chinese Spring Festive and will go to work next week.

Supporting HSCAN may be easy, but like XSCAN compared to SCAN, the function may be different from HSCAN in Redis. So giving another name with X prefix may be a good choice, maybe you can help me name it :smile:

[2015-02-28 08:11] kouhate commented on #137
Hi @siddontang, I'm glad to hear from you.

Now, ledis has a lot of redundant *SCAN commands such as HXSCAN, XHSCAN, HXREVSCAN, XHREVSCAN....
I suppose these are rarely used in production, because in app we should use key-name like table-name of relational database.
So, those only help our maintenance operation, I think.

IMHO, It is better to combine key iterable commands(HXSCAN, LXSCAN, ZXSCAN,

[2015-02-28 11:50] siddontang commented on #137
Thanks @kouhate, using `HXSCAN` or other before is my fault, I may remove them later or reuse as your recommendation. :-)

I can not change `XSCAN` because of the compatibility.

[2015-02-28 17:00] kouhate commented on #137
Thank you, @siddontang.

BTW, would you also support SXSCAN and ZXSCAN?
These are useful too.

[2015-03-01 06:30] siddontang commented on #137
Sure. I think we could use another new name, not "scan", maybe "travel"?

[2015-03-01 11:08] kouhate commented on #137
Hi @siddontang, maybe "range" or "slice" is more suitable.
"seek" is also proposable and the shortest.

[2015-03-02 00:54] siddontang opened #138 "refactor scan command"
Now "scan" commands are very redundant and complicate, see #137. It is time to refactor them.

For compatibility, I may not remove old `XSCAN`, `XLSCAN`, etc..., so maybe another API is better, like this:

[code]

"type" is kv, list, hash, set, and zset. This API likes redis [SCAN](http://redis.io/commands/scan), to iterates keys, for different data type.

But if we don't care compatibility, we ma

[2015-03-02 00:55] siddontang commented on #137
Hi @kouhate,  move to #138.

[2015-03-02 00:55] #137 closed

[2015-03-02 01:47] pkieltyka commented on #138
Good stuff! I don't think backwards compatibility for these kinds of commands matter.

Also, what do you think about the naming of `XHSCAN` instead of `HXSCAN` ? I like the idea of prefixing any "extensions" to redis commands with an `X`.. makes for more consistency.

[2015-03-02 02:51] siddontang commented on #138
Aha, @kouhate suggests me to prefix data type for commands like Redis. I think using `X` prefix may be good to distinguish Redis commands.

Maybe we can think another name, like `HSEEK`?

[2015-03-02 05:47] kouhate commented on #138
Hi there, OK. I agree to use <code>X</code> prefix.

I think <code>H</code> <code>S</code> <code>Z</code> prefix makes the target data type more certain..., but this may disturb the consistency.

[2015-03-02 06:48] siddontang commented on #138
Hi @kouhate,  Support in develop branch now. Commands:

[code]

[2015-03-02 06:51] kouhate commented on #138
Thanks @siddontang, I'll test them later.

[2015-03-03 02:21] siddontang commented on #133
keep all commands in commands.md, then write some script to generate others.

[2015-03-03 02:21] #133 closed

[2015-03-03 05:12] #135 closed

[2015-03-03 05:13] #121 closed

[2015-03-03 05:13] #129 closed

[2015-03-04 00:41] siddontang opened #139 "support databases config"
Now ledisdb only supports 16 dbs, but we can configure it like redis in config file.

[code]

Default is 16, maximum is 256 because ledisdb use only 1 byte for db index.

But I think we don't need too many databases at most of the time.

[2015-03-04 00:47] siddontang opened #140 "remove begin, commit and rollback"
So far, we don't use these commands in any scenarios, and I don't hear any other programmers use these in production too.

Instead, supporting these imports many complicated and unmaintained codes.

[2015-03-04 09:17] kouhate commented on #138
Hi @siddontang, would you also support reverse scan?

As I know reverse scan is more slower than forward one, but this may useful for some use case.

Maybe <code>XREV..</code> bring more redundancy like before, so if you could, supporting by option would be better.
<code>XSCAN type cursor [MATCH match] [COUNT count] [ASC | DESC]</code>

[2015-03-04 13:03] siddontang commented on #138
Hi @kouhate , redis does not support reverse scan, and I don't find a useful use case too.

Btw, supporting reverse scan is easy, is it necessary to support reverse scan for hash, set and zset?

[2015-03-04 14:55] kouhate commented on #138
@siddontang, especially for hash, reverse scan is necessary I think.

In my use case, Hash filed-name will TimeUUID and I want to retrieve recent data.
For time series data,  maybe reverse scan cannot be avoided, or app must plan the key name to be reversed.

In the case of Cassandra CQL3, they support <code>WITH CLUSTERING ORDER BY (clumn-name [ASC | DESC])</code> option for setting default order

[2015-03-04 15:36] siddontang commented on #138
@kouhate , I will add reverse scan later, but you must know below:

+ reverse scan is slower than forward, unless leveldb or rocksdb improves it.
+ migrating a huge hash data (with many fields and values) is very terrible in xcodis when resharding. We must dump this huge data first, then transfer into another server and load it, it may take huge memory, cost many time and block other write operati

[2015-03-04 21:15] kouhate commented on #138
@siddontang, ok, I know the two cons, but does XMIGRATEDB keep blocking any write operation until  finished?

If so, it may be a fatal problem for me.

[2015-03-05 00:38] siddontang commented on #138
Now, yes, because I must guarantee the atomic migration. When I migrate the key, other write operation may update the key at same time, it may cause data inconsistency.

But this can be improved later, only using a lock for the key and not for the whole.

[2015-03-05 00:39] siddontang opened #141 "optimize migrate db"

[2015-03-05 00:40] #139 closed

[2015-03-05 01:01] siddontang commented on #138
@kouhate , for redis, scan can not guarantee the return key order, the same for ledisdb. e.g. for hash, the key saved in ledisdb like this `db(1 byte):hash tag(1 byte):key length(2 byte, big endian):key`, so the key with short size will be scanned first. If the two key have same size, we will use lexicographical ordering.

So I think you should have the same size for your hash field if you want to

[2015-03-05 04:18] siddontang commented on #141
#138 @kouhate said blocking write operation would be a fatal problem.

But
1. migration is not often, or even would not be occurred if we pre plan enough nodes.
2. we can do resharding at some time, like middle night,  this would affect the whole system little.

Btw, for codis, it would also block any write operation when migration.

[2015-03-05 22:13] jgoodall commented on #140
I would actually like to use this (with boltdb), but I dont see any documentation as to how. Trying to use ledis sorted sets with boltdb backend (for transactions) - is that even possible?

[2015-03-06 01:12] siddontang commented on #140
Hi @jgoodall, using transaction with boltdb or lmdb is easy likes MySQL transaction using, below:

[code]

But is it necessary to support transaction in LedisDB? I've always wondered.

+ Transaction is not universal, leveldb, rocksdb can not support it, and most of the ledisdb users use rocksdb as the backend.
+ Transaction will block any other write operations, this may degrade performance.
+ Abo

[2015-03-06 13:53] jgoodall commented on #140
Using ledis within a go application, want to use transactions with sorted sets, something like this (pseudo code):

    tx := db.Begin()
    a := tx.ZIncrBy(...)
    b := tx.ZRangeByScore(...)
    tx.Commit()

I need to increment a set and then get the scores, and am accessing the sorted sets from multiple goroutines

1. I dont see a way to do that in the [boltdb API](https://godoc.org/github.com/

[2015-03-06 14:03] kouhate commented on #138
Hi @siddontang, those difference is not a problem.
My purpose of using *XSCAN is to scan by value, so this is rather welcomed.

[2015-03-06 14:25] siddontang commented on #140
Hi @jgoodall , in your scenario, `ZIncrBy` would increment the set and return the new score atomically, so you don't need a transaction, below may be ok:

[code]

The boltdb API has a `Begin` method to start a transaction, but it is underlying, so I don't suggest to use it directly.

[2015-03-06 14:36] siddontang commented on #138
Hi @kouhate, I have been trying to use ledisdb + xcodis + redis-failover to build a high availability distributed key-value store service in my company.  I guess you may do the similar thing.

Could you tell me your email? Maybe we can have a in-depth discussion or even work together to build a NoSQL product.

[2015-03-06 15:11] kouhate commented on #138
Hi @siddontang, I've just updated my prof, pls check it.

[2015-03-06 22:08] kouhate commented on #141
@siddontang,

1. It is difficult to estimate enough nodes for the future at the time of startup.
Migration is always harmful even if it is rare. That is especially why I want to execute it more safely.

2. it's true, but this is not user friendly.
Furthermore, it would be true the larger the amount of keys grow, the longer blocking time take.

As you said before, setting a lock for the key that mi

[2015-03-07 00:18] siddontang commented on #141
@kouhate, maybe you are right.

This will be the optimization later, locking the key is not easy because I must check it in every write operations, this may be a huge work and cost time.

I think another important thing for us is to verify the system (ledisdb + xcodis + redis-failover) can work well in production, and we can optimize the migration at the same time.

I think porting people original

[2015-03-07 04:52] siddontang commented on #141
Hi @kouhate , I just optimize migration, now it will not block other write problems, but only can be used safely with xcodis. I think it does not matter.

[2015-03-08 19:46] kouhate commented on #141
Hi @siddontang, thank you for the improvement, and I want to make sure how it is non-blocking.

When migrating group-1 to group-2, as you know this is the case of using xcodis, the followings are expected:
1) Write-operation to the key which is not yet migrated is routed to group-1.
2) Write-operation to the key which is already migrated is routed to group-2.
3) Only the write-operation for the ke

[2015-03-09 00:38] siddontang commented on #141
Hi @kouhate, for xcodis, if a slot n is in migration, e.g, from group1 -> group2, xcodis will handle every key in n, first migrate the key to group2, then do the write operation in group2, whether the key is in group1 or already in group2.

So I said the migration is only safe with xcodis now, because xcodis will guarantee the migration in group1, and write operation in group2.

[2015-03-09 14:53] kouhate commented on #141
@siddontang, aha, it all makes sense now. Thanks for the clarification.

Btw, what will be the difference between redis-port and redis-canal?

[2015-03-09 15:33] siddontang commented on #141
redis-port is powerful but a little complex, and can not support ledisdb well, so I decide to develop redis-canal, syncing redis data into redis/ledisdb.

I want redis-canal be a universal service, not only for xcodis. e.g, you can define your key routing rule and let redis-canal sync origin redis data into different places.

But I have not began to develop it, maybe this month. :-)

[2015-03-09 16:54] kouhate commented on #141
That's nice.
I suppose this would be also useful for another project when not only porting but rehashing.

[2015-03-10 15:08] jgoodall opened #143 "Cross compile application using ledis fails"
Any ideas how to workaround the following issue:

    $ GOOS=linux GOARCH=amd64 go build -o streams_$GOOS_$GOARCH
    Godeps/_workspace/src/github.com/siddontang/ledisdb/store/mdb/mdb.go:9:2: C source files not allowed when not using cgo: mdb.c midl.c

I am building my app on a Mac for Linux using go 1.4.2. My app depends on Ledis (v0.4-61-gb9d10ac). I am using the boltdb or memory backend, so I d

[2015-03-10 15:55] siddontang commented on #143
Hi @jgoodall , it seems that go1.4 doesn't use cgo as default, you can see the news here https://golang.org/doc/go1.4, "Unless cgo is being used to build the package, the go command now refuses to compile C source files"

This may be a big problem for me, I use some c files too. I will see it tomorrow and think how to resolve it.

Thank you.

[2015-03-11 02:06] siddontang commented on #143
Hi @jgoodall, I think this is not the problem for ledisdb only, but also for any other projects using cgo too, for cross compile.

I try to rebuild a linux go version using `sudo CGO_ENABLED=1 GOOS=linux GOARCH=amd64 ./make.bash --no-clean` and then compile ledisdb, but it still fails with below error:

[code]

I have no idea about how to fix it. LedisDB uses cgo in many places, not only in mdb. I

[2015-03-11 12:06] jgoodall commented on #143
Is using go 1.3 still working?

On Mar 10, 2015, at 10:06 PM, siddontang <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @jgoodall<https://github.com/jgoodall>, I think this is not the problem for ledisdb only, but also for any other projects using cgo too, for cross compile.

I try to rebuild a linux go version using sudo CGO_ENABLED=1 GOOS=linux GOARCH=amd64 ./make.bash --

[2015-03-11 12:57] siddontang commented on #143
go 1.3 seems not work too for cross compile.

I think a better way is to adding a build flag for ledisdb to disable cgo for cross compile, if you don't want to use cgo, you can not use leveldb, rocksdb and lmdb as the backend storage, can not use lua, and can not use ledis-cli.

But I guess you may embed ledis into your own project as a package, so disabling above feature does not matter.

[2015-03-11 16:57] jgoodall commented on #143
Yes, that is exactly what I want to do: embed ledis and use boltdb or in memory backends only. So is adding a build flag something you are going to move towards?

On Mar 11, 2015, at 8:57 AM, siddontang <notifications@github.com<mailto:notifications@github.com>> wrote:

go 1.3 seems not work too for cross compile.

I think a better way is to adding a build flag for ledisdb to disable cgo for cross

[2015-03-12 00:33] siddontang commented on #143
Adding a tag may be not hard, only need work. But you may know that LedisDB will use cgo as default, so if you want to use it, you may pass a tag in your own build, like go build -tags 'nocgo'.

I will try later and check whether it can be ok for cross compile.

[2015-03-12 06:02] siddontang commented on #143
Hi @jgoodall, maybe you can use the latest master branch directly if you don't pass leveldb, rocksdb, lmdb, lua and linenoise into your build tags.

[2015-03-12 14:52] jgoodall commented on #143
I found a way to build the linux binary on OS X using the [golang docker image](https://registry.hub.docker.com/_/golang/) and [boot2docker](http://boot2docker.io/).  Install `docker` (the client) and `boot2docker` (the linux vm) using [brew](http://brew.sh/):  `brew install docker boot2docker`. Then spin up a VM and use the 1.3 or 1.4.2 image to build the project that uses Ledis.

    boot2docker

[2015-03-12 15:11] siddontang commented on #143
Hi @jgoodall , golang docker image is linux based, so you can use it for your linux compile. I think this may be a better way for cross compile, e.g. if you want to build a windows version, you can use a windows docker too.

Btw, do you build successfully using cross compile with latest ledisdb code?

[2015-03-12 19:36] jgoodall commented on #143
I did not attempt to cross compile - only needed to build a linux binary on a Mac, and using the docker golang image that works fine.

On Mar 12, 2015, at 11:11 AM, siddontang <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @jgoodall<https://github.com/jgoodall> , golang docker image is linux based, so you can use it for your linux compile. I think this may be a better way f

[2015-03-13 00:33] siddontang commented on #143
:smile:

[2015-03-13 00:33] #143 closed

[2015-03-13 00:50] #141 closed

[2015-03-13 06:27] siddontang opened #145 "support large db index"
Now ledisdb only supports 16 databases [0-15], although I try to supply a config to let it support 256, but lucky that this feature is not used.

Now the key format in the backend storage like this:

[code]

The first byte is db index, if you want to support large db index, like 1024, 1 byte is not be enough. We can two bytes directly, because we must consider data backend compatibility, it a huge

[2015-03-13 13:29] siddontang opened #146 "remove lua support ?"
We need simplify ledisdb now, some features we don't use will be removed, so that we can focus on more important thing, like cluster, performance, etc.

[2015-03-13 19:28] adulau opened #147 "Restriction on set? compared to Redis"
A small question, what are the restriction of a set compared to a "standard" Redis?

After inserting elements in a set after a lot of inserts, I got the following error:

"invalid set member size"

The cardinality of the set is 0 and doesn't seem related to set itself.

Thank you

[code]

[2015-03-13 23:43] siddontang commented on #147
Hi @adulau, now the ledisdb maximum set memeber size is 1024, you can not insert larger one.
I know redis supports 512mb,  but I don't want to support so large member for performance.

We may change maximum set member below.

[code]

Because I use 2 byte to store member size in backend storage, so the maximum size is 65535.
I would change  MaxSetMemberSize to a larger one, which is enough for many

[2015-03-14 01:14] siddontang commented on #146
Unlike redis lua, ledisdb's will not guarantee atomic script because other goroutine can do writing too.

[2015-03-14 01:14] #146 closed

[2015-03-14 03:36] kouhate commented on #145
@siddontang, now you have changed db index to 16 as before.

Then, how many db index would you plan on supporting?

[2015-03-14 03:59] siddontang commented on #145
use varint can support 2 ** 64 index, but it's too large, may be [0, 10240] or less

[2015-03-14 05:51] kouhate commented on #145
That's enough to scale out, and it may be good to start from 1024 while an alternative plan to solve the performance issue of keeping huge routing table is not found.
Thanks:-)

[2015-03-14 09:03] siddontang commented on #145
@kouhate, 1024 or 2048 may be enough, and I think zookeeper can save these with an acceptable performance.

I hope I can support large index next week, then use it in xcodis. Next week another colleague will help me. So if you have any advice, please tell me.I hope we can improve the whole thing together.

[2015-03-15 06:58] Aegsea opened #148 "你好，ledisdb能否在产品中使用？"
你好，请问下ledisdb目前是否稳定？能否用在生产环节中？有没有成功的案例？

[2015-03-15 13:13] siddontang commented on #148
这个只能取决于你自己的判断。我们在生产环境中存储推送数据，session等，而且也有一些朋友告诉我他们也用于了生产环境，但这些可能对你来说没有任何帮助。

LedisDB现在仍旧是alpha版本(0.4 version release)，而且我现在几乎每天都在改进，如果你对这个很在意，建议你使用couchbase，redis或其它NoSQL。

谢谢。

[2015-03-16 01:40] siddontang commented on #145
Hi @kouhate, I have supported large db index in develop, and later I will support in xcodis.

Maybe you can help me test it. Thank you.

[2015-03-16 04:14] Aegsea commented on #148
好的，谢谢。我粗略看了下代码，ledisdb目前还没有主从同步的设计是吧？

[2015-03-16 04:47] siddontang commented on #148
No, we have.

[2015-03-16 08:45] kouhate commented on #145
Hi @siddontang, <code>make test_ledis</code> passed, and 10240 db also works well under replication environment.

Btw, xcodis seems to have a connection pool per db-index in order to reduce performance degradation, and its pooling capacity looks like 16.
Do you intend to increase the number to 1024 or more? This implementation may have some inefficiency for a large number of dbs.

[2015-03-16 08:56] siddontang commented on #145
Thanks @kouhate

I know the connection pool problem and will fix it later, may be tomorrow.

Above means the problem for zookeeper saving 1024 slots?

[2015-03-16 09:06] kouhate commented on #145
Oh, I meant this is only for the connection problem, not for zookeeper.

[2015-03-16 09:28] siddontang commented on #145
:smile:

I think we can close this issue and move on.

[2015-03-16 09:28] #145 closed

[2015-03-20 02:06] #148 closed

[2015-03-20 02:07] siddontang commented on #140
I have Removed them.

[2015-03-20 02:07] #140 closed

[2015-03-20 02:07] siddontang opened #149 "support TMPSELECT db argument"
see https://github.com/siddontang/xcodis/issues/5

but maybe support `MULTI` + `EXEC` is better?

[2015-03-21 12:37] #149 closed

[2015-03-29 02:17] siddontang opened #150 "prepare to release v0.5"

[2015-04-02 06:35] pyros2097 opened #151 "Add support for cockroachdb as database backend"

[2015-04-02 07:10] siddontang commented on #151
Hi @pyros2097 , cockroachdb is a distributed kv store, and I think it's too huge as a backend storage.

[2015-04-02 07:19] pyros2097 commented on #151
I was thinking if we use cockroachdb, as at its core uses rocksdb you can directly connect its low level db functions to ledisdb and Maybe get the clustering, fault tolerance for ledisdb automatically

[2015-04-02 07:27] siddontang commented on #151
This seems a good idea for ledisdb, but I have no time to see cockroachdb code.
Btw, we have used [xcodis](https://github.com/siddontang/xcodis) for cluster, [redis-failover](https://github.com/siddontang/redis-failover) for tolerance.
But later, I want to build a cluster similar like elasticsearch or redis cluster architecture, maybe at that time, we can refer cockroachdb.

[2015-04-05 23:25] siddontang opened #152 "support config set"

[2015-04-09 13:59] #150 closed

[2015-04-10 06:49] xyproto commented on #147
Could the maximum set size be doubled when it runs out of space, until it reaches maximum size? This way, people using small sets will have good performance and people using larger sets will not get an error?

[2015-04-10 06:57] siddontang commented on #147
Sorry that I forgot to enlarge this value for current release version. I will change this to a large value(maybe 1GB, like KV type) later.

For redis, the maximum value size is 512MB, and I think it's ok for most of us.Supporting too large value is not necessary.

[2015-04-17 07:37] xiaoao opened #153 "use a unix socket connection instead of tcp"

[2015-04-17 08:03] siddontang commented on #153
LedisDB supports listening unix socket, where other place?

[2015-04-17 09:29] xiaoao commented on #153
yeah, how to config it in ledis.conf or other place

[2015-04-29 21:11] ericnp opened #154 "request: add support for RESP command 'SHUTDOWN' *and/or* 'SETCONFIG'"
I'm writing a program that starts and manages a Ledis Master and Slave. If those servers are already live at those ports (b/c didn't exit gracefully last time, or user wants them up independently of my program), then I'd like to be able to change data_dir, to make sure data_dir is correct. But in Ledis there's currently no way to set data_dir on running server, or to bring it down via RESP, so the

[2015-04-29 21:12] #154 closed

[2015-04-29 21:13] ericnp commented on #154
Closed: duplicate

[2015-04-29 21:18] ericnp commented on #152
+1, this would be very useful to me. And/or RESP 'SHUTDOWN' command

[2015-04-30 00:25] siddontang commented on #152
@ericnp, Any contribution is very welcome. :smile:

I will support `SHUTDOWN` later.

[2015-04-30 00:28] siddontang opened #155 "suport compact function for storage"

[2015-05-03 07:38] #155 closed

[2015-05-03 07:45] siddontang commented on #152
Hi @ericnp , SHUTDOWN is supported now.

I guess you want to change data_dir in runtime, this may be dangerous for ledis, because we need to handle lots of thing, like close storage or replication first, etc..... So `config set` is not proper for this.

[2015-05-05 13:05] Leither opened #156 "In the use of these interfaces to add the code, the application will be smaller"
[code]

In the use of these interfaces to add the code, the application will be smaller

[2015-05-05 13:12] siddontang commented on #156
@Leither ledis will use goleveldb and boltdb for default, and use go build tags for other storages, if you don't build with passing rocksdb, leveldb or lmdb tags, ledis will not build them.

Later I will check whether build with not passing these flags will reduce the application size.

[2015-05-06 08:10] siddontang commented on #156
@Leither , in my mac osx, I do like yours above, but the application size reduces little.

[2015-05-07 01:58] siddontang opened #157 "improve whole build and install"

[2015-05-11 21:41] akhenakh opened #158 "ZRange is terribly slow on high score"
This code is slower and slower as you increase the ZRange max value.
I've tried on different storage with the same results.
[code]

[2015-05-11 23:27] siddontang commented on #158
Thanks @akhenakh , how about your data size in a size? only one?
Could you show me your benchmark test case?
zset uses an iterator which seeks to the first score 0 first, then one by one to the laster 99999999, if your size is big, this may be slow, especially for reverse range.

[2015-05-11 23:29] akhenakh commented on #158
Run this code on your computer, empty db ! :)

[2015-05-11 23:35] akhenakh commented on #158
No need for a bench this one ZRange takes 25.97s on a core i5

[2015-05-12 00:46] siddontang commented on #158
Thanks @akhenakh , I find the problem, here is the code for zrange:

[code]
here count is 99999999, so make costs a very long time. Later I will use a default maximum count if possible.

[2015-05-12 01:04] akhenakh commented on #158
Thank you!

[2015-05-12 01:06] siddontang commented on #158
I have fixed it, you can update the code and try again. :-）

[2015-05-12 01:38] akhenakh commented on #158
Awesome, thank you

[2015-05-12 02:49] #158 closed

[2015-05-13 23:20] Leither opened #159 "Optimization lpop function"
func (db *DB) lpop(key []byte, whereSeq int32) ([]byte, error) {
    if err := checkKeySize(key); err != nil {
        return nil, err
    }

[code]

//------------------------------------------------------
    if err != nil {
        return nil, err
    }
////////////////////////////////////////////////////////////////////
    if err != nil || headseq==tailSeq {
        return nil, err
    }
////

[2015-05-17 14:26] uchti opened #160 "support for sophia key-value storage"
Please add support  sophia v1.2 ( http://sphia.org/ ) key-value storage for liedisdb.
Thank you for ledisdb.

[2015-05-18 05:02] siddontang commented on #160
Hi @uchti

Could you tell me why do you want to use sophia? Do LevelDB, RocksDB, LMDB or others not fit your need?
I don't use sophia before, is its performance better than others? Has it some killer features?

[2015-05-21 03:57] lethegit opened #161 "fail to add lua when compiling"
godep go install -tags 'linenoise leveldb lua' ./...
github.com/siddontang/ledisdb/vendor/lua
could not determine kind of name for C.lua_tointeger
could not determine kind of name for C.lua_tonumber
godep: go exit status 2
make: **\* [build] Error 1

An error with lua version? I 'm using lua-5.2

[2015-05-21 06:12] siddontang commented on #161
Sorry that golua only supports lua 5.1 and I may deprecate lua feature later because it has many limitations.

[2015-05-21 16:47] lethegit commented on #161
Thank you very much...But I have another question:how to execute a LEDIS command in Lua script ?
Is there a function like REDIS.CALL() in REDIS?Sorry to trouble you ,but I have to say the documents about LEDIS are too few....

[2015-05-22 00:23] siddontang commented on #161
You can only `EVAL` commands, the same as Redis `EVAL`, http://redis.io/commands/eval

I don't find any good libs integrating lua in go, so this feature is just a try, I don't recommend you using it.

Thank you.

[2015-05-22 00:25] siddontang commented on #161
Btw, the developer for LedisDB is only me, so I don't have enough time to perfect documents. :-)

[2015-06-10 23:31] ericnp commented on #152
Oh, damn, I missed notifications that you responded! That's awesome, thanks so much.

[2015-06-10 23:33] ericnp commented on #152
I'd like to work on the project if you could use my help. Which of the Issues are high priority that I could work on?

[2015-06-11 00:02] ericnp opened #162 "List will eventually exceed listMaxSeq even if we do an lpop for every rpush"
At which point the data in the backend would have to be manually "renormalized" in order to repair? And likewise for listMinSeq/lpush/rpop.

Or am I mistaken?

[2015-06-11 00:39] siddontang commented on #162
Yes, this may be a danger, but I have not found a better way to solve it. Maybe later we can use a int64 for the list head and tail sequence, so it is nearly impossible that the list will exceed.

But this will let old user upgrade saved data.

[2015-06-11 00:52] siddontang commented on #152
Thanks @ericnp

You can contact me directly later, or in the github issue too.

+ Gmail: siddontang@gmail.com
+ Skype: live:siddontang_1

[2015-06-13 08:39] faaliyet opened #163 "LLEN performance ?"
assuming you already know, webapps often use lists like; comments, likes etc.. followers etc..
I see that; rocksdb rocks with ledisdb. however, never saw benchmark results for LLEN. does it full scan over list ? or it incr + 1 when we command lpush. I don;t think that fullscan is somehow faster than a local key - value. I short, I wonder LLEN performance and how it works :)

[2015-06-13 08:59] siddontang commented on #163
In the backend storage, we will use a list meta size key, so LLEN is O(1) in LedisDB if the key in rocksdb cache, and O(lgN) if the key not in cache.

[2015-06-13 10:11] faaliyet commented on #163
OK, then how this cache will work ? I think, my approach is something useful, that lpush lpop commands trigger incr +x/-x actions on metadata.
[code]
"will use"? so, it's fullscan now?

[2015-06-13 10:17] faaliyet commented on #163
however, after rethink about my approach, ltrim can be problematic :) may it better wih ``delete/flush - set```

[2015-06-13 10:57] siddontang commented on #163
sorry, we use a meta key for list length and some other informations now.

The cache in RocksDB is LRU, so if you use this list frequently (Every write operations for list will change meta key), the meta key may be in cache all the time.

[2015-06-13 11:24] faaliyet commented on #163
LRU? well, so how about if we have a few millions list? pinterest uses millions of list data types with Redis, but it's not cost efficient for medium size web-apps. So, what performance we can expect from LedisDB using lists ?

[2015-06-13 11:34] siddontang commented on #163
Sorry, I cannot give you the answer because I don't benchmark this scenario.

The best case for using LedisDB is that you have lots of data exceeding memory but only a few is be used at some time.

In my old product, a push server, I use list to store about 10,000,000 user messages (every user has maximum 20 messages), push messages to about 200,000 users at same time, it works well but I still th

[2015-06-13 11:44] faaliyet commented on #163
I think, LedisDB is the only Redis list alternative out there. SSDB performance with lists is bad.
And lists are used often in webapps. So, maybe in the future, you can pay attention to this feature as LedisDB already has HA. Pinterest may also interest with this, http://blog.pivotal.io/pivotal/case-studies-2/using-redis-at-pinterest-for-billions-of-relationships to cut some $$. :)

[2015-06-13 11:56] siddontang commented on #163
Yes, saving all data in redis costs much $$, this is not cost-effective. In my opinion, we can use cluster solution if one machine can not hold the data size and request rate.

Btw, I have been developing a distributed KV in our startup team, here https://github.com/reborndb, maybe you have some interests too.

[2015-06-13 12:06] faaliyet commented on #163
I don;t know how it's different *internally* but benchmark results are very different from LedisDB, some operations perform much faster, some other perform slower. LPUSH / LRANGE example. I have a question. Why did you build this ? The reason is **distribution** ?

[2015-06-13 12:09] faaliyet commented on #163
this one reminds me cockroachdb which is another newsql/nosql.

[2015-06-13 12:09] #163 closed

[2015-06-13 12:10] siddontang commented on #163
This is my work, so I must build this :-)

Don't care too much about the benchmark too, it has not be updated for a very long time.

[2015-06-13 12:11] faaliyet commented on #163
How can you handle all this stuff ? Is it not your effort is too much ? :) you're playing with too many technologies.

[2015-06-13 12:11] siddontang commented on #163
CockroachDB is only KV, but does not support other redis data structure and commands.

Btw, our team has also been building a distributed SQL based on coackroachdb too. :-)

[2015-06-13 12:14] siddontang commented on #163
I developed LedisDB in my spare time before I join my current team. And now I nearly has no time to improve it, badly!!!

[2015-06-13 12:15] faaliyet commented on #163
Respect ! :) It seems like, you and your team gonna be famous in near future :) Tell me more about RebornDB, :) why and when we/developers should use rebornDB over LedisDB

[2015-06-13 12:25] siddontang commented on #163
RebornDB is redis compatibility, but LedisDB is not. So LedisDB may be faster than RebornDB.

LedisDB is my personal product, but RebornDB is a company product, I think it may be more robust. (Btw, I am still confident that LedisDB can be used in production too!!!)

Later, we will develop a really distributed system like Elasticsearch architecture which can re-shard data automatically and protect

[2015-06-13 12:42] faaliyet commented on #163
```Don't care too much about the benchmark too, it has not be updated for a very long time. ```
when we can see an updated benchmark of RebornDB :)

``1. install gorocks.a & levigo.a to GOPATH```
I think it's storage is powered by leveldb and rocksdb, right?

[2015-06-13 12:50] siddontang commented on #163
Now we are developing code and don't know when to complete document, but I have add an issue here https://github.com/reborndb/qdb/issues/41, maybe next week.

Yes, RebornDB uses rocksdb, leveldb, goleveldb as the backend storage, but we will support more later.

[2015-06-13 12:53] faaliyet commented on #163
Perfect ! how about it's license ? open source or some limited open source :)

[2015-06-13 12:56] siddontang commented on #163
I think you can create an issue in qdb, not here.

[2015-06-13 12:59] siddontang commented on #163
Now it is MIT, but I am not sure whether it will be changed later (I am not the co-founder:-) ).

But it will be open source forever.

[2015-06-13 13:03] faaliyet commented on #163
```I think you can create an issue in qdb, not here.```
actually, our conversation turns to QA :) that's why I've changed the title, to make seo friendly. I'm really looking to see it in production. many promises & challenges in it :)

[2015-06-13 13:06] siddontang commented on #163
Got it. :-)

[2015-06-17 11:29] techtonik opened #164 "Binaries for Windows"
I needed an alternative to Redis that works on Windows.Can LegisDB be such replacement?

[2015-06-17 11:38] siddontang commented on #164
LedisDB is written with go, and you can use a pure go backend storage like boltdb or goleveldb, so I think you can use it in windows. Btw, I have no windows environment so I can not tell you whether it is or not.

LedisDB is not redis, with some differences, you must know that too.

[2015-06-17 11:46] techtonik commented on #164
But LegisDB is API compatible with Redis, no?

I tried to use LegisDB from repository, but build uses bash scripts. Is it possible to have a cross-platform build toolchain?

[2015-06-17 11:51] siddontang commented on #164
Not fully compatible with Redis.

The build sciripts is only for linux and macosx, you can use `go install ./...` directly for pure go version.  :-)

[2015-06-17 13:08] techtonik commented on #164
My goal is basically to get http://python-rq.org/ working on Windows. I don't know what protocol does it use to talk with Redis, but I hope it is not as hard as getting Redis there.

To build LedisDB I tried:
[code]
And a lot of messages like this. What else is needed?

[2015-06-17 13:23] siddontang commented on #164
You may use `godep go install ./...`

[2015-06-17 14:24] techtonik commented on #164
It appears that no, can't use it. =)
[code]

[2015-06-17 14:28] siddontang commented on #164
The godep will be installed in $GOPATH/bin, you must set this in your system $PATH or call godep with absolute command path like `$GOPATH/bin/godep`

[2015-06-17 14:31] techtonik commented on #164
Ok. For Windows it is:
[code]
Still no luck.

[2015-06-17 14:34] siddontang commented on #164
Bad  news, windows has no this function.

You can first comment this line which has no affect. :-)

[2015-06-17 14:57] techtonik commented on #164
[code]
Commented import too. Now `godep` worked well. Is that all?

[2015-06-17 15:00] techtonik commented on #164
[code]
Hmm...

[2015-06-17 15:03] siddontang commented on #164
You can not build ledis-cli in windows, the same for redis-cli too, because they both use a linenoise lib which only be supported in linux and macosx.

[2015-06-17 15:05] techtonik commented on #164
=/

How to test that it works then?

[2015-06-17 15:07] siddontang commented on #164
Pardon? I don't know what you mean?

I know that MS builds a portable redis version in windows, maybe including a redis-cli?

[2015-06-17 15:11] techtonik commented on #164
I mean how can I test that `ledisdb` is compiled successfully and works as expected?

[2015-06-17 15:16] siddontang commented on #164
maybe:

+ https://github.com/MSOpenTech/redis, build it and use redis-cli.exe for test
+ https://github.com/ServiceStack/redis-windows/tree/master/src/msopentech/redis-64.2.8.17, it has a redis-cli.exe, but I don't know whether it is ok or not in your system
+ write your own test with official redis library, like python, go, but it costs time.

[2015-06-18 07:38] techtonik commented on #164
Strange that there is no Go client to test access to `ledisdb` from different machines. May be later.

[2015-06-22 13:18] blinkinglight opened #165 "what about backend storage on mysql? over handlersocket or plain sql :) ///∞"

[2015-06-23 00:23] siddontang commented on #165
Hi @spx, I just want to let ledisdb keep simple and don't rely on outer service like MySQL.

If MySQL is down, all services will not work too and I don't think using MySQL is faster than other local backend storage like RocksDB, but we need a benchmark for it. :-)

Btw, supporting MySQL may be easy (I prefer plain sql and don't trust handlersocket) but I have no time now, sorry.

[2015-06-29 11:14] insionng opened #166 "我想ledisdb能不能提供一个windows下的编译版下载?"
虽然服务器是Linux,但由于开发是在windows,故而想在win下编译ledisdb,可否提供一个现成的编译版给以开发之用?

[2015-06-29 14:02] siddontang commented on #166
你直接可以安装纯go版本的ledisdb，使用 go install ./...就可以了，默认使用的goleveldb引擎

[2015-06-30 04:32] insionng commented on #166
你所说纯Go版本是指这个吗? github.com/siddontang/ledisdb/ledis

[2015-06-30 04:45] siddontang commented on #166
你直接 go get github.com/siddontang/ledisdb，应该会在你的$GOPATH/bin下面生成一个ledis-server

[2015-06-30 04:46] insionng commented on #166
这是不可能的 因为你的目录里没有main文件入口

[2015-06-30 04:47] insionng commented on #166
[code]

[2015-06-30 04:47] siddontang commented on #166
go install ./...

[2015-06-30 04:48] siddontang commented on #166
如果你有godep，那就`godep go install ./...`

[2015-06-30 06:16] insionng commented on #166
好吧 原来"```go install ./...```"是一句完整的命令. 第一次知道还有这用法.

[2015-06-30 06:17] #166 closed

[2015-06-30 06:34] insionng opened #167 "纯Go版编译成功了 ledis-server运行好像没有提示输出 不知是不是成功了 而ledis-cli则提示"Please use linenoise to build again, or use redis-cli instead",请问怎么解决?"
实验了一下 redis-cli可以连接成功了,不知为何ledis-cli会出现这个错误,另外建议ledis-server启动的时候输出个欢迎信息,不然都不知是不是正常工作了.

[2015-06-30 06:40] siddontang commented on #167
ledis-cli是不支持的，因为用的跟redis一样的cli，不支持windows，你可以考虑用一个windows编译好的redis cli来测试

可以参考
https://github.com/MSOpenTech/redis
https://github.com/ServiceStack/redis-windows/tree/master/src/msopentech/redis-64.2.8.17

[2015-06-30 06:42] insionng commented on #167
好的 已经在用redis-cli了,准备在一个非常复杂的系统里用ledisdb,希望带给我好运~

[2015-06-30 09:22] siddontang commented on #167
:-)

[2015-06-30 09:22] #167 closed

[2015-07-01 06:01] #151 closed

[2015-07-08 15:01] wenerme commented on #72
How ledis strong consensus replication ?

[2015-07-09 01:20] siddontang commented on #72
@wenerme

we use xcodis(a modified codis version) to support cluster, so we will not consider replication using raft or paxos any longer.
Ledisdb support a sync replication (master <-> slave) in configuration. but it will degrade to asynchronous replication sometimes, so not always consensus.

[2015-07-15 08:21] uchti commented on #160
Leveldb, RocksDB (LSM tree) have problems to get value on very large volumes of data when data stored on deeper level, sophia does not have such problems.

[2015-07-17 03:32] txchen opened #168 "[Question] How to "Easy to embed in Go application""
This is in feature list, however I cannot find wiki or doc or example showing how to do that. Could you please shed some light? Thanks a lot!

[2015-07-17 04:31] siddontang commented on #168
[code]

a simple example. :-)

[2015-07-17 05:47] txchen commented on #168
thanks, will have a try!

[2015-07-21 13:11] joelchen opened #169 "Please update benchmark results"
Would like to see updated results of [benchmark](https://github.com/siddontang/ledisdb/wiki/Benchmark) with latest versions of goleveldb, leveldb, rocksdb, hyperleveldb, lmdb, boltdb, Redis, and SSDB. Thank you.

[2015-07-27 09:12] Leither opened #170 "No api HEXISTS"
like Redis
 http://redisdoc.com/hash/hexists.html

[2015-07-27 10:39] siddontang commented on #170
I have already supported it. maybe another API?

[2015-07-28 05:36] Leither commented on #170
http://godoc.org/github.com/siddontang/ledisdb/ledis
no hexists

HKeyExists :key
HEXISTS : key and field

[2015-07-28 16:11] clangley opened #171 "Is LedisDB Production Ready?"
I am wondering, is ledisdb production ready? I have a use case where LedisDB is a perfect candidate for my storage needs.

[2015-07-29 00:22] siddontang commented on #171
Hi @clangley, I know some people and company have already used it in production, but I am still not sure whether it can be production ready or not.

But you can have a try, your feedback is very welcome for its improvement. Thank you :-)

[2015-07-29 08:48] darshan-ghumare opened #172 "make through error cmd/ledis-load/main.go:6:2: cannot find package "github.com/siddontang/ledisdb/config" in any of:"
#uname -a
Linux ubdesk1404 3.13.0-53-generic #89-Ubuntu SMP Wed May 20 10:34:39 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

#$PATH
/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/home/cloud/gocode/bin

#make
godep go install -tags 'linenoise ' ./...
cmd/ledis-load/main.go:6:2: cannot find package "github.com/siddontang/ledisdb/config" in any of:
        /usr/

[2015-07-29 12:01] darshan-ghumare commented on #172
$ make
godep go install -tags 'linenoise leveldb' ./...
Godeps/_workspace/src/github.com/BurntSushi/toml/encoding_types.go:10:2: cannot find package "encoding" in any of:
        /usr/src/pkg/encoding (from $GOROOT)
        /home/cloud/prototypes/ledisdb/src/github.com/siddontang/ledisdb/Godeps/_workspace/src/encoding (from $GOPATH)
        /home/cloud/gocode/src/encoding
        /home/cloud/gocod

[2015-07-30 01:40] siddontang commented on #172
Hi @darshan-ghumare

What's your GOPATH, GOROOT and  Go version?

[2015-07-30 05:06] darshan-ghumare commented on #172
Thanks /siddontang.

$GOPATH
/home/cloud/gocode/:/home/cloud/gocode/bin:/home/cloud/gocode/pkg:/home/cloud/gocode/src:/home/cloud/prototypes/ledisdb

GOROOT not set

 go version
go version xgcc (Ubuntu 4.9.1-0ubuntu1) 4.9.1 linux/amd64

[2015-07-30 05:26] siddontang commented on #172
Hi @darshan-ghumare , if you don't set GOROOT to your go installed path, you can not use the standard   package like encoding.

ledisdb is not in the correct path, e,g, the source must be in ${GOPATH}/src/github.com/siddontang/ledisdb, you can see the readme for more build and install information.

Thank you.

[2015-07-30 05:58] darshan-ghumare commented on #172
cloud@ubdesk1404:~/prototypes/ledisdb/src/github.com/siddontang/ledisdb$ $GOPATH
-bash: /home/cloud/gocode/:/home/cloud/gocode/bin:/home/cloud/gocode/pkg:/home/cloud/prototypes/ledisdb/src/github.com/siddontang/ledisdb:/home/cloud/prototypes/ledisdb: No such file or directory
cloud@ubdesk1404:~/prototypes/ledisdb/src/github.com/siddontang/ledisdb$ make
godep go install -tags 'linenoise leveldb' ./

[2015-07-30 06:06] siddontang commented on #172
Hi @darshan-ghumare , if you install your go like /usr/local/go, do you do `export GOROOT=/usr/local/go `?

[2015-07-30 06:14] darshan-ghumare commented on #172
Hi siddontang,

Thats what I did.

$ $GOROOT
/usr/lib/x86_64-linux-gnu/go/4.9/: Is a directory

cloud@ubdesk1404:~/prototypes/ledisdb/src/github.com/siddontang/ledisdb$ make
godep go install -tags 'linenoise leveldb' ./...
Godeps/_workspace/src/github.com/BurntSushi/toml/encoding_types.go:10:2: cannot find package "encoding" in any of:
        /usr/lib/x86_64-linux-gnu/go/4.9/src/pkg/encoding (fro

[2015-07-30 06:38] siddontang commented on #172
Hi @darshan-ghumare , `/usr/lib/x86_64-linux-gnu/go/4.9/` doesn't seem a valid go root path, how do you install go? if you enter this path, what's the output for `ls`? do you see any "src", "bin" or "pkg" directory in it?

you can see more here https://golang.org/doc/install

btw, can you run any other go program?

[2015-07-30 07:24] darshan-ghumare commented on #172
Thanks.

Now, not able to find ledis-server

$ ledis-server
No command 'ledis-server' found, did you mean:
 Command 'redis-server' from package 'redis-server' (universe)
ledis-server: command not found

[2015-07-30 07:31] siddontang commented on #172
Hi @darshan-ghumare

ledis-server is installed in your GOPATH/bin directory, look it here.

later I will change it to install in local bin directory.

[2015-07-30 10:30] darshan-ghumare commented on #172
Thank you so much siddontang.

[2015-07-30 13:14] siddontang commented on #172
:-)

[2015-07-30 13:14] #172 closed

[2015-07-31 02:10] siddontang opened #173 "use liner to let windows support ledis-cli"
https://github.com/peterh/liner

[2015-08-02 02:45] siddontang opened #174 "remove lua script support"

[2015-08-02 07:34] #173 closed

[2015-08-02 15:09] siddontang opened #175 "remove boltdb and lmdb, may only support leveldb/rocksdb/goleveldb"

[2015-08-02 15:17] holys commented on #175
:+1:

[2015-08-07 20:25] pkieltyka commented on #175
why remove boltdb..?

[2015-08-07 20:27] pkieltyka commented on #171
its been solid for us for over a year of a 10GB data set (rocksdb), on a service doing 100 to 200 req/sec, of which every request would hit ledisdb and its been a rock.

[2015-08-08 02:00] siddontang commented on #175
well, @pkieltyka , the newest boltdb may cause a deadlock, which it doesn't allow run both read and write transaction in a goroutine at same time, but in LedisDb, we have many places to do these things:

[code]

This is ok with goleveldb/rocksdb/leveldb, and even lmdb, but not boltdb now.
I have no time to fix this for boltdb now and I don't think its performance can beat rocksdb, maybe the best c

[2015-08-08 02:01] siddontang commented on #171
:-)

I am very surprised that I have been developing it for more than a year !!!

[2015-08-08 19:17] sirvon commented on #171
If I can be a bit nosey can @clangley @pkieltyka tell me why you chose this db over redis?
thanks!

[2015-08-09 13:21] pkieltyka commented on #171
long-term data persistence and a data set that can grow > 100GB

[2015-08-09 13:22] pkieltyka commented on #171
ledisdb isn't the default choice over redisdb, but if you have those two requirements above.. large data set, where keys are greater than memory, and you want the dataset to be stored in a proper on-disk storage engine, then ledisdb is a much better choice, with still great performance (but not as good as redis since thats all in-memory).

[2015-08-17 20:10] linked commented on #171
+1

I found Ledis about 4 days ago -- My redis was exceeding 16GB and crashing a $200 server. I downloaded it at 10am, played with it until 10pm (load testing it up to 50GB dataset *four times*, excellent response speeds for my sparse dataset, no changes to my redis code, 0 errors and only 500mb RAM in use), implemented in production by 4am, monitored health until 8am, and since then I have been s

[2015-08-18 01:44] siddontang commented on #171
:-)

Thanks @linked , your feedback is the most motivation for me to improve it.

[2015-08-18 02:01] linked commented on #171
I would very much like to donate, to provide even more motivation.

[2015-08-18 02:09] leewardbound opened #176 "How to take a snapshot?"
Hi, what is the proposed process for snapshot/backup/restore workflow? Could you please add an example to the documentation?

Right now, I see this --
/var/ledis ♟ > du -hs *
7.3G    leveldb_data
0   LOCK
4.0K    snapshot

So my main questions are --
1) How to trigger a snapshot?
2) Since I have no snapshots, can I gzip-then-rsync the leveldb_data folder offsite to effectively backup my data? (I a

[2015-08-18 02:31] siddontang commented on #176
Hi @linked

You can not copy and sync this folder directly.

Ledis supplies ledis-dump and ledis-load command.

You can use ledis-dump to dump the snapshot into a file, sync to other place and use ledis-load to restore.

[2015-08-18 02:32] siddontang commented on #176
The mechanism depends on leveldb/rocksdb snapshot, so it doesn't block your service.

[2015-08-19 22:57] pkieltyka opened #177 "siddontang/snappy and siddontang/leveldb packages"
Are these still necessary? they are pretty out of date..

ie. would be nice to see this used: https://github.com/golang/snappy

and.. for leveldb.. I dunno, but I'm sure a lot has been done.

[2015-08-19 23:08] pkieltyka commented on #177
I'm trying to update the Docker image to the latest but running into issues with the dependency drift. Can you update to use golang/snappy which was previously google/go-snappy.

[2015-08-20 01:25] siddontang commented on #177
ok, I will fix it.

[2015-08-20 02:26] pkieltyka commented on #177
thank you :)

[2015-08-20 13:35] #177 closed

[2015-08-20 13:36] pkieltyka opened #178 "Config questions"
What are these config options for:

https://github.com/siddontang/ledisdb/blob/master/etc/ledis.conf#L42-L46

https://github.com/siddontang/ledisdb/blob/master/etc/ledis.conf#L145-L149

perhaps we can write more about some of the important ones in a doc?

thanks.

[2015-08-21 02:20] siddontang commented on #178
@pkieltyka

the first one is to control leveldb/rocksdb  synchronous writes, leveldb/rocksdb uses asynchronous writes default, we can use this config to let it how to do a synchronous write.

the second one is to control replication log how to be flushed to disk.

I will add some docs later.

[2015-08-22 09:31] darshan-ghumare opened #179 "Benchmarking with GolevelDB"
Hi,

I have a Ubuntu 14.04 with 32 GB RAM and Quad core Intel(R) Xeon(R) CPU E3-1220 V2 @ 3.10GHz machine.
Following is the performance I am getting on 10GB HDD,

root@Machine3:~/prototypes/ledisdb/src/github.com/siddontang/ledisdb# /root/prototypes/ledisdb/bin/ledis-benchmark -port=6380 -vsize=4096 -t="set"
set: 2.070735167s 2070.735 micros/op, 482.92op/s

root@Machine3:~/prototypes/ledisdb/src/g

[2015-08-22 12:57] siddontang commented on #179
Seem a little slow, how about use smaller size like 1k or with rocksdb/leveldb?

[2015-08-23 09:31] darshan-ghumare commented on #179
With RocksDB

root@Machine3:~/prototypes/ledisdb/src/github.com/siddontang/ledisdb# /root/prototypes/ledisdb/bin/ledis-benchmark -port=6380 -vsize=4096 -t="set"
set: 51.073598ms 51.073 micros/op, 19579.59op/s

root@Machine3:~/prototypes/ledisdb/src/github.com/siddontang/ledisdb# root/prototypes/ledisdb/bin/ledis-benchmark -port=6380 -vsize=4096 -t="set" -n=3000
-bash: root/prototypes/ledisdb/bin/l

[2015-08-24 03:57] siddontang commented on #179
128k seems too large. 4k seems having an acceptable performance.

I don't know why goleveldb has the terrible performance, I will check it again and contact the author.

What's your scenario for data saving, if you have lots of data with big size (64k or 128k), I don't think ledisdb can fit your need.

Thank you.

[2015-08-24 04:26] darshan-ghumare commented on #179
Following is my setup,

   1. FIO with following parameters, ioengine=psync, iodepth=32, bs=4k,
   number_ios=1000000, rw=randwrite, direct=1, fsync_on_close=1
   2. Runs FIO on Ubuntu 14.04 VM created on QEMU-KVM.
   3. I have written QEMU block driver which will trap FIO IOs on disk and
   forward it to LedisDB using hiredis APIs.

Following are my observations,

   1. With 4K block size I got 5

[2015-08-25 01:54] siddontang commented on #179
Sorry that I don't know how to tune the IO.
I see that you use hiredis APIs, do you use multi connections concurrently at same time, if you just only use one client, the performance is not good.

[2015-08-28 08:44] bittoy opened #180 "key设置过期时间后ldb文件减小不明显"
测试发现key设置过期时间，当超过过期时间后保存数据的ldb文件会大小会减小一小部分，但是不会减小为0，请问是什么原因

[2015-08-28 09:05] siddontang commented on #180
leveldb/rocksdb这种的会有阀值，当超过之后才会进行compact处理。

[2015-08-28 09:14] bittoy commented on #180
理论上我的理解是这样的，当我给key设置过期时间时，当超过过期时间此key会被删除，那么保存其信息的ldb文件中也会删除此条数据，不然的话ldb文件会一直增长下去

[2015-08-28 09:17] siddontang commented on #180
不会，LSM模型是使用的文件追加方式，你的任何delete操作是append到文件末尾的，而不是直接去对应的位置删除。

只有过了相应的阀值，才会触发compact。

[2015-08-28 09:24] bittoy commented on #180
好的，请问阀值是在什么地方去查看与设置的

[2015-08-28 09:28] siddontang commented on #180
这个你具体看下leveldb或者rocksdb的文档吧，如果用的default的goleveldb，也可以看下，不过leveldb貌似是改不了的，rocksdb或者goleveldb能改，那配置也足够会让人郁闷死，太多了。

另外，个人感觉这么点硬盘损耗其实不必太care。

[2015-08-28 09:33] bittoy commented on #180
知道了，非常感谢

[2015-09-03 12:54] defia opened #181 "why sscan returns expired keys?"

[2015-09-03 12:58] #181 closed

[2015-09-03 12:58] defia commented on #181
i found that i made a mistake

[2015-09-12 00:34] ukd1 opened #182 "Auth support?"
Ledis doesn't seem to support authentication; is that planned or being worked on? Would you accept a pull request?

[2015-09-12 01:00] siddontang commented on #182
Supporting it may be easy, but I have no time to develop it, sorry.
So it is very appreciated that you can send me a PR. :-)

[2015-09-12 02:45] ukd1 commented on #182
@siddontang I'm working on it now, I'll open a WIP PR - would love your comments on my implemenation

[2015-09-12 05:27] siddontang commented on #182
Great :-)

[2015-09-13 02:56] ukd1 commented on #182
Yay! Thanks @siddontang

[2015-09-13 02:56] #182 closed

[2015-09-18 07:06] xpurer opened #186 "编译出错"
godep go install -tags '' ./...
# github.com/siddontang/ledisdb/rpl

rpl/log.go:45: undefined: sync.Pool
# github.com/ugorji/go/codec

Godeps/_workspace/src/github.com/ugorji/go/codec/encode.go:533: undefined: sync.Pool
Godeps/_workspace/src/github.com/ugorji/go/codec/encode.go:1219: undefined: sync.Pool
godep: go exit status 2
Makefile:17: recipe for target 'build' failed
make: **\* [build] Error

[2015-09-18 08:01] siddontang commented on #186
What's your go version? or do you set your GOROOT, GOPATH correctly?

[2015-09-27 18:05] ketor opened #187 "Compare to SSDB"
Our team is looking for a ondisk redis db now.
We test SSDB for a long time but today I find ledisdb.

After looking into the wiki of ledisdb, I can not easily find out what is the key difference between ledisdb and SSDB.

So would please tell me something about it?

Thanks!

[2015-09-27 23:51] siddontang commented on #187
LedisDB is Go and SSDB is C++, I think this may be the biggest difference. :-)

Most of these projects (not only LedisDB, SSDB, but also RebornDB, etc...) all use a fast key/value store like LevelDB or RocksDB as the backend storage, and use the similar way to emulate Redis's APIs.

[2015-09-28 04:37] ketor commented on #187
Thank you for reply.

What I focus on is the Redis protocol compatibility between SSDB and ledisdb. Because many redis db instances will migrate to disk db like ledisdb or SSDB, and I am researching redis disk db choices.When I find ledisdb, I feel incredible. But it is hard to see if there is a clear evaluation criteria between SSDB and ledisdb.

If you could able to explain more about the Redis

[2015-09-28 06:02] siddontang commented on #187
There is no big different in inner implementation to support Redis APIs for LedisDB and SSDB.
Why I want to develop LedisDB but not use SSDB is that SSDB is not supported cluster, and SSDB is written by C++, which is hard to modify, at the same time, SSDB saves operation log in LevelDB for replication which I don't think it is efficient.

LedisDB is written by Go, so you can learn it, modify it ea

[2015-09-29 23:37] chzyer commented on #173
I will recommend the library I'm working on: https://github.com/chzyer/readline ;)
It works well on darwin/linux/windows, and bring us the zsh-style-readline user experience.

[2015-10-02 13:19] spitfire2 commented on #117
any progress of this? Redis compatibility is very important for us.

[2015-10-02 13:20] spitfire2 opened #188 "Is slaveof command compatible with redis"
Can Ledis slaveof a redis instance and redis can slaveof ledis instance?

[2015-10-05 01:27] siddontang commented on #117
@spitfire2  you can try [qdb](https://github.com/reborndb/qdb), this is a redis compatibility implementation.

[2015-10-05 01:28] siddontang commented on #188
no, ledisdb is not redis, but you can try [qdb](https://github.com/reborndb/qdb)

[2015-10-05 02:57] felixbuenemann commented on #161
@siddontang I have got lua 5.2 support working in my fork ([see changes](https://github.com/siddontang/ledisdb/compare/master...felixbuenemann:lua-5.2)). If you're interested in integrating it, I could do a PR. I did not bother to keep 5.1 backwards compatibility, so my fork is 5.2 only.

[2015-10-05 03:13] felixbuenemann commented on #174
Why do you want to remove it?

[2015-10-05 03:38] siddontang commented on #174
We cannot support whole lua features like redis, btw, using lua in go has some limitations and we have to distinguish 5.1, 5.2 or even 5.3 later.

[2015-10-05 03:39] siddontang commented on #161
Thanks @felixbuenemann

Maybe we can use building tag to distinguish 5.1, 5.2.

[2015-10-05 04:09] felixbuenemann commented on #174
If you don't want to support multiple lua versions, you could just specify the supported version in the README or vendor the lua sources [like redis](https://github.com/antirez/redis/tree/unstable/deps/lua) which also uses lua 5.1.

Even if not all features possible in redis work in ledis, I think it's still a useful feature to have.

[2015-10-05 04:13] felixbuenemann commented on #161
And then use two different directories, like `vendor/lua51` and `vendor/lua52`?

Maybe if the modified golua lib was in it's own package, godeps could pick up a different version, depending on which lua version is detected?

I'm no go developer, so I'm not sure if that's possible.

[2015-10-05 04:23] siddontang commented on #161
I think we should use two folder with different building tags and let outer determine which version to use.
Godep doesn't handle package with building tags directly.

[2015-10-05 04:36] felixbuenemann commented on #161
OK, I'm off to be right now, but I'll give it a try tomorrow.

[2015-10-05 04:37] siddontang commented on #161
Thanks @felixbuenemann

[2015-10-05 09:44] FlamingTree opened #190 "why ledis struct need both wrLock and commitLock"
wrLock and commitLock lock what respectively ?

[2015-10-05 12:15] spitfire2 commented on #188
looks like qdb have no update for months and contributors are working on Tidb now.

[2015-10-05 13:19] siddontang commented on #190
wrLock is for API and commitLock is for replication.

[2015-10-14 03:13] FlamingTree opened #193 "Is pipeline like redis supported?"

[2015-10-14 03:58] siddontang commented on #193
No, we don't support pipeline.

[2015-10-14 05:08] FlamingTree commented on #193
why? I just need buffer multi commands and send all buffer once, and recv response repeatly. is there problem?

[2015-10-14 05:27] siddontang commented on #193
As you see above, you need buffer multi commands which is done by client, not server.

[2015-10-14 05:56] FlamingTree commented on #193
I understand. redis's so-call pipelined seem to be client behaviour too, right?

[2015-10-14 06:33] siddontang commented on #193
yes. server doesn't care how client sends commands, and handle them one by one.

[2015-10-14 06:35] FlamingTree commented on #193
thanks~

[2015-10-14 06:35] #193 closed

[2015-10-24 11:46] #190 closed

[2015-10-24 11:50] FlamingTree opened #194 "slave node error when execute flushall command on master node"
when execute "flushall" command on master, slave node repeatly log error like this:
[2015/10/24 19:45:39] 127.0.0.1:58183 "sync 3" 0 [invalid sync logid 3 > 0 + 1]

[2015-10-24 13:15] FlamingTree commented on #194
https://github.com/siddontang/ledisdb/blob/master/ledis/ledis.go#L174-L179  here is problem, flushall clear commit id and logid, but slave node doesn't clear. is it known problem?

[2015-10-24 21:07] leedstyh opened #195 "嵌入式的使用，只能使用goleveldb吗"
不能使用rocksdb？

[2015-10-26 07:48] siddontang commented on #195
可以，直接在config里面配置。

[2015-10-26 07:58] siddontang commented on #194
hi @FlamingTree , as I knew, if the sync failed, slave will try another full sync later, if not, this may be a problem.

of you can send slaveof instead to fix it?

[2015-10-26 07:58] leedstyh commented on #195
我是直接把config文件夹里那个.toml文件cp过来，就改了下里面，设置成rocksdb，但是运行说rocksdb没有注册。

我没有在lediadb里执行make，我想嵌入式的使用不需要这步吧

[2015-10-26 08:00] siddontang commented on #195
需要，make的时候会带上rocksdb这个build tag，不然不会编译rocksdb这个package
或者你手动go build -tags "rocksdb"，前提是rocksdb的安装路径要在linux标准路径里面，/usr/local/include以及/usr/local/lib，如果如果你是用homebrew这些安装的应该能直接找到

[2015-10-26 08:05] leedstyh commented on #195
哦好的我再试试，还有，这个嵌入式使用，是不是我的程序go build后把二进制仍到服务器就行，服务器不需要安装任何东西了

[2015-10-26 08:17] siddontang commented on #195
得装rocksdb，因为是动态库

[2015-10-26 10:06] FlamingTree commented on #194
I read flushall command implementation, found it does not log deletion write, nor send flushall command to slave, but it clean master's logid, cause master's logid less than slave's. maybe better solution is send flushall to slave, but i don't know how to~

[2015-10-26 12:15] leedstyh commented on #195
我试了下，安装了rocksdb（按提供的那个链接，`make shared_lib`）

`/usr/local/include`和`/usr/local/lib`都有

然后用的`go build -tags "rocksdb" t.go`的方式build了，但是运行的时候出错，信息如下：

`error while loading shared libraries: librocksdb.so.4.2: cannot open shared object file: No such file or directory`

[2015-10-26 12:38] siddontang commented on #195
这明显是系统没找到你这个动态库，新开一个会话再试试，或者强制设置一下LD_LIBRARY_PATH，另外，你确定librocksdb.so.4.2这个在/usr/local/lib下面？

[2015-10-26 12:53] FlamingTree commented on #194
https://github.com/FlamingTree/ledisdb/commit/f781c8e9d8fd088c2fc7d96ae39a7713130be86e  I try to fix it. I will send a PR if it's ok. but it's insignificant because rarely use.

[2015-10-26 14:07] leedstyh commented on #195
是的，是在`/usr/local/lib`

http://lizh.me/files/rocksdb.png

[2015-10-26 14:15] leedstyh commented on #195
现在，我在`.profile`里添加了`export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib`（是这样添加吧，现搜索的）

正常运行了。

学到了不少新东西，不过感觉用起来不太方便呢

[2015-10-26 17:53] captncraig opened #197 "Implement LREM"
I have a use case where in redis I am using [LREM](http://redis.io/commands/lrem) to remove all occurrences of a specified item from a list. Ledis does not support this. Any cahnce of getting it implemented?

[2015-10-26 18:14] captncraig commented on #197
Nevermind. I was able to do what I need with `LMCLEAR`

[2015-10-26 18:14] #197 closed

[2015-10-26 23:28] siddontang commented on #195
动态库对于任何程序都不方便。

在linux下面你也可以尝试静态编译rocksdb，这样就没有动态库路径的问题，但我没试过，不保证能成功。

[2015-11-01 02:42] guileen opened #198 "为什么ledis的zrange命令在leveldb上比ssdb要慢？"
因为ledis对redis协议的完全兼容，我们希望在产品中使用ledis而不是ssdb。

观察ledis官方网站上的性能测试图，zrange在leveldb上的性能是rocksdb的一半，而在rocksdb上的性能接近ssdb。ssdb本身是基于leveldb的。

这一点让我感到很疑惑。ssdb和ledis在原理上应该都是利用leveldb的key排序特性来实现的，他们的IO次数应该是一样的。是否ledis在迭代过程中相比ssdb有一个额外的IO操作，导致ledis的IO次数恰好是ssdb的两倍？

[2015-11-01 13:21] siddontang commented on #198
Ledis也不是redis完全兼容的，[qdb](https://github.com/reborn/qdb)是redis兼容的。

Ledis比ssdb慢，主要原因在于go比c++要慢，另外，只要不是指数倍数的差距我觉得都可以接受。

[2015-11-02 03:08] guileen commented on #198
对于Ledis在ZRANGE这个操作上的慢，应该不可能是go比c++慢导致的。go比c＋＋慢的因素在所有命令中都是相同的，包括，SET、GET这些基本操作也应该能成倍的表现出来。显然，SET、GET命令并不比ssdb慢很多。但ZRANGE则比ssdb慢得太多，显得不太合理。

非常高兴看到 qdb 这个完全redis兼容的项目出来。不知道未来 qdb 与 ledis的计划是怎么样的呢？此外发现 qdb 属于reborndb这个组织的，而这个组织也有一个reborndb 简介是redis兼容的。想要知道，是否适合在项目中使用qdb。

[2015-11-02 03:27] siddontang commented on #198
为什么这么慢如果你有兴趣，欢迎提PR fix，我现在没有时间去弄这个 :-)

对于ledis或者qdb，我们现在没有任何计划，太忙了，sorry。

[2015-11-02 07:19] guileen commented on #198
非常感谢。qdb的代码看起来很赞。

[2015-11-02 07:19] #198 closed

[2015-11-02 09:29] zaibon commented on #175
Is boltdb already removed from the supported backend ?
[code]

[2015-11-02 14:05] siddontang commented on #175
yes, the newest boltdb version will cause deadlock and I have no way to fix it now.

[2015-11-03 13:10] #195 closed

[2015-11-08 21:03] mmindenhall opened #199 "etcd backend?"
Would it be feasible to support [etcd](https://github.com/coreos/etcd) as a ledis backend?  The use case I have in mind is a networked appliance that can be deployed as a standalone unit (in which case would use boltdb as backend), or in a cluster for redundancy (in which case would use etcd).

[2015-11-09 00:27] siddontang commented on #199
@mmindenhall
I don't use etcd before, so I can't tell you whether feasible or not, but I don't think we will have a good performance even it can be. :-)

[2015-11-10 06:15] mmindenhall commented on #170
@Leither is correct...there does not appear to be an implementation for HEXISTS, despite it being in the list of [supported commands](https://github.com/siddontang/ledisdb/wiki/Commands#hexists-key-field).  Currently, the only way to determine whether a field exists within a hash is to fetch it via HGET:

[code]

I'd much rather just do this:

[code]

[2015-11-10 06:53] siddontang commented on #170
@mmindenhall
Could you send me a PR to support it?

[2015-11-11 06:39] mmindenhall commented on #175
Just saw this...I'm using boltdb in the application I'm currently building.  Planning to be in production with it in a few weeks.

I guess I'm confused about why you need separate transactions?  The boltdb readme says "Each transaction has a consistent view of the data as it existed when the transaction started.".  So it would seem that if you created a single read-write transation, you could both

[2015-11-11 23:58] siddontang commented on #175
@mmindenhall
If boltdb starts a read only transaction, it will block any other write operations, and even more, if we do some write operations in read transaction, a deadlock occurs.

Now the iterator implementation based on boltdb uses its read only transaction, and we do some write operations in some iterations, like
[code]
we will meet deadlock using boltdb. We can solve this problem with refac

[2015-11-17 08:12] wangfx opened #200 "为什么要去除掉lmdb？"
0.5版本还支持lmdb吗？ 删除lmdb基于什么原因？ 其实我想使用lmdb 的range*功能，levedb，rocksdb range 特别是倒序效率太低，lmdb相对leveldb和rocksdb性能波动性要平稳的多，levedb和rocksdb文件合并的时候，查询效率会很低

[2015-11-17 08:31] wangfx commented on #200
我想基于levedb开发个分布式数据库，是这么想的：
1、主要使用rocksdb存储kv
2、只要使用lmdb存储zset
有规律的生成key，避免rocksdb深度排序，key值生成的想法如下：
xxxx00111nxa1234567
xxxx 每十天一个计数的时间值
00  集群标示，最大3844
111 slot数最大1000，用于数据迁移，每个集群主机数,最大1000
n   一级命名空间分类 最大62
x   二级命名空间分类 最大62
a   数据类型
1234567  基于xxxx00111n生成key序列号

这样避免rocksdb深度排序，利用lmdb的zset的range*性能，lmdb相当于一个rocksdb的索引库；
请指教！！！

[2015-11-17 09:00] siddontang commented on #200
lmdb没有删除，只删除了boltdb。不过lmdb现在需要传入lmdb这个building tag进行编译，使用 make build_lmdb即可。

[2015-11-19 04:37] insionng opened #201 "snapshot是不是自动存的镜像？怎么开启？"

[2015-11-19 05:03] siddontang commented on #201
不好意思，没明白？
snapshot只是底层kv的机制，外面除了sync的时候会用，其他地方不会用的。

[2015-11-19 05:29] insionng commented on #201
我看到snapshot目录一直好像是空的，所以问问怎么用上？

[2015-11-19 05:46] siddontang commented on #201
这个外面不会用的，只会在sync的时候用到。sync会将当前的snapshot存放到一个文件，然后在同步。

[2015-11-19 05:49] insionng commented on #201
大概明白了 谢谢~

[2015-11-19 05:49] #201 closed

[2015-11-20 00:20] #199 closed

[2015-11-21 09:02] wangfx opened #202 "rocksdb 和 lmdb 能在一个线程同时创建两个Iterator？"

[2015-11-22 04:42] siddontang commented on #202
rosksdb是可以的，因为是完全的mvcc的，lmdb貌似可以，不过没实际测试过。

[2015-11-23 12:56] nikolay-turpitko opened #203 "Unix domain socket permissions settings"
Please, consider to add setting to the *.toml configuration file to enforce proper unix domain socket permission.

For example, I want to execute ledisdb service and my application under different users, but they will use shared group. So, I want to set socket's permissions to 770.

Redis uses configuration property "unixsocketperm" for this scenario. Currently I cannot achieve this with LedisDB w

[2015-11-24 06:55] #203 closed

[2015-11-25 02:35] jan4984 opened #205 "怎么没有trim命令支持，对List来讲经常会用到的"
有计划支持吗？

[2015-11-25 02:40] siddontang commented on #205
现在没时间弄这块，欢迎提PR。:-)

[2015-11-26 07:08] jan4984 commented on #205
看看这么改有没有问题 https://github.com/siddontang/ledisdb/pull/206

[2015-11-27 05:24] dg3feiko opened #207 "[Request] Benchmark on space efficiency of different backends"
Thank u @siddontang for such nice wrapper of nosql db engines, our team love it so much.

As you have run benchmarks on IO performance of different backends, we'd also love to see the space efficiency of them as we cares a lot about ram and disk space usage of them. Could u please make such tests and publish it for everyone as better reference of making choices on backend ?

[2015-11-27 05:52] siddontang commented on #207
Hi @dg3feiko
Thanks for you attention, but now I have not time to do this (have to do lots of works for my job :cry: ), sorry.
I will add it TODO.

[2015-11-30 08:29] Leither opened #208 "LSet not support"
rt

[2015-12-01 00:37] Leither commented on #208
func (db *DB) LSet(key []byte, index int32, value []byte) error {
	if err := checkKeySize(key); err != nil {
		return err
	}

	var seq int32
	var headSeq int32
	var tailSeq int32
	//var size int32
	var err error
	t := db.listBatch
	t.Lock()
	defer t.Unlock()
	metaKey := db.lEncodeMetaKey(key)

	headSeq, tailSeq, _, err = db.lGetMeta(nil, metaKey)
	if err != nil {
		return err
	}

	if index >= 0 {

[2015-12-01 01:34] siddontang commented on #208
@Leither Could you send me a PR directly.
Sorry for replying late. :-)

[2015-12-03 08:30] insionng opened #211 "score只支持整型感觉很受限制，很多排序算法算出的值都是float64，直接转成整型又感觉变成了大数..."

[2015-12-03 09:33] siddontang commented on #211
score这个是历史遗留原因了，当时没想到什么很好的办法对float进行排序。
不过虽然现在有办法了，但是如何处理遗留数据又是一个问题，而且没时间弄，就一直放着了。

float排序编码可以参考 https://github.com/reborndb/qdb/blob/master/pkg/store/util.go

[2015-12-03 11:07] insionng commented on #211
如果能不考虑遗留数据（我打算对旧的排序数据重置），那么应该针对ledisdb哪里进行改动才能支持float64？

或者，可以在启动检查配置文档里加个支持float64的开关，需要的同学只要设了就可以用float64，你觉得这样如何？

[2015-12-05 04:57] siddontang commented on #211
现在的改动可能会比较大，接口这些的全是int的。

[2015-12-05 07:36] insionng commented on #211
好吧 还真是个蛋疼的遗留问题  现在只能将就的转换后存储了

[2015-12-05 08:03] siddontang commented on #211
恩，等我忙完了这一段时间，看有没有时间完全重构吧。

[2015-12-10 00:44] siddontang opened #212 "Refactor Roadmap."
A very huge change, maybe not backward compatibility.
- [ ]  New key encoding, different types with same key prefix can now be gathered together. Discuss with @leither.
- [ ]  Simplify code, origin seems a little chaos.
- [ ]  Simplify backend storage interface.
- [ ]  Try to support distributed storage, like HBase.
- [ ]  Redis compatibility after key encoding finished.

I have no enough time, ho

[2015-12-10 03:24] Leither opened #213 "requirement for db log"
requirement for db log
func (l _Ledis) Logs2Db(logs []_rpl.Log) (lastID uint64, err error)
func (l *Ledis) ProcessLog(log *rpl.Log, f func(r *rpl.Log, key []byte) uint) (ret uint, err error)
func (l *Ledis) ProcessLogs(startLogID, endLogId uint64, f func(r *rpl.Log, key []byte) uint) (lid uint64, err error)
func (l *Ledis) RevProcessLogs(startLogID uint64, f func(r *rpl.Log, key []byte) uint) (lid

[2015-12-10 03:26] Leither commented on #213
// leither.go
package ledis

import (
	"fmt"

	"github.com/gpmgo/gopm/log"
	"github.com/siddontang/go/snappy"
	"github.com/siddontang/ledisdb/rpl"
	"github.com/siddontang/ledisdb/store"
)

type kType int

type Replay struct {
	r   *rpl.Log
	f   func(r *rpl.Log, key []byte) uint
	ret uint
}

func (replay *Replay) Put(key, value []byte) {
	//fmt.Printf("put k=%s r=%v\r\n", key, replay.r)
	replay.ret

[2015-12-16 10:42] guonaihong opened #214 "内存数据库LPop后内存降不下来"
//在一个go程里不停地往ledis数据库里插入，达到一定的长底LPop数据。跑了5300秒，内存占用从最开始的324468KB 到最后的964292KB，中间一直在上涨，没有降过。

[code]

[2015-12-16 13:05] siddontang commented on #214
你用的内存数据库，数据全放内存的，内存不会降的。

[2015-12-17 01:18] jan4984 commented on #214
但是有Pop掉啊。比如MySQL，有insert有delete，占用空间在一定阈值是会回收的才对。

[2015-12-17 02:12] siddontang commented on #214
这个就要看goleveldb内部具体怎么实现的了，另外，你这个数据还不到1mb，有点小，不记得goleveldb的cache是4mb还是64mb了。

[2015-12-20 04:33] nikolay-turpitko opened #216 "Small install process note"
There is a "sanity check" at the top of ledisdb/dev.sh:

    if [[ "$LEDISTOP" == "${LEDISTOP/\/src\/github.com\/siddontang\/ledisdb/}" ]]; then
        echo "WARNING: LEDISTOP($LEDISTOP) does not contain src/github.com/siddontang/ledisdb"
        exit 1
    fi

The issue is with that `exit` command.
Installation guide in the README suggested to `source` this file, so this `exit` leads to surprisi

[2015-12-20 05:58] siddontang commented on #216
Hi @nikolay-turpitko , in my mac, running `return` will return "return: can only `return' from a function or sourced script".  :-)

[2015-12-25 08:35] jan4984 commented on #214
神了，LPush RPop没问题，RPush LPop内存轰轰轰的涨，同样代码。
肯定哪儿有bug，我看了半天，改不来，DB太复杂了...

[2015-12-27 04:57] siddontang commented on #214
lpush/rpush和lpop/rpop用的是同一套代码，内存涨是涨了多少？4mb，还是更多？

[2015-12-27 04:59] jan4984 commented on #214
很快就能到g级别…

[2015-12-27 06:29] siddontang commented on #214
大概知道原因了，lpush/rpop的逻辑会重用index的head/tail seq，所以每次都是在内部用一个seq上面操作数据，但是rpush/lpop会用不同的seq，也就导致了每次都是删除老的数据，然后插入了新的数据，导致底层db一直在compaction，然后你这个测试插入太快了，根本处理不过来了，所以内存暴涨。

这个代码逻辑上面没问题，但是需要优化，但我现在没时间弄这个，只能todo，谢谢。

[2015-12-28 12:11] jan4984 commented on #214
如果我没理解错的话，好像不对。
我加了打印消息，lpush/rpop和rpush/lpop都会导致seq不停左移或右移。同时`t.Delete(itemKey)`也是跟着一直移动。也就是说head/tail/meta这3个key在两种操作下都是一直变化的，所以不是很确定你说的`index`试不是指保存list结构的这3个key。

[2015-12-29 01:02] siddontang commented on #214
哦，所以现在我也不确定为啥会内存涨了，主要是现在没时间弄这个。
@jan4984  你能不能帮我profile一下，看内存到底消耗在什么地方？ledisdb server可以直接打开pprof，不过如果你只是test，就需要手动注入pprof的代码了。

[2015-12-30 07:44] jan4984 commented on #214
这两天又跑了几次，这个问题还不是很确定。可以确定的是Lpush/Rpop比Rpush/LPop占用内存会低很多(像这里贴的代码会多几百MB-top命令看RES)。不过，最终占用都是稳定的。所以不算是什么太大的问题吧。

[2016-01-04 18:39] Aurlin opened #217 "Can't compile with Lua with Ubuntu 14.04.3"
Hi,

It's not really an issue (not sure ?), but some informations :)
We can't compile LedisDB with Lua 5.1 under **Ubuntu 14.04.3** because there is this error :
[code]
Even if, in **dev.sh** the correct flag is set
`CGO_LDFLAGS="$CGO_LDFLAGS -L$LUA_DIR/lib -llua5.1"`

Because, in the file **./vendor/lua/lua.go**, there is **one line** :
[code]
which override the flag ! (I think)

[2016-01-05 05:13] siddontang commented on #217
Hi @Aurlin

How do you install lua? does liblua.so not in the lua dir?

[2016-01-05 09:33] Aurlin commented on #217
Hi,
Yes, everythings works, but i have to edit the file **./vendor/lua/lua.go** and change this line
``#cgo LDFLAGS: -llua``
to
``#cgo LDFLAGS: -llua5.1``

[2016-01-05 09:59] siddontang commented on #217
This is not a universal way for other users :-)
Maybe this is a bug and we will try to fix it.

How do you install your lua?

[2016-01-05 10:05] Aurlin commented on #217
I use apt-get like this ``apt-get install lua5.1 lua5.1-dev``

[2016-01-10 14:27] nikolay-turpitko opened #218 "Command names in the ledis.call() should not be case sensetive"
Eval itself seems to work:

redis ledisdb.socket> EVAL 'return ARGV[1]' 0 42
"42"

But cannot call anything on ledis object:

redis ledisdb.socket> EVAL "return ledis.call('ECHO', 'zzz')" 0
(error)  command not found

Or do I missing something?

[2016-01-10 15:27] nikolay-turpitko commented on #218
It seems, that script eventually works:

redis ledisdb.socket> EVAL "ledis.call('set', 'answer', 42)" 0
(nil)
redis ledisdb.socket> get answer
"42"

But when I invoke script from app via redigo there is some issue. They have:
https://github.com/garyburd/redigo/blob/master/redis/script.go#L62

    func (s *Script) Do(c Conn, keysAndArgs ...interface{}) (interface{}, error) {
        v, err := c.Do(

[2016-01-10 15:31] nikolay-turpitko commented on #218
And please add to doc that your global object is "ledis" not "redis" ;-)

[2016-01-10 15:59] nikolay-turpitko commented on #218
I have to reopen this issue, cause I think I find what was wrong with the first example. This one works:

redis ledisdb.socket> eval "return ledis.call('echo', 'zzz')" 0
"zzz"

But this one - not:

redis ledisdb.socket> EVAL "return ledis.call('ECHO', 'zzz')" 0
(error) command not found

Redis work with both upper and lower case.

[2016-01-11 12:07] nikolay-turpitko opened #219 "Lua script, HMGET, value for absent key"
Redis returns `boolean`, while LedisDB returns empty string for absent keys in HMGET in the Lua script.

Don't know is it a major issue or not, but it worth at list to mention it somewhere in the EVAL command description, I recon.

In the samples below I've tried to set some default value for keys absent in the hash and discovered that checks for `not table[key]` or `table[key] == nil` don't work,

[2016-01-11 12:14] nikolay-turpitko commented on #218
I think, these should be documented in the EVAL command description as a deviations from Redis (at least):

* global object name: redis -> ledis
* command names in the ledis.call() are case sensitive (lowercase accepted only)
* ledis.call('hmget', ...) returns empty strings instead of boolean for absent keys

[2016-01-12 11:37] siddontang commented on #218
Hi @nikolay-turpitko
Can you send a PR to help me fix it?

[2016-01-19 06:59] bittoy opened #221 "key设置过期时间"
key设置过期时间后当超过过期时间，ledis怎么删除此key，是有个线程循环遍历删除还是当客户端获取此key时判断其是否过期再删除？

[2016-01-19 07:01] siddontang commented on #221
有个线程遍历删除

[2016-01-21 13:23] #217 closed

[2016-01-22 16:04] nikolay-turpitko commented on #216
Well, don't know how to fix it then. May be just add something like `read -n1 -rsp $'Press any key to exit...\n'` before exit to let user read the message before window disappears?

[2016-01-23 01:46] siddontang commented on #216
@nikolay-turpitko
how about `false`? can you help me test in linux?

[2016-01-23 05:23] nikolay-turpitko commented on #216
Well, I placed confirmation before exit like

    # LEDISTOP sanity check
    if [[ "$LEDISTOP" == "${LEDISTOP/\/src\/github.com\/siddontang\/ledisdb/}" ]]; then
        echo "WARNING: LEDISTOP($LEDISTOP) does not contain src/github.com/siddontang/ledisdb"
        read -n1 -rsp $'Press any key to exit...\n'
        exit 1
    fi

When project placed in the wrong dir it give me a chance to read mes

[2016-01-23 05:31] siddontang commented on #216
@nikolay-turpitko
what I mean is using `false` instead of `exit 1` like :
[code]

This can work in my mac osx, how about in your linux system?

[2016-01-23 06:01] nikolay-turpitko opened #226 "Fix build for linux Arch/RedHat/CentOS"
I found that recent commit https://github.com/siddontang/ledisdb/commit/842202241905461e82d8b111960ec27b40e17e3e
had broke build for CentOS. I decided, that this code was borrowed from this project: https://github.com/aarzilli/golua. I created an issue against it: https://github.com/aarzilli/golua/issues/43. Which they fixed removing offended line: https://github.com/aarzilli/golua/commit/aa40b80e

[2016-01-23 06:10] nikolay-turpitko commented on #216
Yes, this works perfect in Ubuntu!

[2016-01-23 07:00] siddontang commented on #216
Hi @nikolay-turpitko
Can you send me a PR for this? :-)

[2016-01-23 07:14] nikolay-turpitko commented on #219
Checked version from master with redis-cli. Works as Redis.

[2016-01-23 07:14] #219 closed

[2016-01-23 07:18] nikolay-turpitko commented on #218
Checked with redis-cli, command names are no longer case sensitive.
Comments added to Lua script-related commands. Fixed.

[2016-01-23 07:18] #218 closed

[2016-01-23 08:15] #216 closed

[2016-01-23 12:24] #226 closed

[2016-01-26 04:35] q1101151 opened #229 "修改了配置还是只支持16个配置"
底层用的是 rocksdb
Set the number of databases. You can use `select dbindex` to choose a db.
dbindex must be in [0, databases - 1].
Default databases is 16, maximum is 10240 now.
databases = 17
 这里不是说最多支持10240吗 为什么我怎么改都只支持16个

[2016-01-26 05:11] q1101151 commented on #229
问题解决了

[2016-01-26 05:43] q1101151 opened #230 "RocksDB 何时才能支持事务"

[2016-01-26 05:47] siddontang commented on #229
ok

[2016-01-26 05:47] #229 closed

[2016-01-26 05:47] siddontang commented on #230
no plan.

[2016-01-26 10:19] q1101151 commented on #230
那如果我想写事务  还有什么办法？

[2016-01-26 12:03] siddontang commented on #230
主要是rocksdb自己没有机制能支持复杂的事务。

譬如，你写了一个数据，还没提交，这时候又想用iterator scan到这个数据，rocksdb不支持这种的。

[2016-01-27 09:35] q1101151 opened #231 "如何查询所有的key"
KEYS 底层使用rocksdb

[2016-01-28 02:33] siddontang commented on #231
不支持这个api，使用xscan批量查

[2016-02-02 07:34] 1fei opened #232 "error per hour"
[2016/02/02 13:48:56] rpl.go:304 [Error] purge expired log error invalid expired time 0
[2016/02/02 14:38:41] rpl.go:304 [Error] purge expired log error invalid expired time 0

[2016-02-02 09:10] siddontang commented on #232
the config `ExpiredLogDays` is 0, not valid. maybe you can set 1 first.

[2016-02-17 07:19] 1fei opened #233 "多数据库支持的优化建意"
目前redis的支持都写在了代码里了，类似以下代码
	switch cfg.Replication.StoreName {
	case "goleveldb":
		if r.s, err = NewGoLevelDBStore(path.Join(base, "wal"), cfg.Replication.SyncLog); err != nil {
			return nil, err
		}
golang的标准做法是写在相应库的初始化代码里，例如
import  _  "goleveldbstore"
在这个库的初始化代码里，把相应的接口或函数注入。
这样增加新的数据库时就不用改原来的代码了。新加入一个库就行了。甚至可以动态添加第三方驱动。

[2016-02-17 07:27] 1fei opened #234 "多数据库支持的优化建意"
目前redis的支持都写在了代码里了，类似以下代码
    switch cfg.Replication.StoreName {
    case "goleveldb":
        if r.s, err = NewGoLevelDBStore(path.Join(base, "wal"), cfg.Replication.SyncLog); err != nil {
            return nil, err
        }
golang的标准做法是写在相应库的初始化代码里，例如
import  _  "goleveldbstore"
在这个库的初始化代码里，把相应的接口或函数注入。
这样增加新的数据库时就不用改原来的代码了。新加入一个库就行了。甚至可以动态添加第三方驱动。

[2016-02-17 08:32] #233 closed

[2016-02-17 08:35] siddontang commented on #234
这种的做法是new store的时候需要统一的参数接口，就跟go sql使用的dsn string一样，但这边貌似是不同的。
另外，也没再考虑过加新的engine了，维护成本太大。
如果你有好的方案，欢迎PR。

[2016-03-14 06:28] #180 closed

[2016-03-21 04:31] #221 closed

[2016-03-27 09:14] sotoup opened #235 "how to support lmdb"
# make build_lmdb

godep go install -tags ' lmdb' ./...
godep: WARNING: Go version (go1.6) & $GO15VENDOREXPERIMENT=1 wants to enable the vendor experiment, but disabling because a Godep workspace (Godeps/_workspace) exists
package github.com/siddontang/ledisdb/cmd/ledis-load
    imports github.com/siddontang/ledisdb/ledis
    imports github.com/siddontang/ledisdb/rpl
    imports github.com/siddont

[2016-03-27 12:46] siddontang commented on #235
LedisDB is in valid gopath?
I don't use in go 1.6 now, why does godep not search godep path?

[2016-03-28 01:55] sotoup commented on #235
Thanks for your reply

I found a solution

export GO15VENDOREXPERIMENT=0
make clean
make build_lmdb

[2016-03-28 02:24] siddontang commented on #235
ok, ledisdb now doesn't support vendor, I will support it later then I can remove godeps.

[2016-03-28 06:56] sotoup commented on #235
Although compile passed, ledisdb with lmdb don't work.
because gomdb don't work with go1.6

error below:
cgo argument has Go pointer to Go pointer

[2016-03-28 08:24] siddontang commented on #235
Maybe we should fire an issue to go lmdb, or can you help me solve it?
I have not enough time now.

[2016-03-28 08:24] siddontang commented on #235
Or you can skip LMDB now.

[2016-03-28 13:09] sotoup commented on #235
I'm sorry I'm not familiar with golang
I had switch to go1.5

[2016-03-29 00:56] siddontang commented on #235
Ok, I will find a time to upgrade to go 1.6.

[2016-04-15 08:53] nii236 opened #236 "Add comments to exported functions"
Right now godoc.org contains documentation for [ledis](https://godoc.org/github.com/siddontang/ledisdb/ledis), but there are almost zero comments on hundreds of exported functions.

It would be very helpful to have these comments as it will make the package much easier to use.

It might be a good idea to tag it as a `HELP WANTED: BEGINNERS` issue so that beginners can try their hand at open source

[2016-04-16 03:27] siddontang commented on #236
Thank you @nii236

[2016-04-16 03:28] siddontang commented on #236
Now I have no time to do it, I will try to improve it later.

[2016-04-20 08:12] 1fei opened #237 "scan error when match="*""
func (db *DB) Scan(dataType DataType, cursor []byte, count int, inclusive bool, match string)

 这个函数里的match不能为"_",如果为"_"会报错：
error parsing regexp: missing argument to repetition operator: `*`

如果我想穷举所有的key,match怎么设置

[2016-04-20 09:24] 1fei commented on #237
看了代码是标准的正则，好，我查一下相关写法

[2016-04-25 11:45] agnibha opened #238 "Is there support to use pre-filled RocksDB as backend?"
@siddontang If so, can such a backend be supported by xcodis?

[2016-04-26 01:36] siddontang commented on #238
Hi @agnibha
I don't test with pre-filled before.

Sorry that I don't understand your scenario exactly? if you want to use origin ledisdb's data in xcodis, I think not ok, maybe you should do a dump + load.

[2016-04-26 12:49] agnibha commented on #238
We have a LedisDB which we fill using a RocksDB snapshot. When we do a ledis-load on a ledisDB instance, we can get the data using the CLI.

When we use xcodis to be the proxy for this ledis instance, we can't fetch the keys using the proxy.
Is there a way we can restore the snapshot with xcodis proxy in place?

[2016-04-27 00:46] siddontang commented on #238
We can't use xcodis with origin ledisdb data directly, because xcodis will hash key to different db with `index = hash(key) % 1024`.
So maybe you save a data in db 0 in ledisdb, but it will be passed to db n in xcodis.

[2016-04-27 05:33] agnibha commented on #238
Okay. I get it. I have a read-only use-case, which can expand to read-write later.
So, if we reverse-engineer our code to write the data to `index = hash(key) % 1024`, can we then use xcodis to fetch data for us?

[2016-04-27 05:46] siddontang commented on #238
maybe yes, but this may only work if you have one ledisdb.

[2016-04-27 06:03] agnibha commented on #238
Also, is there a way of using a snapshot to fill data into a cluster of ledisdb's?

[2016-04-27 06:48] siddontang commented on #238
Sorry, none.
Codis has a tool redis-port which can do this, but now ledisdb doesn't support redis replication.

[2016-04-27 08:46] agnibha commented on #238
Thanks @siddontang for all the help.

[2016-04-27 08:46] #238 closed

[2016-04-28 13:12] xiaoao opened #239 "Why not keep the commands the same to redis?"
FYI, thanks

[2016-04-29 05:38] siddontang commented on #239
LedisDB is not redis, only uses its protocol.
If you want to find a compatible one with redis, qdb(https://github.com/reborndb/qdb) may be ok.

[2016-05-01 10:24] tigranbs opened #240 "Problem with Godeps"
Hi
I'm using LedisDB as a go package in my application and after making `go get github.com/siddontang/ledisdb/ledis` I got all packages which I needed to build my project, but when I've tried to build project with basic `go build example.go` I've started getting `undefined variable` errors from packages inside `Godeps/_workspace`.
After making a lot of tests and researches finally I solved issue o

[2016-05-01 13:16] siddontang commented on #240
Hi @tigranbs

Maybe ledisdb uses a lower version lib which your gopath has too, which lib?
I will update ledisdb with new vendor feature (go 1.5+) but have no time to do it now, sorry.

[2016-05-09 05:38] #205 closed

[2016-05-17 11:33] sotoup opened #242 "当前版本不再支持lmdb了吗"

[2016-05-17 13:38] siddontang commented on #242
Go 1.6 can't compile LMDB package now,we should wait the package fixes it first or choose another proper one.

[2016-06-04 06:01] kwojtaszek commented on #242
Isn't that proper library: https://github.com/bmatsuo/lmdb-go ? It looks like lmdb has better performance on Sorted Sets and Lists operations

[2016-06-04 06:42] siddontang commented on #242
Cool, but I have no time to embed it now, very busy in this month. 😭

[2016-06-10 15:29] bittoy opened #243 "执行删除key命令的时候报错"
127.0.0.1:6380> del a
IO error: /var/lib/ledis/leveldb_data/31129832.ldb: Too many open files

重启后成功

[2016-06-11 03:52] siddontang commented on #243
`ulimit -n` and set a bigger one maybe.

[2016-06-17 03:12] jieniu opened #244 "编译报错"
[root@t19027 ledisdb]# go get github.com/tools/godep
go: open /usr/local/src/go/src/runtime/internal/sys/zversion.go: no such file or directory

[root@t19027 ledisdb]# go version
go version go1.6.2 linux/amd64
[root@t19027 ledisdb]# echo $GOROOT
/usr/local/src/go

[2016-06-17 03:14] jieniu commented on #244
找到原因了。$GOPATH对应不上

[2016-06-17 03:21] #244 closed

[2016-07-22 04:45] jrudio opened #246 "Remove item from list like LREM"
Since it's not currently implemented, how can I mock something like LREM?

[2016-07-22 14:49] siddontang commented on #246
I think LREM is hard to support in ledisdb, as you see, we save list like key:1 -> a, key:2 -> b, key:3 -> c, if we delete b, we will update all following items' key, so origin key:3 -> c may key:2 -> c.

[2016-07-22 23:25] jrudio commented on #246
So the issue is that it's hard to update all the keys after `b`?

I attempted to do something like LREM, but could only remove 1 occurrence, anymore and my tests wouldn't pass.

Here's my mockup [LRemOnce](https://gist.github.com/jrudio/66d51abbf8dfb78e22472e5bfc88ae27) and the [tests for it](https://gist.github.com/jrudio/456cac6226ff91ca5e291de1891d9c82)

[2016-07-23 02:15] siddontang commented on #246
Seem no problem, but as you see, if the list is too huge, we may meet a very big performance problem.

[2016-07-23 03:27] jrudio commented on #246
Very true!

[2016-07-23 03:29] #246 closed

[2016-07-25 03:43] frankxieke opened #247 "bitop 命令中按位取反有点问题"
`if op == BitNot {
        for i := 0; i < len(value); i++ {
            value[i] ^= value[i]
        }
    }`

应该写成
`if op == BitNot {
        for i := 0; i < len(value); i++ {
            value[i] = ^value[i]
        }
    }`

[2016-07-25 04:28] siddontang commented on #247
Thanks, can you send me a PR?

[2016-07-25 19:12] pkieltyka opened #249 "Vendoring"
Please target go1.6+ and use proper vendoring, the build process is very confusing and broken

[2016-07-26 05:47] siddontang commented on #249
hi @pkieltyka

Now we use vendor in cmd folder like etcd does

[2016-07-28 13:48] pkieltyka commented on #249
@siddontang ah, you've put the files in cmd/vendor and link it.. how come you do this though? why not just keep it in ./vendor?

also, what version of RocksDB is ledisdb compatible with? I tried v4.8 but had compile errors

[2016-07-28 14:30] siddontang commented on #249
Hi @pkieltyka

The vendor use is from etcd, see https://github.com/coreos/etcd/tree/master/cmd
If we put vendor in ./vendor, other use ledisdb as library will import this vendor too.

I will fix the compile errors later.

[2016-07-28 14:37] siddontang commented on #249
Hi @pkieltyka
What's the compile error? I use 4.11 but it's ok.

[2016-07-28 15:25] pkieltyka commented on #249
@siddontang thanks for the reply, I tried v4.9+ and it works great.

also, perhaps update the Makefile for production builds to setup the link etc.. or add it to the notes. I'm going to update the Dockerfile/build now too

[2016-07-28 15:25] #249 closed

[2016-07-29 00:41] siddontang commented on #249
@pkieltyka

Dynamic linking is not convenient, maybe we can use https://github.com/cockroachdb/c-rocksdb instead.

[2016-08-04 09:23] wangxingge opened #250 "Ledis和SSDB有没有共同问题？"
前段时间在使用SSDB做选型的时候，发现了SSDB的持续高速写的时候过几天就会发生无法继续写或者读的情况， 作者说这是LevelDB的问题。

Ledis用Rocks 也是LevelDB生的孩子，不知道有没有SSDB的病啊，会不会遗传呢。

[2016-08-04 10:36] baotiao commented on #250
你可以试试 Pika 这个项目, 我们对底下rocksdb 做了挺多的调整.  https://github.com/Qihoo360/pika

[2016-08-04 13:59] siddontang commented on #250
@baotiao 做广告不带这样的。。。

[2016-08-05 02:53] wangxingge commented on #250
@baotiao 我去看一下。。。

[2016-08-05 02:56] wangxingge commented on #250
用ledis还有一个原因是用go写的。。。。。

[2016-08-05 06:15] siddontang commented on #250
任何SST架构的都有这个问题，但相比于leveldb，rocksdb有一堆参数可以调，能稍微缓和一下

[2016-08-05 06:17] wangxingge commented on #250
谢谢啊。我在想想。

[2016-08-05 07:08] baotiao commented on #250
@wangxingge   哈哈.. 你可以测试对比一下. 目前我们线上有几百个实例, 而且根据挺多内部, 外部用户的测试效果, 性能好很多的.

[2016-08-05 08:44] #250 closed

[2016-08-14 09:44] let4be opened #251 "atomicity guarantees"
I can't find any information about the atomicity guarantees in case of failures
Are there any?

In redis it's guaranteed to have all operation perform atomically and it's easily possible to perform "transactions" via MULTI/LUA

I use ledis as a golang package in embedded mode only

[2016-08-15 01:46] siddontang commented on #251
Hi @let4be

Redis is single-thread, so it can easily support atomic and execute batch commands in a single step. LedisDB is multi-thread, so it can't guarantee any atomic for batch executions.

[2016-08-15 11:58] charl opened #252 "Progress feedback for ledis-dump/ledis-load"
I am currently doing a ledis-load with a 4GB file but I have no idea how long this will take.

It would be really useful to have some status feedback in the console when running ledis-load (or ledis-dump) to get an idea of where one is in the process of a dump/load.

[2016-09-05 12:11] wxf4150 opened #253 "rocksdb init not run"
i modify go/src/github.com/siddontang/ledisdb/store/rocksdb/db.go init()

[code]
and i  import (_  "github.com/siddontang/ledisdb/store/rocksdb") too
the init doesn't run

when use rocksdb get error:
 store rocksdb is not registered

[2016-09-06 00:48] siddontang commented on #253
you must build ledisdb with rocksdb tag, what does your `make build` output?

[2016-09-06 01:20] wxf4150 commented on #253
[code]

i use Package Example
it build succese.
when run will throw error  at     l, err := ledis.Open(cfg)

i am not good at cgo.  i will  do more try.

[2016-09-06 01:21] siddontang commented on #253
`go build -tags "rocksdb" main.go`

[2016-09-06 02:05] wxf4150 commented on #253
thank you .
give some more help
"error while loading shared libraries: librocksdb.so.4.9"

[code]

i use use rocksdb4.9 .    compile with "make shared_lib"; when compile finish,   librocksdb.so.4.9 is under "/usr/local/rocksdb"  not under "/usr/local/rocksdb/lib".

[2016-09-06 02:16] siddontang commented on #253
Here is the error for linux can't find the rocksdb, you can goole to solve it, not ledisdb problem.
I suggest adding rocksdb to your LD_LIBARARY_PATH or installing rocksdb in common /user/local/lib so linux can find it directly.

[2016-09-06 02:22] wxf4150 commented on #253
[code]

i had set LD_LIBARARY_PATH . and the error still.
i will try more.

[2016-09-06 02:42] wxf4150 commented on #253
LD_LIBARARY_PATH  shold be LD_LIBRARY_PATH

[code]

then the programe excute succes!

thank you!

[2016-09-06 02:58] #253 closed

[2016-09-20 03:14] qhbsyys opened #254 "请教 commit id is behind last log id"
写数据出现 too many open files 之后再写数据就会“commit id is behind last log id”
之后即使有可用文件句柄也不能正常写db了，只能重启
有没有办法不重启也能上db恢复可用呢

[2016-09-20 05:01] #254 closed

[2016-10-16 02:58] a651694192 opened #255 "couldn't git clone ledisdb"
when I do git clone ,this happens:
![image](https://cloud.githubusercontent.com/assets/12841979/19414918/8b0938e6-938f-11e6-803a-08369ddbfc76.png)
why?

[2016-10-16 05:07] siddontang commented on #255
don't use ssh clone, use https clone.

[code]

[2016-10-17 03:37] ArcherJiang opened #256 "服务器存储空间100%后，ledis无法启动：index out of range"
首先发现存储100%后，发现ledis进程丢失。
清理空间后，再次启动ledis，第一次报如下提示：
[code]
...
后面尝试再启动（中间无其它操作）
[code]

请问怎么解决

[2016-10-17 07:17] a651694192 opened #257 "实际应用"

[2016-10-17 07:19] a651694192 opened #258 "最大数据量"
请问现在有使用ledisdb的实际项目吗？ 数据库最大支持量能达到多少呢？ 我们的数据是持续增长的，以后可能会达到1pb，请问能支持吗？

[2016-10-18 01:35] siddontang commented on #258
铁定不支持 1PB，单机 1TB 可能就是极限了。
有人跟我说在生产环境用过，但我没细问公司。

[2016-10-18 02:02] a651694192 commented on #258
我明白啊。 不是单机啊。 ledisdb不是支持分布式集群吗？ 那1PB也不可能吗？

[2016-10-18 02:04] a651694192 commented on #258
还有当ledisdb增加节点时，会对业务有影响吗？

[2016-10-19 08:23] a651694192 opened #259 "rocksdb 支持"
我在加入rocksdb支持后，出现下面问题：
root@cn12:/home/satoshi/gopath/src/github.com/siddontang/ledisdb# make clean && make
GO15VENDOREXPERIMENT="1" go clean -i ./...
GO15VENDOREXPERIMENT="1" go build -o bin/ledis-server -tags 'leveldb rocksdb' cmd/ledis-server/*
# github.com/siddontang/ledisdb/store/rocksdb
/usr/lib/gcc/x86_64-linux-gnu/4.8/../../../../lib/librocksdb.a(format.o): In function `Snappy_GetUncompres

[2016-10-19 08:59] #259 closed

[2016-10-19 12:44] siddontang commented on #258
没试过这么大集群量的，不保证能正常工作。
ledisdb + xcodis 才是集群，但现在我也没精力去维护 xcodis 了，另外，ledisdb 有人用在生产环境，但我不清楚 xcodis 有没有。

[2016-10-21 10:38] a651694192 opened #260 "xcodis数据存在哪里。"
用xcodis开集群，rocksdb为后台数据库，设置data_dir = /tmp/xcodis_test,然后往里面插入数据，发现目录下面并没有sst文件生成。find / -name *.sst,也为空

[2016-11-12 08:57] a651694192 opened #261 "xcodis故障转移"
请问如果我在proxy后面的group1里开了一个master，一个slave，当master出问题时，能不能自动切换到slave？ 这里我看只有proxy连接到zookeeper，server并没有

[2016-11-22 07:12] perfgao opened #262 "长度限制"
Hi，

请问，ledisdb 对单个key-value有没有长度相关的限制？最大请求或响应长度是多少？

[2016-11-22 09:04] siddontang commented on #262
貌似没，不过通常别太大，底层 rocksdb 对大 value 的性能其实不好

[2016-12-05 08:34] kokizzu opened #263 "What happened when out of memory?"
Would it be error? or cold values evicted from RAM (but still there on disk)?

[2016-12-05 08:39] kokizzu opened #264 "Best way to use ledis in client-server architecture?"
I've tried bot redis (using `garyburd/redigo/redis` or `go-redis/redis`) and aerospike (using `aerospike/aerospike-client-go`), the operations are `INC`, `GET`, and `SET`, redis could perform about 3k-8k rps (9k when database is cleared), and aerospike about 8.3k (9k one time) rps.

I wan to try `ledisdb`, which client library (that have connection pooling) I should use redigo or is exists ledis'

[2016-12-05 14:26] siddontang commented on #264
There is no own library, you can use any current library. I think redigo is ok too :-)

[2016-12-05 14:27] siddontang commented on #263
If we meet OOM, the data is still here because backend engine (rocksdb/goleveldb) can guarantee this.

[2016-12-09 01:03] ascotan opened #265 "server.NewApp + ledis.Open"
It appears that if you run the http server you can't open a connection to the database. The issue is that if both server and the db connection use the same DataDir you get:

I haven't dug through the code much, however, it appears that the http server puts a lock on the datadir directory and any further attempts to get a database connection (via ledis.Open) fail due to resource contention for the

[2016-12-10 09:55] siddontang commented on #265
Seem that you use two processes to handle the same directory? If yes, it is ok because goleveldb/rocksdb can only allow one process at one time.

If not, there is a bug.

[2016-12-10 14:23] ascotan commented on #265
same process, 2 goroutines

[code]

This dies on the fact that ledis.Open is attempting to open a directory that is locked by server.NewApp

[2016-12-12 01:19] siddontang commented on #265
@ascotan
You open two different ledis instances, and of course, this can not work.
When you create the server, you can use server.App `Ledis()` function to get a ledis  instance.

[2016-12-12 02:27] frankxieke opened #266 "Why use lock so large?"
In ledis, every data structure has a lock , for example,

	kvBatch   *batch
	listBatch *batch
	hashBatch *batch
	zsetBatch *batch
	//	binBatch  *batch
	setBatch *batch
why do not use key-level lock?

[2016-12-12 02:30] frankxieke commented on #266
in rocksdb wiki:

So I think key-level lock can improve throughput greatly.

[2016-12-12 02:45] frankxieke commented on #266
I also noticed qdb,  in qdb the lock become larger. Can you give me some hints why do you desgin like this.

[2016-12-12 14:06] siddontang commented on #266
@frankxieke

I don't remember now, seem the lock is to guarantee the replication safety.

[2016-12-14 08:20] icexin opened #267 "leveldb中的cgo错误"
go版本1.6.3

发生了 `cgo argument has Go pointer to Go pointer`错误，错误堆栈如下：

[code]

[2016-12-14 08:29] auxten opened #268 "ledisDB的expire实现"
ledisDB的key expire之后是会真的删除么？貌似磁盘空间没有被释放

[2016-12-14 09:15] #268 closed

[2016-12-14 14:31] siddontang commented on #267
seem that I must upgrade go version and all dependences.
I will do it later if I have time.

[2016-12-15 03:13] frankxieke commented on #267
export GODEBUG=cgocheck=0 @icexin

[2016-12-16 08:40] unoexperto opened #269 "Can't use ledis-load [ledis open error resource temporarily unavailable]"
Could you please help me with `ledis-load` ?

When I run it as `/go/bin/ledis-load -dump_file=/data/dmp -config=/etc/ledisdb.conf` I get error

[code]

I see that it's from this part of code
https://github.com/siddontang/ledisdb/blob/master/cmd/ledis-load/main.go#L37-L41

Here is my config file (and I tried changing host IP to 127.0.0.1)

[code]

I'm using LedisDB via Docker [image  I created](htt

[2016-12-16 13:03] siddontang commented on #269
what does your `ulimit -n` output?

[2016-12-16 13:09] unoexperto commented on #269
@siddontang 1024

[2016-12-16 13:36] siddontang commented on #269
Does other ledis open the same folder?

[2016-12-16 13:44] unoexperto commented on #269
Could you please clarify what you mean by that ? `ledis-server` works well. I was also able to create dump with `ledis-dump`.

[2016-12-16 14:09] siddontang commented on #269
what I mean is if your `ledis-server` is still running at same time, you can't use `ledis-load` for the same data path.

[2016-12-16 14:09] siddontang commented on #269
Because `ledis-server` has already locked the data path.

[2016-12-16 14:33] unoexperto commented on #269
Oh, so unlike `ledis-dump`, `ledis-load` only works when  server is off ? I didn't realize that.

By the way is it possible to make dump of DB with one engine/compression and  then load it to DB with different engine ?

[2016-12-16 14:33] #269 closed

[2016-12-16 14:39] siddontang commented on #269
`ledis-server` will lock the path, the backend engine rocksdb does it automatically to avoid other process accessing the data.

yes, you can dump with one engine and then load to another engine, but I don't test it fully.

[2016-12-23 10:33] unoexperto opened #271 "Are bit commands not working as expected ?"
Sorry for asking here, but perhaps wiki is outdated.

Here are problems I'm having

~~1) Is there limit on offset in `BITPOS` ? `SETBIT is_renderable 1000025 1` followed by `BITPOS is_renderable 1 1000001` returns `EOF` but `BITPOS is_renderable 1 1000` gives correct position `(integer) 1000013`~~ Turned out it expects byte position, not bit position which is somewhat counter-intuitive since it ex

[2016-12-23 16:42] unoexperto opened #272 "What is the difference between ledisdb and pika ?"
What is the difference between ledisdb and pika ?

[2016-12-24 03:27] siddontang commented on #272
LedisDB is written by Go and pika is with C++.

Btw, pika is written by my friend, so I list it in my project.

[2016-12-24 16:49] unoexperto commented on #161
@felixbuenemann Have you had a chance to finish it ? I just attempted to build version with LUA 5.3 and hit same problem as you did.

[2016-12-26 00:50] siddontang commented on #271
@unoexperto

Bitmap is treated as KV, you can not scan it directly.
For scan KV, you can use `XSCAN KV SCAN cursor [MATCH pattern] [COUNT count]`

[2016-12-26 14:15] unoexperto commented on #272
Thanks!

[2016-12-26 14:15] #272 closed

[2016-12-28 18:14] felixbuenemann commented on #161
@unoexperto Do you have a specific need for LUA 5.3? Otherwise you could just install lua 5.1 and compile against it, on mac this can be done using `brew install lua51`.

@siddontang While it's possible to use build tags and modified copies of golua with build tags to enable building against lua 5.1/5.2./5.3 (eg. lua51.go, lua52.go) it would probably be easier to just vendor a copy of the lua libr

[2016-12-28 18:48] unoexperto commented on #161
@felixbuenemann Yes, I wanted to have bitwise operations for better implementation of base64 encoding. It was added to LUA 5.2.

[2016-12-28 22:47] felixbuenemann commented on #161
@unoexperto I've rebased my [lua-5.2 branch](https://github.com/felixbuenemann/ledisdb/tree/lua-5.2) on top of the current master. You could try compiling it against lua 5.2.x. Compiling against lua 5.3. would likely need more changes. If you are using homebrew on a mac you should probably update the dev.sh script to point to `/usr/local/opt/lua` instead if `/usr/local/opt/lua51`.

I can't really

[2017-02-06 10:25] luopeien opened #273 "I suggest you not using master/slave node mode"
From my experience as a developer for a similar distributed kv, use primary replica (replica level, not node level, if you don't have replica, consider support fragment). Otherwise you will have write throughput issue.

For other things to concern, don't use zookeeper as a centralized metadata store, zk sucks if you have a very large cluster.

You may also need to add data load features, loading a

[2017-02-17 02:25] wangcn opened #274 "嵌入rocksdb出错"
在dev.sh里设置了相应路径后，make时报错
could not determine kind of name for C.rocksdb_options_set_allow_os_buffer
could not determine kind of name for C.rocksdb_options_set_disable_data_sync

我的环境：
rocksdb代码是通过git拉取，版本是5.2.
ledis版本是380835a0ca70929fb26d78f57444efaaf44abcac
go版本是1.7.4
os是opensuse 42.2

[2017-02-17 02:26] siddontang commented on #274
现在没支持这么新的 rocksdb，后面有时间我升级一下

[2017-02-20 04:30] wangcn opened #275 "能不能在readme里明确描述一下ledis的使用场景？"
从feature里看，作为一个库嵌入到开发者应用里算一个。还有哪些情况下使用ledisdb是一个不错的选择？特别是相对redis有哪些优点，让用户在某些场景下用以替换redis。

[2017-02-20 07:15] penuel-leo opened #276 "store rocksdb is not registered"
按照文档安装完ledis, make test前几个都OK；
然后安装完rocksDB和snappy，修改了dev.sh里的路径后；
使用make clean or make 会报

如果直接启动
``` ./bin/ledis-server -config=./etc/ledis.conf ```
会报

[2017-02-20 07:21] penuel-leo commented on #275
内存比硬盘昂贵太多

[2017-02-20 07:53] siddontang commented on #276
go build 的时候带上了 -tags rocksdb 了吗？ 你 make 的时候输出输出是怎样的？

[2017-02-20 09:46] penuel-leo commented on #276
我将ledisdb rm后，重新安装就行了；
但是报错和[issue274](https://github.com/siddontang/ledisdb/issues/274)一样，
请问现在rocksdb支持到哪个版本

[2017-02-20 11:09] wangcn commented on #276
@penuel-leo 我目前用4.13编译通过的。

[2017-02-20 11:09] wangcn commented on #274
目前4.13可以用

[2017-02-20 13:26] siddontang commented on #276
4.13, 5.0+ 的一些 API 改了，没法兼容。这个我后面考虑用 https://github.com/tecbot/gorocksdb 的静态编译来解决下这个问题

[2017-02-20 16:41] daddyz opened #277 "replication restore speed"
Currently in our setup we have about 270 million keys, local search is really fast, we have several slaves, which got replication broken.
Trying to restore replication takes a lot of time, it starts with pretty fast writing and slows with time, it doesn't require disk and we can't see it's writing to disk during restore, which is strange, but keys do appear in db. Slowness is seen after writing 1

[2017-02-20 19:44] daddyz commented on #277
and I noticed that replication restore doesn't restore ttl of keys, at least during restore process

[2017-02-21 01:21] siddontang commented on #277
Hi @daddyz

It seems that goleveldb is stall, maybe you know that for the LSM DB (RocksDB, goleveldb), when the mem table is full, it will flush the mem table to level 0 SST files, but when the level 0 SST file number reaches a limit, it will slow or stop the write. I guess this is the problem here.

What's your IO until when slow begins? could you see it with `iostat` ?

For TTL, because restore

[2017-02-21 05:09] penuel-leo commented on #276
使用4.13编译过了，但是在执行RocksDB support里面的步骤
```make clean && make```出现错误

cmd/ledis-server/main.go:15:2: cannot find package "github.com/siddontang/ledisdb/config" in any of:
	/usr/local/go/src/github.com/siddontang/ledisdb/config (from $GOROOT)
	/home/allen/go/src/github.com/siddontang/ledisdb/config (from $GOPATH)
cmd/ledis-server/main.go:16:2: cannot find package "github.com/siddontang/ledisdb/server"

[2017-02-21 05:58] siddontang commented on #276
这个不清楚，你可以重新在设置一下  GOPATH 吧

[2017-02-24 01:54] wangcn opened #278 "使用rocksdb时，怎么查看它的statistics信息"
已经把enable_statistics设为true，stats_dump_period_sec设为1。
另外怎么取得qps信息？

[2017-02-24 04:19] siddontang commented on #278
rocksdb 数据目录里面有自己的 LOG，可以看 statistics

现在没有 qps 统计

[2017-03-05 07:31] luren5 commented on #186
@siddontang 我也遇到了同样的问题

[2017-03-06 10:40] penuel-leo opened #279 "etc/ledis.conf配置了rocksdb为什么还是找libleveldb.so"
配置文件如下:
[code]
执行命令：
[code]
结果报错如下:
***bin/ledis-server: error while loading shared libraries: libleveldb.so.1: cannot open shared object file: No such file or directory***

ps:我只装了rocksdb相关lib，没装leveldb的

[2017-03-06 13:18] siddontang commented on #279
因为你可能之前加上了 -tag=leveldb 编译过

[2017-03-07 01:44] penuel-leo commented on #279
找到问题了，因为dev.sh里面会根据leveldb配置的路径找leveldb，如果找到则会给$GO_BUILD_TAGS增加一个tag(leveldb)，所以执行的时候会取这个$GO_BUILD_TAGS变量；
我本地刚好有leveldb在配置的路径下。。。
将dev.sh 的leveldb路径修改为不存在的路径即可；
多谢提醒。

[2017-03-07 01:44] #279 closed

[2017-03-09 09:15] charl opened #280 "Swapping master and slave and setting up new master/slave replication"
We had a ledis master/slave setup that was replicating fine.

We recently experienced some data corruption on the master so we took it down and promoted the slave to be the new master.

Replication now no longer works between the new master and the old master (which is now the slave). The new slave had all its prior data removed and should just function like a brand new ledis slave node.

On the n

[2017-03-09 12:52] siddontang commented on #280
Hi @charl

Any log in current new master and slave. Is master sending snapshot to the slave?

[2017-03-12 13:21] #276 closed

[2017-03-12 13:22] #274 closed

[2017-03-14 03:51] penuel-leo opened #283 "ledis-server会stop，同步报错"
遇到两个奇怪问题：
### 1：使用nohup启动ledis-server，几个小时后，会自动停进程 ###

[2017/03/13 18:09:05] replication.go:397 [Info] remove slave 172.30.30.235:6380
ledis-server is closed

### 2：Replication报错，不能同步master数据 ###
#### Slave节点 ####

1 )  "slave"
2 )  "172.30.30.231"
3 )  (integer) 6380
4 )  "connected"
5 )  (integer) 6

(nil)

nohup文件报错：

[2017/03/14 11:38:02] replication.go:56 [Error] decode batch log error level

[2017-03-14 08:58] charl commented on #280
On the master:

[code]

On the slave:

[code]

Here's the traffic I see on the master to the slave:

[code]

[2017-03-14 13:13] siddontang commented on #283
你是不是才升级过，我刚发现 repliaction 的数据新旧版本不兼容了。。。

[2017-03-14 13:33] siddontang commented on #283
nohup 那个问题，你是不是直接在 console 控制台启动的，然后关闭了 session？如果是这样，很有可能也会关掉 nohup 启动的。你可以将 nohup 命令放到一个脚本文件里面执行。

[2017-03-14 13:58] siddontang commented on #283
第二个我应该已经 fix 了，不过你的备份数据可能已经坏了，保险起见，可以将所有 master 和 slave 的 rpl 目录东西全部删除，然后在重新启动集群了。。。

[2017-03-14 14:05] siddontang commented on #280
Sorry for the late response, @charl

Any sync log message in the log file? Can you show me the log?

How about run `fullsync` in the slave, can it still work?

Sincerely, the replication code is very ugly and I have to consider to refactor it all.

[2017-03-14 14:07] siddontang opened #284 "refactor: replication"
Now the replication codes are very ugly and I even can't know why I designed it before.

I should make this more clear.

[2017-03-15 05:48] charl commented on #280
When I try to start the new master with _-rpl_ it panics:

[code]

[2017-03-15 05:54] charl commented on #280
I built a new version of the server from master and I get this on the master when starting it up with *-rpl*:

[code]

[2017-03-15 06:05] penuel-leo commented on #283
OK，已经好了；
顺便提一句，Makefile里面少了ledis-server和ledis-cli命令的编译。
[code]

[2017-03-15 06:05] #283 closed

[2017-03-15 06:33] penuel-leo commented on #283
@siddontang
当我直接get 数字的时候，会返回特殊的值:

"\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x0

[2017-03-15 06:40] siddontang commented on #283
del 1000 之后在 get 1000 看看呢？会不会是你直接同步数据的时候出了问题，因为之前有 bug。。。

[2017-03-15 06:47] siddontang commented on #280
oh, bad news.

I will see it later.

[2017-03-15 07:13] siddontang commented on #280
Hi @charl

I use the newest master but can't reproduce this error. Do you have any old replication data?

[2017-03-15 07:21] penuel-leo commented on #283
del之后，再get就对了，可是老数据里面没数字key，而且按照你说的，我把rpl下面的都删了，同步过程也没报错，
这些key不知道从哪出来的。

[2017-03-15 08:09] siddontang commented on #283
之前错误的同步导致的问题

[2017-03-17 12:40] charl commented on #280
If I stop the master, move the rpl to rpl.off and start the master back up with the *-rpl* switch I get:

[code]

[2017-03-17 15:01] siddontang commented on #280
very strange. can you run a new and clean ledis-server and do something?

[2017-03-18 02:13] siddontang commented on #280
Hi @charl

What's the git commit version? do you use the latest ?

[2017-03-18 06:17] #280 closed

[2017-03-20 08:18] charl commented on #280
Confirmed fixed.

[2017-03-20 08:19] charl commented on #280
Thanks for all your hard work @siddontang!

[2017-03-24 07:58] CocaCola183 opened #286 "invalid zset member size"
看到[源码](https://github.com/siddontang/ledisdb/blob/master/ledis/const.go)里面有这个限制
[code]
但是假如有大于这个数据量的需求应该怎么进行调整？

[2017-03-24 08:04] CocaCola183 commented on #262
@perfgao 不知道你说的限制是不是下面这些
[code]
[源码](https://github.com/siddontang/ledisdb/blob/master/ledis/const.go)中有

[2017-03-24 08:44] CocaCola183 commented on #275
+1

[2017-03-24 11:15] siddontang commented on #286
现在只能改源码重新编译。。。
你可以添加一个 config structure

[2017-03-27 01:46] perfgao commented on #262
@CocaCola183 对的， 是这些，谢谢了

[2017-03-27 01:46] #262 closed

[2017-03-27 02:32] CocaCola183 commented on #286
@siddontang 嗯，感谢抽空回复🙏  ！ 修改源码重新编译已经解决了报错问题，有几个问题还是想请教下，
* 原来1024的值是基于怎样的逻辑设定的？修改之后(1024 * 1024 * 1024)是否有可以预知的问题
* 我们的场景：
    * 高顺序写入性能
    * 不受内存限制
    * 尽可能简单的集群搭建步骤（可能的话）

基于上面的场景调研了比较多的key value数据库，最终在由leveldb驱动的一些数据库中选择了leveldb，而且很有可能会将这个投入到生产环境使用，但是团队go语言能力差，不知道您对此怎么看？

[2017-03-27 13:16] siddontang commented on #286
rocksdb，leveldb 底层这种对于大 value 的性能堪忧，尤其是数据量大的时候，写放大特别严重，IO 顶不住的。

[2017-03-28 10:34] CocaCola183 commented on #286
@siddontang 感谢回复！不知道有没有推荐的合适的kv？

[2017-03-28 12:59] siddontang commented on #286
如果你的需求是大 value，还不如用 kv 存 meta，你的 value 直接 append 到 file

[2017-03-29 03:53] CocaCola183 commented on #286
@siddontang 好的，再次感谢，稍后如果有有价值性能信息会在这里贴出来

[2017-04-09 21:23] josephlewis42 opened #287 "Scan allocates full memory chunk"
The `scan` function in `ledis` [allocates an array the size of `count`](https://github.com/siddontang/ledisdb/blob/master/ledis/scan.go#L132) you pass in. Rather than `make([][]byte, 0, count)` ledis could make an empty array or a sensible minimum i.e. `make([][]byte, 0, min(count, 1024))`.

Go's append has [amortized time of roughly O(1)](https://github.com/golang/go/blob/master/src/runtime/slice

[2017-04-10 00:47] siddontang commented on #287
Thanks @josephlewis42

Can you send me a PR?

[2017-04-11 21:00] GlenDC opened #288 "Replace CGO Lua with GopherLua"
The Lua support as it is, works, but relies on CGO, which makes the embedding of LedisDB no pure Go, the way it is supposed to be (possible).

Would it be possible to replace https://github.com/siddontang/golua with https://github.com/yuin/gopher-lua? I would be willing to put dev time into making this happen as a priority, as the dependency on CGO isn't desired.

Please let me know your opinion o

[2017-04-12 01:28] siddontang commented on #288
Hi @GlenDC

It is great if we can use pure GO LUA implementation. But I have no time this week, will see it next weekend.

You can send me a PR too. Thanks.

[2017-04-13 09:56] robvanmieghem opened #290 "Dynamic port on localhost"
For testing purposes and embedding ledisdb in other applications, having a free localhost port dynamically allocated would be very handy. This would be similar to https://golang.org/pkg/net/http/httptest/#Server

When looking at the code, they use
[code]

So this would have to be added at https://github.com/siddontang/ledisdb/blob/master/server/app.go#L93

In order to grab back the address, an ext

[2017-04-14 15:37] GlenDC commented on #288
Hi @siddontang a PR is open for this :) The unit tests pass, and I've also tested it manually with some stuff, and it all seems to hold up fine. Up to you to be the final judge of course.

[2017-04-15 13:51] #288 closed

[2017-04-15 19:58] GlenDC commented on #117
I'm not sure if it's related. But there are quite some commands supported by Redis that aren't supported by Ledis. Would it be in the scope of this project, to support a lot more of the available redis commands?

I do think that Ledis covers the most important commands, and have not yet run into a problem where I was missing a command that I have in Redis but not in Ledis. But perhaps it could be

[2017-04-16 02:37] #290 closed

[2017-04-16 02:38] siddontang commented on #117
Hi @GlenDC

LedisDB is not compatible with Redis, but if we need commands, we can think a way to add them one by one.

[2017-05-17 10:15] muhamadazmy opened #294 "Ledis server does not implement 'BRPOPLPUSH'"

[2017-05-18 12:07] #294 closed

[2017-05-21 09:03] siddontang opened #296 "add badger support"
It is a good try to embed badger https://github.com/dgraph-io/badger, but now badger misses snapshot (https://github.com/dgraph-io/badger/issues/39), so we can't do replication or dump.

And badger's iterator API is different from RocksDB's, so we must change our iterator interface at first, only support Next for either forward or reverse scan, luckily, we don't have any case that using an iterato

[2017-05-21 23:27] siddontang commented on #296
I will close it because badger won't support snapshot now.

[2017-05-21 23:27] #296 closed

[2017-05-23 08:50] FreedomMatrix2015 opened #297 "请问ledisdb有没有在一些商业公司的生产环境使用？"

[2017-05-28 03:14] rizplate opened #298 "is ledisdb 100% api compatible with redis?"
I am using a software that uses redis as backend.
I need to use a redis compatible disk based store  as backend for that software, due to redis memory issues.

is ledisdb 100% api compatible with redis?

[2017-05-28 10:34] siddontang commented on #298
No, ledisdb is not redis :-)

[2017-05-30 12:56] 0xIslamTaha opened #299 "change data_dir in runtime"
is that any way to change the data_dir in runtime like _config set dir_ command in Redis?

[2017-05-30 13:48] siddontang commented on #299
@islamTaha12

No way now, RocksDB, LevelDB don't support this too.

[2017-05-30 23:33] islamTaha12 commented on #299
@siddontang thanks for fast respond. I'm wondering if its secure to expose it the public world or not

[2017-06-19 07:47] muhamadazmy opened #303 "In rpoplpush command family TTL is unset if srouce == destination and LIST has only one element."
This happens because the RPOP part of the command deletes the empty list, pushing back to the same LIST creates a new list without a TTL.

[2017-06-19 09:27] FreedomMatrix2015 opened #305 "Dose ledisdb support transaction?"

[2017-06-19 13:31] siddontang commented on #305
Do, but we can re-consider it with newest RocksDB later.

[2017-06-19 23:59] #303 closed

[2017-06-30 06:36] rfyiamcool opened #306 "不通过redis sdk直接操作ledisdb"
请教个问题，能否golang直接可以使用的ledisdb， 而不是通过redis client sdk来操作。

或者社区中有那种golang扩展的leveldb多数据结构包

[2017-06-30 06:55] siddontang commented on #306
直接 import ledis 包就可以

[2017-06-30 06:55] siddontang commented on #306
https://github.com/siddontang/ledisdb#package-example

[2017-07-01 16:26] digipigeon opened #307 "100% CPU Usage, 10s per operation time. Slow Down."
Hi, using rocksdb after a few hours of (mainly) lpush operations with about 2-3Kb JSON document size at about 200 ops / sec, the parent/master process locks up at 100%-200% (measuring via HTOP) utilisation and all operations from the client take 10seconds+ to complete.

A local benchmark seems to work faster (about 150 ops / second), but cpu remains high and client operations don't function correc

[2017-07-02 07:09] siddontang commented on #307
Hi @digipigeon

I suggest using go profile or perf to see which one costs the most CPU, or do you use `top -H` to see the CPU? I guess maybe RocksDB is compacting in the background after you insert too many items.

[2017-07-12 07:33] FreedomMatrix2015 opened #308 "Consider to add Badger as the store engine in Ledis"
The graph database "Dgraph"(https://github.com/dgraph-io/dgraph, 3.5k stars) use a Go language written KV store engine "Badger"(https://github.com/dgraph-io/badger, 2.2k stars).It seems that the Badger use LSM tree like RocksDB,which has better write performance than B tree like BoltDB.If Ledis use Badger as the sotre engine,it don`t need to call Cgo to link RocksDB.
So do u want to add Badger in

[2017-07-12 09:12] siddontang commented on #308
Hi @FreedomMatrix2015

see https://github.com/siddontang/ledisdb/issues/296

[2017-07-12 09:51] FreedomMatrix2015 commented on #308
but why must do replication or dump?To make master-slave？

[2017-07-13 02:02] #308 closed

[2017-07-17 09:48] zhenruyan opened #309 "如何将leveldb或者rocksdb静态链接，想打包成二进制直接用"
安装leveldb时看文档需要sudo 希望可以打包成完整的二进制 方便部署

[2017-07-17 10:01] siddontang commented on #309
rocksdb 有一个 c-rocksdb，但我还没测试过，如果可以，后面可以直接用
但 leveldb 我没找到过

[2017-07-17 10:53] zhenruyan commented on #309
goleveldb  就是静态链接的leveldb是吧？

[2017-07-18 01:43] siddontang commented on #309
不是

[2017-07-21 18:16] digipigeon commented on #307
If I change the SET to a LPUSH (still at 150 ops / second), this problem does not happen.

[2017-07-22 13:41] serussell opened #310 "ledisdb.com not directing to site"
It looks like the ledisdb.com domain has been stolen or was not renewed.  The docs should be updated until the domain issue is resolved.

[2017-07-23 13:05] siddontang commented on #310
Aha, I forgot to renew it.

[2017-07-23 13:05] #310 closed

[2017-07-23 13:05] siddontang commented on #310
Done

[2017-07-24 00:32] siddontang commented on #307
Hi @digipigeon

SET and LPUSH are two different operations, and I think SET is much faster than LPUSH. I think the problem still exists for LPUSH, I will see it later.

[2017-07-27 15:45] CocaCola183 opened #311 "restart out of memory with 500GB data"
Ledis use 100% memory (16GB) when restart with 500GB data files in data path.

After change the data path to another empty dir, ledis runs well.

Does ledis load data to memory when restart?

[2017-07-28 01:19] siddontang commented on #311
@CocaCola183

Ledis don't load data to memory.
Do you use RocksDB engine? Can you give me the LOG of RocksDB and ledis's log?

[2017-07-28 02:26] CocaCola183 commented on #311
@siddontang

Engine is leveldb and there is no startup log. Do you need access log?

[2017-07-28 03:04] siddontang commented on #311
leveldb will have a LOG in the leveldb data path.

[2017-07-31 09:14] sloonz commented on #305
I see there was the beginning of an implementation of MULTI here : https://github.com/siddontang/ledisdb/commit/b2e86584701af21c23478a444ac7e32b6b908191

Why did you discarded it ?

[2017-08-01 00:59] siddontang commented on #305
Yes, I have discarded it because the backend engine (leveldb, goleveldb) doesn't support the transaction.

RocksDB now supports it, but I have no time to re-support this feature now.

[2017-08-11 05:04] selforganized opened #313 "Does replication work in embedding mode?"
If I embed LedisDB in a Go application, can I use the replication feature to replicate data to a remote Go app that also has LedisDB embedded? If the answer is yes how do I do that? Thanks.

[2017-08-11 06:11] siddontang commented on #313
Not supported yet. Maybe it is easy, but I have no time to do it now, sorry.

[2017-08-13 09:09] muhamadazmy opened #314 "BRPop: Never returns (sometimes) even if the queue has data"
Hello @siddontang
I get this weird issue that sometimes my app can not pop any more objects from a ledis list even if the queue is full.

I embed ledis into the app, by starting a ledis app, and then internally access the database directly. I created a gist [here](https://gist.github.com/muhamadazmy/cfca4d37b111f6beb23925d2369b384c) that has a similar structure with my app, and at the same time pr

[2017-08-13 13:55] siddontang commented on #314
Thanks @muhamadazmy

I think I have found the concurrent problem. I will explain briefly.

For BRPop, the flow (we will use a for the flow here) is

1. Try to pop the list, if pop one, return directly
2. If the list is empty, add a signal handler to with the pop key.
3. Wait for the signal.

For LPush, the flow (b) is

1. Push the list
2. If the key has an associated signal handler, signal it.

So

[2017-08-14 05:44] GlenDC opened #315 "EXISTS does not seem to work for hash maps"
## how to reproduce

[code]

[code]

## expected behavior

[code]

For other types, such as a simple value, `EXISTS` does work correctly.

e.g. the following does work correctly:

[code]

[2017-08-14 07:13] muhamadazmy commented on #314
Hello @siddontang
Thanks a lot for the fast response. I applied your change and it indeed fixed it. It tried to run my gist again once your fix was in place, it doesn't block forever anymore.

Could you please commit this change to master ?
[code]

[2017-08-14 09:51] siddontang commented on #315
Hi @GlenDC

We don't support exists for hash key, you should use hkeyexists instead.

https://github.com/siddontang/ledisdb/wiki/Commands#hkeyexists-key

[2017-08-14 15:25] GlenDC commented on #315
Sure, but why break compatibility with `redis`? Surely we could merge those 2 commands no, I don't see why they would need to be separate.

[2017-08-15 00:44] siddontang commented on #315
@GlenDC

For performance, if we must keep compatibility with redis to support these function, we must use another key to save the type of the data. E.g, if we want to support exists, so for a key foo, how do we know the real type? We must save a key foo -> string or foo -> hash in the backend engine.

But as you see, saving another key in the write command can cause performance reduction especiall

[2017-08-15 00:45] siddontang commented on #315
But if you really want to keep compatibility, it is not hard to do. RebordDB and pika also do this, and we can support it too.

[2017-08-19 05:32] CocaCola183 opened #317 "删除数据不会释放磁盘空间？"
使用zmclear删除zset数据，发现磁盘空间并未释放，请问是什么原因？是否有其他释放磁盘空间的方式？

[2017-08-19 05:42] siddontang commented on #317
rocksdb 这种的并不是真删除，要等到 compaction 的时候才会删除

[2017-08-21 03:14] #314 closed

[2017-08-22 15:53] rohitpmore opened #319 "How to migrate from ledisdb to redis"
Hi,
I want to migrate my data completely from ledisdb to redis. How can I do that? I can't really use "DUMP KEY" commands since I have gazillions of those.
Any help guys?

Thanks.

[2017-08-23 01:03] siddontang commented on #319
I only support migrating from redis to ledisdb, so maybe you should write yourself.

[2017-08-27 15:53] wxf4150 opened #320 "ledisdb rocksdb 放了很多数据．数据文件到20G后不再增长．　默认配制没改．"

[2017-08-27 17:53] siddontang commented on #320
没明白不再增长的意思？是数据插入不进去？

[2017-08-28 07:55] wxf4150 commented on #320
我详细测试了下，应试正常写入，是我搞错了。
测试中发现：
相比使用Lib的 方式 ， 用ledis-server 会占用不少内存（2-3G左右），这是正常的吗？
![2017-08-28 15-44-17](https://user-images.githubusercontent.com/5011771/29763931-cc042f92-8c07-11e7-989d-803907acee60.png)

写了20GB 数据，机械硬盘。
写的文件比较大。
ledis_server buffer要设10M ；要不然会出错。
   conn_read_buffer_size = 10240000
   conn_write_buffer_size = 10240000
用github.com/go-redis/redis 连接测试的，测试时增加redisClient 的超时为10秒。
可能机

[2017-08-28 07:55] #320 closed

[2017-09-01 05:17] nsuper commented on #176
WTH with `ledis-dump v0.5` ???

Version: `0.5`

1. I must delete `${datadir}/snapshot` folder

2. Stop ledis-server, because `open ledis_server/snapshot/dmp-2017-08-31T12:59:36.198949448: no such file or directory`

3. Run `ledis-dump`. OK.

4. Test add new data: `ledis-cli:6380>set abc 123`

5. Run `ledis-dump` again. Oh no, it only copy old snapshot file, not found `abc` key!!!

6. Repeat to the

[2017-11-06 09:07] steedyu opened #322 "rocksdb使用Hash数据插入删除，内存不断上涨"
你好，
我使用的是rocksdb。仅使用了一个数据结构hash，一个hash中存储10个key-value键值，超过10条之后，会把第1条删除，然后加入一条新的，value的数据格式是一个json格式字符串，value的内容字符串保存在txt文件中大概是87kb。
请问，这种情景下，如何做能够让内存不停上涨的问题解决掉。

[2017-11-06 11:51] siddontang commented on #322
你的内存用量取决于 rocksdb cache 配置的大小，需要看下超过了 rocksdb 的 cache 之后，内存还会不会一直上涨

[2017-11-07 08:07] steedyu commented on #322
我使用如下配置启动ledisserver，然后用golang写了一个压测，发现linux操作系统ledisserver的内存不断飙升，降不下来，同时压测程序里有一个dial检测，会显示i/o timeout,从测试的样子看，我设置的这个cache大小，内容仍然还会继续上涨，涨到一段时间后，ledis-server就挂掉了。 我压测的数据结构就是hash，每个hash有10个field，每个field大小87kb。从这里看，感觉并不像cache设置过大（尝试过设置500mb，100mb，最后设置成1024），而内存仍然不断上涨。请问，这个有什么办法解决？
# LedisDB configuration

# Server listen address
addr = "0.0.0.0:6380"

# Server http listen address, set empty to disab

[2017-11-07 08:43] steedyu opened #323 "使用package代码写入不了ledisdb"
服务端：运行在内网中一台机器
       ledis-server -addr "0.0.0.0:7380'

客户端代码：
        cfg := lediscfg.NewConfigDefault()
	cfg.Addr = "xxx.xxx.xxx.xxx:7380"	//xxx.xxx.xxx.xxx 内网某台机器ip地址
	l, err := ledis.Open(cfg)
	db, err1 := l.Select(0)
	fmt.Println(err1)

	db.Set([]byte("setkey"),[]byte("1"))
	r, err2 := db.HSet([]byte(“hashkey”), []byte("f1"), data)
	fmt.Println(r,err2)

然后使用redis-cli去获取数据，没有写入任何数据；看过客户端代码的返回

[2017-11-07 08:53] siddontang commented on #322
方便提供下你的测试代码不？

也提供下你的配置文件

[2017-11-07 08:58] siddontang commented on #323
你 redis cli 如何获取数据的？

[2017-11-08 00:30] steedyu commented on #323
redis cli就是直接 redis-cli -h xxxx.xxx.xx.xxx -p 7380

[2017-11-08 04:27] siddontang commented on #323
在 redis cli 里面具体命令

[2017-11-08 05:32] steedyu commented on #323
hgetall hashkey

[2017-11-08 05:38] steedyu commented on #322
压测的程序是是用golang 的redis驱动写的，不方便提供，涉及了，具体数据格式，基本就是hset 和hdel 数据，但是key中的filed所对应的数据大小比较大，大概value的大小是78kb字符串。开500goroutine进行压测。

配置文件内容如下：
addr = "0.0.0.0:7380"

http_addr = "127.0.0.1:11181"

data_dir = "./var"

databases = 16

access_log = ""

slaveof = ""

readonly = false

db_name = "goleveldb"

db_path = ""

db_sync_commit = 0

use_replication = false

conn_read_buffer_size = 10240
conn_write_buff

[2017-11-08 05:55] siddontang commented on #323
get setkey 呢？

[2017-11-08 05:57] siddontang commented on #322
你的 rocksdb 配置呢？上面贴的是 leveldb 的
内存涨到多少？

[2017-11-09 06:03] steedyu commented on #323
get setkey也是获取不到

[2017-11-09 06:04] steedyu commented on #322
leveldb，我最后用leveldb测试也是同样的情况，这里就给出了leveldb的配置，一样的情况。

[2017-11-09 06:19] siddontang commented on #323
客户端代码：
cfg := lediscfg.NewConfigDefault()
cfg.Addr = "xxx.xxx.xxx.xxx:7380"	//xxx.xxx.xxx.xxx 内网某台机器ip地址
l, err := ledis.Open(cfg)
db, err1 := l.Select(0)
fmt.Println(err1)

你为啥直接 ledis open 而不是用的一般的 redis client？ ledis open 会打开一个本地的 db，跟你的远端没啥关系。

你直接 redis-cli 连上去，set 一下，看能不能 get

[2017-11-09 06:27] siddontang commented on #322
你如果发现内存一直上涨，然后停掉测试代码，内存会不会降下来，你这个数据量太大，很可能 GC 忙不过来
你可以在启动 ledis server 的时候传入  --pprof=true，然后看看 curl http://ip:6060/debug/pprof/heap ，这样就能知道具体的 heap 情况

[2017-11-22 21:58] c2h5oh opened #324 "When can we expect 0.6 release?"
I could really use TLS support, but I'd rather pin to a version, not commit.

[2017-11-23 01:30] siddontang commented on #324
@c2h5oh

I think we can pin after #325

[2017-11-23 01:47] c2h5oh commented on #324
I'll add a dockerfile tomorrow - let's include it too.

[2017-11-23 20:20] c2h5oh commented on #324
Preparatory work for Dockerfile is in this pull request https://github.com/siddontang/ledisdb/pull/326

Final pull request will follow in the next hour or so.

[2017-11-24 18:29] c2h5oh commented on #324
Final pull request - Dockefile to allow building new version - https://github.com/siddontang/ledisdb/pull/327

[2017-11-28 05:37] c2h5oh commented on #324
With all 3 merged let's tag it 0.6

[2017-12-02 01:04] #324 closed

[2017-12-05 19:15] nsuper commented on #171
@linked How do you backup and restore your ledisdb? Does #176 resolved?

[2017-12-22 08:15] kaixinbuyu opened #328 "No hlist,qlist command?"
in command wiki,I could not find command qlist,hlist like ssdb.
how can i **list all queues(list),all hash** in database?

[2017-12-22 11:11] kaixinbuyu commented on #328
list or filter queue/hash names

[2017-12-22 11:39] kaixinbuyu commented on #328
从其他地方看到，XSCAN，不知道千万key下regex性能如何

[2017-12-28 05:41] JeffSpies opened #330 "Docker wasn't building"
Sorry this is a quick submission, but I was getting a bad URL error and directory does not exist error.

I've submitted a PR at https://github.com/siddontang/ledisdb/pull/329

[2018-01-04 04:25] #328 closed

[2018-01-08 05:27] rfyiamcool opened #331 "rocksdb, boltdb, leveldb 性能对比？"
能否给出一个 ledisdb 在不同引擎，不同数据结构的性能表现? 谢谢 .

[2018-01-17 02:43] csjc008 opened #332 "build_leveldb.sh有问题"
请将leveldb的git链接改为https, 对于没有ssh key的才可以build.
leveldb.patch位于tools目录下,
并且libleveldb.* 编译后位于 out-static 和 out-shared子目录下, 在脚本中指定的位置上并没有.

[2018-01-17 07:09] siddontang commented on #332
Thanks @csjc008
Please send me a PR to fix it.

[2018-01-24 09:17] #309 closed

[2018-03-03 06:10] palamccc commented on #296
Any plan to support Badger ? Badger claims to have snapshot support. https://github.com/dgraph-io/badger/issues/39

[2018-03-03 06:51] siddontang commented on #296
Hi @palamccc

Have the plan, but now short of time, maybe later to rewrite whole code.

[2018-03-15 09:25] benjafire opened #333 "When the master using a password, slave replication fails"
In server/replaction.go line 106 checkConn function, it doesn't send "auth" command to the master when necessary . So it will cause the "none auth" failure. Try to fix it and change the function like this:
![image](https://user-images.githubusercontent.com/9316473/37454199-e1423796-2874-11e8-894f-3530572478e4.png)
At the same time, config/config.go should add this new field into the RepliactionCon

[2018-03-16 02:37] siddontang commented on #333
Thanks @benjafire

Can we send me a PR?

[2018-03-22 14:43] Charleslvn opened #334 "FAIL: TestStore"
Testing: "/builddir/build/BUILD/ledisdb-0.6/_build/src/github.com/siddontang/ledisdb/store"
+ GOPATH=/builddir/build/BUILD/ledisdb-0.6/_build:/usr/share/gocode
With:
go 1.9.4 x86_64
github.com/siddontang/ledisdb 0. 6

 Hello,
 I try to build and test your project and it fails with :

Could you help me please ?

Thanks

[2018-03-23 01:00] siddontang commented on #334
oh, do you use `make test` to build it?

[2018-03-23 19:25] nim-nim opened #335 "Go 1.10: t_zset_test.go:158: Sprintf format %s has arg qMembs[i] of wrong type ledis.ScorePair"
Release 0.6 does not pass unit tests with Go 1.10. At least:

[code]

[2018-03-25 13:00] siddontang commented on #335
Thanks @nim-nim

I will re-test with 1.10 and fix the problem later, maybe this week.

Or can you help me fix this?

[2018-03-25 13:42] nim-nim commented on #335
Hi honestly can not promise anything, this is part of a mass rebuild of more 700 Go packages with Go 1.10, I'll probably be stuck doing emergency updates and repairs on quite a lot of those before even looking at fixing go vet warnings is possible. Just making the effort to report problems as they're  identified is taking several day.

[2018-03-26 01:21] siddontang commented on #335
Amazing, seem Go 1.10 breaks many packages...

[2018-03-26 10:36] nim-nim commented on #335
It’s mostly just more strict because Google got fed up with small mistakes making complex Go apps fail, but there is a huge pile of small mistakes to fix in existing projects.

[2018-03-28 06:44] benjafire commented on #333
@siddontang , Sorry for replying so late. The PR has been created. https://github.com/siddontang/ledisdb/pull/336 . Hope this project gets better and better. :-)

[2018-03-28 09:50] #333 closed

[2018-03-30 19:51] mstory21 opened #339 "Full sync replication with RocksDB is inefficient"
Is work being done to switch the full sync to use RocksDB checkpoints?  I have a 232GB database that I'm trying to sync to a slave and it's taking hours to create the snapshot.  Short of that, are there any recommendations to speed it up?

[2018-03-30 23:57] siddontang commented on #339
hi @mstory21

Can you tell me where the bottleneck?

1. Scanning all data from the RocksDB snapshot and writing to a file
2. Sync to the slave
3. Apply the snapshot to the slave

I guess step 3 may take a long time, is it?

[2018-04-02 17:15] mstory21 commented on #339
The main problem is 1.  It took a long time to write the dmp file out to disk and put undue stress on the box that was currently handling traffic.  Number 3 was also an issue, but it is not as concerning as 1.

[2018-04-03 03:40] siddontang commented on #339
so the bottleneck may be the compression? if yes, maybe we should use a config to control it.

[2018-04-04 16:27] mstory21 commented on #339
I'm currently not using compression

[2018-04-04 16:30] mstory21 opened #340 "Crash in repair"
I'm getting this crash occasionally at boot.  Looks like when the replication log needs repaired.  Are these recommended settings to reduce replication log corruption?

[code]

[2018-04-04 16:32] mstory21 commented on #340
Currently using mmap, sync every second, store type of file.

[2018-04-04 20:18] mstory21 opened #341 "I/O timeouts after master connection severed"
I have a slave that I'm failing over to by bringing the master down.

[2018/04/04 20:05:00] replication.go:211 [Error] sync error read tcp 10.0.0.30:33436->10.0.0.31:6382: read: connection reset by peer
[2018/04/04 20:05:00] replication.go:170 [Error] check master 10.0.0.31:6382 connection error write tcp 10.0.0.30:33436->10.0.0.31:6382: use of closed network connection, try 3s later

The slaveof

[2018-04-06 11:03] 928799934 opened #342 "ledis 是否具备 redis 内的keys命令？"
ledis 是否具备 redis 内的keys命令？
如果想列出ledis 内的key 要用什么命令呢？

[2018-04-07 13:55] siddontang commented on #339
LedisDB will use snappy in full dump.

[2018-04-07 14:10] siddontang commented on #341
Thanks @mstory21

Sorry that I have no time to improve replication, I have to re-think and re-browse the whole codes to remember why I did this before.

I will refactor the whole replication later, maybe break the compatibility.

[2018-04-07 14:11] siddontang commented on #340
Thanks, @mstory21

I must re-browse whole codes to figure it out, maybe I will refactor all soon.

[2018-04-09 15:12] c2h5oh commented on #339
The problem is definitely creating a db dump, which at least with RocksDB goes as follows:

1. Create a temporary rocksdb snapshot (`dmp-<timestamp>.tmp`)
2. Read temporary rocksdb snapshot and write ledisdb dump

First step is bottlenecked on read IO, specifically random read operations per second. In my case it maxes out IOPS, but read throughput remains low: 15-25% of disk sequential read speed

[2018-04-17 00:02] mstory21 commented on #341
The Dial just needs to be changed to a DialTimeout in github.com/siddontang/ledisdb/vendor/github.com/siddontang/goredis/conn.go.

[2018-04-17 14:14] siddontang commented on #341
can you send me a PR? @mstory21

[2018-04-18 12:14] mstory21 commented on #341
Will send you a PR today.

[2018-04-18 12:16] mstory21 opened #344 "SMembers not consistent between replicated databases"
My master database has this:

[centos@matt4 run3]$ sudo docker exec -it 8b0a6b54771b redis-cli -p 6382 smembers 00000019-Tags
 1) "$$BankId"
 2) "$$CVV"
 3) "$$ClientSecret"
 4) "$$DrugName"
 5) "$$PIN"
 6) "$$SSN"
 7) "$$Tag0"
 8) "$$Tag1"
 9) "$$Tag2"
10) "$$Tag3"
11) "$$Tag4"
12) "$$Tag5"
13) "$$Tag6"
14) "$$Tag7"
15) "$$Tag8"
16) "$$Tag9"
[centos@matt4 run3]$ sudo docker exec -it 8b0a6b54771b

[2018-04-19 00:06] siddontang commented on #344
oh, does the slave fall behind the master?  Every time you insert a member, the slave can't see it?

[2018-04-22 20:26] mstory21 commented on #344
I believe at some point the databases became inconsistent, perhaps on the key that counts how many members are in the set.  I was doing a lot of failover testing at the time.  So this could be related to replication.

[2018-04-23 04:29] siddontang commented on #344
hi @mstory21

Do you mean that the data can be eventually consistent? If yes, seem this the problem of the speed of async replication, and it certainly exists. Maybe we should think how to speed up it.

[2018-05-15 14:37] Xeoncross opened #346 "How to export/backup data when using ledisdb as a Go package?"
I see that if you are running a stand-alone server of ledisdb you can use [ledis-dump](https://github.com/siddontang/ledisdb/blob/master/cmd/ledis-dump/main.go) to connect and `syncfull` to a file.

However, if you are using [ledisdb as a package](https://github.com/siddontang/ledisdb#package-example), how can you backup the data in the data folder? Can you issue the same `c.Send("fullsync")` and

[2018-05-23 02:40] EdKung commented on #340
Same problem here.
In my case, services which manipulate dbs is stopped first for caution.
However, db crashed after normally restart the ledis-server.
Any recommendations to hard fix by truncating some logs or other possible ways?
Thanks.

[code]

[2018-05-24 17:16] Xeoncross opened #347 "How do you scan the whole db collection?"
I am trying to understand how to use the 'Scan' commands to iterate over an entire database. Is something like this correct?

	var v [][]byte
	types := []ledis.DataType{ledis.KV, ledis.LIST, ledis.HASH, ledis.SET}

    loop:
	for _, keyType := range types {
		var cursor []byte
		for {

			if v, err = db.Scan(keyType, cursor, 3, false, ""); err != nil {
				break loop
			}

			if len(v) == 0 {

[2018-05-30 17:03] Xeoncross opened #348 "Recomended way to store latitude / longitude / geo cordinates?"
I would like to index objects by their latitude / longitude for searching. So far the best I've come up with is to create `360 * 360 = 129,600` sets for each latitude and longitude degree. Then UNION
the sets covering the 1x1, 2x2, 3x3, etc.. grid of area you want. (`3x3` would be a 180 mile square)

Degrees of latitude are parallel so the distance between each degree remains
almost constant but s

[2018-06-02 01:46] siddontang commented on #348
Hi @Xeoncross

Sorry for the late reply, I am very busy these days.

Your case is very interesting, I have never thought about it. Using Sets is a way, or maybe we can use Lists, E.g.:

[code]

You can use 360 items or more in one list. Each item represents one longitude. E.g, the first item is lng:-180, ... lng:0, ... lng:180

So if you want to search an area, you can call Redis List `LRANGE` for

[2018-06-18 19:05] Xeoncross commented on #348
Did you suggest lists because they take up less space or are faster for lookups?

Are you saying each item in the list is an object that contains all keys for the actual objects in that longitude? I don't understand how lists would work since lists are 0 indexed so the list would have to be

    lat:32 -> list [
        0: {34, 521, 94, ...},
        1: {...},
        ...,
        360: {..}
    ]

[2018-06-29 11:32] joesis opened #349 "Can't DEL a hash?"
Below code give me this result:
[code]

[code]

[2018-07-04 05:01] justinfx commented on #286
Sorry to comment on an old thread, but I just came across this issue while searching if another problem I had was already posted....

I have been porting an implementation using boltdb over to ledisdb and had selected a Zset as a way to support a queue of values that is ordered by an incrementing integer key. Then I just randomly saw that internally the ordered set is capped to 1024. Historically,

[2018-07-26 18:15] laverya opened #350 "ledisdb.com has expired"
As can be seen by visiting [ledisdb.com](http://ledisdb.com/?reqp=1&reqr=), the registration has expired.

![image](https://user-images.githubusercontent.com/2318911/43280216-12b56baa-90c5-11e8-9941-c09eb786df3c.png)

[2018-07-27 14:10] siddontang commented on #350
oh, forget to renew 😭

[2018-08-15 23:12] rfyiamcool opened #351 "concurrent request atomic operate by lua scritps in ledisdb ?"
I know many commad in redis lua scripts is atomic, but don't sure atomic in ledisdb.

thank you.

enjoy it ~

[2018-08-16 15:58] siddontang commented on #351
hi @rfyiamcool

not atomic, unlike redis, ledisdb is multi-thread, and allows other goroutines still operates the data.

[2018-09-10 12:58] prettyyjnic opened #352 "pprof得到的是空文件"
go version go1.10.3 linux/amd64

使用
`./bin/ledis-server -pprof`
来启动

使用
`go tool pprof http://localhost:6060/debug/pprof/profile?seconds=2`
 来调试

Fetching profile over HTTP from http://localhost:6060/debug/pprof/profile?seconds=2
Saved profile in /home/xxx/pprof/pprof.ledis-server.samples.cpu.001.pb.gz
File: ledis-server
Type: cpu
Time: Sep 10, 2018 at 8:56pm (HKT)
Duration: 2s, Total samples = 0

[2018-09-11 06:28] prettyyjnic commented on #352
It seem's like that it‘s because of windows 10 Ubuntu sub operation.
The problem solve while i used VMware

[2018-10-02 02:33] liuhaochuan1 opened #353 "行为表现不符合预期"
1. 当key不存在时 Get并不会返回任何错误, 只是返回一个空结果.  空结果有二义性,期待的结果是返回一个明确的错误.

2. 通过Set写入的数据,再设置Expire,当过期后key并不会被删除,只是ttl返回-1 期待的结果是key被删除.

package main

import (
	"fmt"
	"time"

	"github.com/siddontang/ledisdb/config"
	"github.com/siddontang/ledisdb/ledis"
)

func main() {

	cfg := new(config.Config)
	cfg.DataDir = "./testdb"

	l, _ := ledis.Open(cfg)
	db, _ := l.Select(0)

	key := []byte("aaa")
	value := []b

[2018-10-20 10:57] unisqu opened #354 "Great software! 3 questions"
1. Any lib example? Trying to use as a package ledis. cant seem to find any useful information on how to use as a package

I'm running golang as "daemon" and doesnt work this way, how do I resolve?

                     var cfg = lediscfg.NewConfigDefault()
                     cfg.DBName := "RAM"

returns

                      syntax error: non-declaration statement outside function body

I don'

[2018-10-20 13:09] unisqu opened #355 "http://siddontang.com/introduction-to-ledisdb/"
website not working on wiki

[2018-10-21 11:44] siddontang commented on #355
oh, I forget to renew for my domain.

[2018-10-21 11:47] siddontang commented on #354
1. can you provide the test code?  HMget is for hash, for for list.
2. No plan now
3. One is Go vs C++, the other may B+ Tree vs LSM.

[2018-10-21 15:28] unisqu commented on #354
1. What I would like to achieve:
https://pastebin.com/raw/DZheFgwX

2. OK.

3. Alright. Thanks. Appreciate this.

[2018-10-22 10:49] unisqu commented on #354
Very good.

[2018-10-22 10:49] #354 closed

[2018-10-22 11:01] unisqu opened #356 "Why ram but still so slow?"
I've tried the RAM config, it "works"... I've no idea if it's really using the RAM or not but it's really really really slow even when used as a library/package.

a simple benchmark loop of 100,000 items shows 6s on my PC for HMSET and 6s for HMGET. very slow compared with simple SET and GET (100ms on GET only and 1s on SET only)
https://github.com/siddontang/ledisdb/issues/354

Why is this so? Ha

[2018-10-22 11:22] unisqu opened #357 "RAM is very slow for HMset and and HMget"
https://github.com/siddontang/ledisdb/issues/354

extremely slow, how do I speed it up? Afterall, I'm using RAM, using redis directly is 2x slower (because of the TCP roundtrip i suspect) but other in-memory such as freecache is running around 50ms average for both SET and GET.

Currently with the example you have provided, I'm running HMset at 6s. Can you pls give example on how to speed this up?

[2018-10-22 11:33] unisqu commented on #357
I'm using https://github.com/siddontang/ledisdb/issues/354

it's actually as a package. How do I do cfg.DBName = "RAM" from a package called "myLedisDB"?
I dont know how to call it in func main() too... but I prefer it's set inside "myLedisDB" package. Can you provide some guidance? Thanks.

[2018-10-22 13:07] siddontang commented on #357
IMO, I can't get your point about how to set "RAM", you can set it every where before you initialize ledisdb.

Can you give me your benchmark case? 6s is too slow.

[2018-10-22 17:31] unisqu commented on #357
6s for 100,000 HMset, around 16666.6667 HMset per second. I would like to speed this up because I'm getting freecache for 100,000 set at 1s

possible to improve this? 16k hmset request/s i think it can be much higher.

[2018-10-22 17:47] unisqu commented on #357
try this :
https://pastebin.com/raw/df4pMAsz

[2018-10-23 05:40] siddontang commented on #357
@unisqu

The RAW mod you used is wrong, here is my change:

[code]

Above can use the memory mode. But this is still slower than freecache, some reasons:

+ You set multi field-values, each pair is a new key-value written, so the number of total written keys is 4 times than freecache.
+ HMset and HExpire also need to write meta data, another extra two Write operations.
+ HMSet and HExpire also nee

[2018-10-23 06:09] siddontang commented on #357
another thing is that even we use memory mode, goleveldb will still write data to WAL which will cause another I/O...

[2018-10-23 14:01] unisqu commented on #357
1. I see a significant improvement from 6.5s to 5.3s with the above change. Thx

2. I see, how to disable the WAL? I need it in memory mode only.

3. there's advantage to using hash data type in cache on my application. if memory is exceeded, what will happen? the hash "key" is dropped based on LRU?

[2018-10-23 14:02] unisqu commented on #357
by the way, i'm quite surprised there's no easier way to rewrite this... seems very "redundant/extra"

           c := ledis.FVPair{Field: []byte("c" + urlreq), Value: []byte(htmlcode)}
           h := ledis.FVPair{Field: []byte("h" + urlreq), Value: []byte(qwcache)}
           t := ledis.FVPair{Field: []byte("t" + urlreq), Value: []byte(strconv.Itoa(timeNow))}
           s := ledis.FVPair{Field:

[2018-10-23 14:08] #356 closed

[2018-10-23 14:08] #355 closed

[2018-10-24 00:51] siddontang commented on #357
@unisqu

There is no way to disable WAL, you have to change the goleveldb code, but I don't know wether it is right or not. You can comment https://github.com/siddontang/ledisdb/blob/master/vendor/github.com/syndtr/goleveldb/leveldb/db_write.go#L244

For memory mode, all data will be saved in memory, no LRU, so you may meet OOM.

you can use

[code]

to simplify your code.

[2018-10-24 00:53] siddontang commented on #357
IMO, if you care too much about performance and just want a cache now, my project is not a good choice for you, because I have no time to improve it.

[2018-10-24 03:18] unisqu commented on #357
1. is there a quick fix to this? limiting ram usage and evicting based on LRU. do you mind pointing me to where i can fix this myself? i can buy you a few more coffee for this feature.

2. ok i've seen the code to goleveldb... i think i can comment enough things to skip those goleveldb sections.

truly, this package is more useful if purely MEMORY only. I really thought it was just memory only but

[2018-10-24 07:56] siddontang commented on #357
maybe we can try other memory engines instead. But you must realize that LedisDB is not designed for cache. So if you forget to expire the key, you will meet OOM.

This is not one day or one-weekend work, and another problem is that I have not enough time even at the weekends these days.  To my honest, I want many guys to use my project, but now I have to suggest not using this project because it

[2018-10-24 14:10] unisqu commented on #357
do you have alternatives for the moment that uses hash like data structure for cache in golang? in-memory

[2018-10-28 04:13] siddontang commented on #357
maybe https://github.com/golang/groupcache?

[2018-10-28 06:00] unisqu commented on #357
it doesn't have hash key field value
only key value

[2018-12-16 18:48] #357 closed

[2019-01-08 03:37] FanyuxiNIE commented on #332
能否打一份正确的build文件

[2019-01-18 01:32] FanyuxiNIE commented on #197
I meet some problem like yours,do you mean how to slove?what is LMCLEAR?

[2019-01-18 10:48] ivanjaros commented on #348
usually, geolocation is stored in form of geohash in uint64 form, not in floats. See https://github.com/mmcloughlin/geohash#func--encodeintwithprecision

[2019-01-28 05:42] dev-shinyu opened #361 "I want to use the ranking system."
Dear Siddontang

I used redis as a ranking collection function only.

It was very easy to implement using the api of go-leaderboard git

https://github.com/dayvson/go-leaderboard

I'd like to migrate to high-performance ledis to overcome the limitations of redis memory

Is there a simple way to migrate to the ledis?

I checked out that the redis command used in the go-leaderboard project was suppo

[2019-02-04 21:49] justinfx opened #362 "Example using 'memory' store without filesystem access"
I'm trying to use the goleveldb "memory" `DBName` with unit tests. But it seems the process of opening any configured DB store always makes directories and files (LOCK, ...). Is this required with the in-memory store option? Is there an example of using the in-memory store without the filesystem being accessed?

[code]

[2019-02-05 04:59] siddontang commented on #362
Hi @justinfx

Now memory mode uses goleveldb but it still creates WAL and some files. I will choose a pure memory implementation.

[2019-02-05 05:06] justinfx commented on #362
Thanks for the clarification! If it doesn't need to create the files, that would be pretty cool to have a pure memory impl so I don't have to clean up temporary directories :-)

Also, thanks for this cool project.

[2019-02-11 07:26] kaixinbuyu opened #364 "can ledis-cli connect to a ledis-server in package mode ?"
I start a build-in package ledis server(on windows,default configuration),
then try to connect with ledis-cli ,failed message: "No connection could be made because the target machine actively refused it.".

So can ledis-cli connect to a ledis-server in package mode ?

[2019-02-18 10:46] justinfx commented on #305
Hi. I know this is an older thread but I didn't want to start a new one since there are already a few about transaction support.

It seems goleveldb supports transactions?
https://godoc.org/github.com/syndtr/goleveldb/leveldb#Transaction

So if the 3 options left are leveldb, goleveldb, and rocksdb, is the leveldb option the only one holding back transaction support? If so, is there a real benefit

[2019-02-18 14:07] siddontang commented on #305
@justinfx

I've not known goleveldb now supporting the transaction, it is very cool, but I worry about the performance. Maybe RocksDB may still be the best choice.

Another choice is to introduce badger which supports transaction too.

[2019-02-18 18:39] justinfx commented on #305
@siddontang
I did have a project where I switched from Bolt to Badger and it was a decent performance boost. I feel like goleveldb is the "easy" option right now since it doesn't require any external building, and that someone choosing goleveldb would know about its strengths and weaknesses vs rocksdb. But Badger would be another easy embeddable option. However, in terms of Ram-only db, Badger doe

[2019-02-19 00:39] siddontang commented on #305
@justinfx

As sad as I know, even we use memory mode for goleveldb(maybe latest version has fixed this, but I don't know), it still needs to operate files because of WAL. So now I have been searching a really pure memory implementation. :-)

[2019-02-26 12:37] popadi commented on #117
Is there a way to get all the keys using a regex/pattern? In Redis, there is the KEYS function that does that and I am wondering if the same behaviour can be obtained using LedisDB. Right now, using the redis client connected to a ledisdb instance gives an error:

[code]
=>
[code]

Thanks!

[2019-03-06 09:53] popadi opened #365 "Ledisdb keyspace notification support"
Hello!

I was wondering if ledisdb has a keyspace notifications feature as Redis does [1] or any other mechanism that I am able to use to simulate a callback when a specific event occurs. In my use-case for example, most of the keys expire after 24h and I'd like to run a callback function when this happens (I'd like to subscribe somehow to these events).

I tried [this](https://medium.com/@micah1p

[2019-03-19 21:53] siddontang commented on #365
Sorry @popadi

Now we haven't supported this feature, and it is not in the plan because I am too busy. 😭

[2019-03-19 22:56] popadi commented on #365
Okay, thanks for the answer!

[2019-04-01 10:00] hiqbn opened #367 "Is this still supported? begin, commit etc"
https://github.com/siddontang/ledisdb/issues/140

[2019-04-29 05:23] g98051815 opened #368 "LedisDB的wiki被劫持"
LedisDB的wiki被劫持，点击后跳转到不明网站
https://github.com/siddontang/ledisdb/wiki
Introduction-PPT 此链接点击后会跳转到不明网站

[2019-06-25 09:18] shenlongxing commented on #349
Any progress about this? I met the same problem. Or just use 'hclear' instead?

[2019-08-01 22:24] luckcolors opened #370 "The official website domain expired!"
[code]

[2019-10-17 04:13] justinfx commented on #347
This was a helpful example. Thanks :-)

[2019-11-11 11:24] gq17 commented on #362
Is it possible to configure big memory space(writebuffersize*Min(maxwritebuffernum, minwritebuffernumtomerge)) so that only memory is used with rocksdb?
I set following configuration and put 20G data totally, the filesystem is still used with L0 and L1

cfg.RocksDB.WriteBufferSize = 1024 * 1024 * 1024
cfg.RocksDB.MaxWriteBufferNum = 40
cfg.RocksDB.MinWriteBufferNumberToMerge = 40

with log--------

[2019-11-17 13:54] nonpcnpc commented on #370
too late, it has been snatched already 😄

[2019-12-06 17:12] siavashs commented on #370
Please remove it from the GitHub project page.

[2020-04-24 05:02] lunny commented on #370
Now it's https://ledisdb.io .

[2020-04-24 05:02] #370 closed

[2020-04-24 05:10] lunny commented on #350
Now it's https://ledisdb.io .

[2020-04-24 05:10] #350 closed

[2020-04-24 05:12] lunny commented on #255
Now we use go mod to manage repository.

[2020-04-24 05:12] #255 closed

[2020-04-24 05:13] lunny commented on #240
Now we use go mod.

[2020-04-24 05:13] #240 closed

[2020-04-24 05:57] lunny commented on #368
Fixed.

[2020-04-24 05:57] #368 closed

[2020-04-24 06:02] lunny commented on #347
I think it's right. @siddontang

[2020-04-24 06:02] #347 closed

[2020-04-24 06:02] #311 closed

[2020-04-24 06:03] #306 closed

[2020-04-24 06:05] #257 closed

[2020-04-24 06:07] #187 closed

[2020-04-24 06:09] lunny commented on #186
Now we use go mod.

[2020-04-24 06:09] #186 closed

[2020-04-24 06:11] lunny commented on #164
Closed since we moved to go mod.

[2020-04-24 06:11] #164 closed

[2020-04-24 06:12] lunny commented on #175
I think we should make an interface and users could implement their backend.

[2020-04-24 06:17] #168 closed

[2020-04-24 06:21] lunny commented on #367
This feature has been removed.

[2020-04-24 06:21] #367 closed

[2020-04-24 06:21] #319 closed

[2020-04-24 06:22] #352 closed

[2020-04-24 06:29] #330 closed

[2020-04-24 06:30] lunny commented on #258
The limiatation is based on lebeldb and rocksdb.

[2020-04-24 06:30] #258 closed

[2020-04-24 06:30] #335 closed

[2020-04-26 03:16] lunny opened #380 "Merge all commands as one"
I propose that merge all commands as one command: `ledis`. All previous commands will be as the sub commands.

- ledis [server] // start ledisdb server
- ledis repair
- ledis cli
- ledis dump
- ledis load

@siddontang

[2020-04-26 03:23] lunny commented on #364
Of course it should.

[2020-04-26 03:23] #364 closed

[2020-04-26 03:26] lunny commented on #361
I think you can migrate redis data to ledis.

[2020-04-26 03:29] #313 closed

[2020-04-26 03:34] #299 closed

[2020-04-26 03:35] #298 closed

[2020-04-26 03:36] #351 closed

[2020-04-26 03:39] lunny commented on #286
@justinfx for an unique queue, you have to save another key copy on a set included a list.

[2020-04-26 04:38] lunny commented on #323
Closed as expired.

[2020-04-26 04:38] #323 closed

[2020-04-26 04:39] #317 closed

[2020-04-26 04:43] #230 closed

[2020-04-26 04:46] #213 closed

[2020-04-26 04:47] #278 closed

[2020-04-26 04:51] #200 closed

[2020-04-26 04:51] #202 closed

[2020-04-26 04:54] #265 closed

[2020-04-26 04:54] #264 closed

[2020-04-26 04:55] #263 closed

[2020-04-26 04:55] #271 closed

[2020-04-26 06:39] #243 closed

[2020-04-26 11:54] lunny commented on #171
We need some showcase on doc.

[2020-04-26 11:55] #237 closed

[2020-04-26 12:00] #165 closed

[2020-04-26 12:02] lunny commented on #234
I like the idea, so that we can move most database interface out of the main repository. We just need to focus the main repository.

[2020-04-26 12:02] #232 closed

[2020-04-26 12:03] #231 closed

[2020-04-27 01:48] lunny commented on #157
Please give more detail.

[2020-04-27 01:54] #176 closed

[2020-04-27 01:57] #188 closed

[2020-04-27 02:03] lunny commented on #334
Since the CI now PASS, please let me know what did you do.

[2020-04-27 02:03] #334 closed

[2020-04-27 02:03] #239 closed

[2020-05-09 13:30] #380 closed

[2020-05-10 02:54] lunny commented on #349
HDEL could delete the key.

[2020-05-10 03:23] lunny commented on #170
I think this has been implemented. See https://github.com/ledisdb/ledisdb/blob/master/server/cmd_hash.go#L310 . I will close this now and feel free to reopen it.

[2020-05-10 03:23] #170 closed

[2020-05-10 03:38] lunny commented on #256
Could this problem be fixed by `ledis repair`? @siddontang

[2020-05-10 04:57] #208 closed

[2020-05-10 05:36] lunny commented on #175
Closed since it has been done.

[2020-05-10 05:36] #175 closed

[2020-05-17 23:35] #118 closed

[2020-05-17 23:35] #152 closed

[2020-05-17 23:35] #72 closed

[2020-05-17 23:35] #207 closed

[2020-05-17 23:35] #212 closed

[2020-05-17 23:35] #214 closed

[2020-05-17 23:35] #242 closed

[2020-05-17 23:35] #252 closed

[2020-05-17 23:35] #267 closed

[2020-05-17 23:35] #117 closed

[2020-05-21 07:18] qzqsmile commented on #275
有些疑问，存到磁盘是可以解决redis内存占用过大的问题。但存取速度是怎么解决

[2020-05-21 12:43] lunny commented on #275
It converts random write to sequence random to resolve the speed problem!

[2020-05-21 13:37] qzqsmile commented on #275
Thanks for your answer

[2020-06-07 18:52] ghost opened #390 "memory backend crashes when loading config"
Hello,

I was able to create a segfault in ledis. To reproduce this behavior, perform the following steps:

1. clone ledisdb
2. change config.toml db_name = "memory"
3. disable TLS in the config:
+#[tls]
+#enabled = true
+#certificate = "test.crt"
+#key = "test.key"

4. run bin/ledis -c config/config.toml

observe:
Version 0.6+26-gd35789e
panic: runtime error: invalid memory address or nil pointer

[2020-06-07 18:58] ghost opened #391 "zset integer/float incompatibilities"
Hello,

RedisLabs supplies a recommendation engine. It relies on floating-point functionality available from sorted sets as documented here: https://redis.io/commands/zadd in the "Range of integer scores that can be expressed precisely".

Ledis ZSET functionality supports only int. As a result, testing their package: https://github.com/RedisLabs/redis-recommend against Ledis results in the followi